<div class="mc-flex">
  <mc-header title="{{ 'เปิดเบอร์ใหม่' | translate }}">
    <div class="header-icon-left w-25">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right w-25 text-right">

      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap">
    <div class="mt-3 mb-3">
      <mc-wizard [wizards]="wizards" active="3"></mc-wizard>

      <mc-confirm-customer-info title="สรุปข้อมูล" [confirmCustomerInfo]="confirmCustomerInfo">
      </mc-confirm-customer-info>

      <app-omni-new-register-billing-info [billingInfo]="billingInfo" [view]="true" (editAddress)="onEditAddress()">
      </app-omni-new-register-billing-info>

      <mc-mail-billing-info [eBill]="eBill" [mailBillingInfo]="mailBillingInfo" (completed)="onMailBillingInfoCompleted($event)"
        (error)="onMailBillingInfoError($event)">>
      </mc-mail-billing-info>

      <mc-tel-no-billing-info [telNoBillingInfo]="telNoBillingInfo" (completed)="onTelNoBillingCompleted($event)"
        (error)="onTelNoBillingError($event)">
      </mc-tel-no-billing-info>

      <app-omni-new-register-summary-seller-code></app-omni-new-register-summary-seller-code>
    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
    <button class="btn btn-success" (click)="onNext()" [disabled]="!(isNext && isTelNoBillingValid && isMailBillingInfoValid)">NEXT</button>
  </mc-footer>
</div>