$mc-icon-remark: url("assets/images/icon/icon-exclamation.png");
$mc-icon-gift-box: url("/assets/images/icon/icon-giftbox.png");
$mc-icon-information: url("/assets/images/icon/icon-information.png");
$mc-icon-list: url("/assets/images/icon/icon-list.png");
$mc-icon-wallet: url("/assets/images/icon/icon-wallet.png");
$mc-icon-mobile: url("/assets/images/icon/icon-mobile.png");
$mc-icon-time: url("/assets/images/icon/icon-time.png");
$mc-icon-gauge: url("/assets/images/icon/icon-gauge.png");
$mc-icon-star: url("/assets/images/icon/icon-star.png");
$mc-icon-csp: url("/assets/images/icon/icon-csp.png");
$mc-icon-mobile-white: url("/assets/images/icon/icon-mobile-white.png");
$mc-icon-cart: url("/assets/images/icon/icon-cart.png");
$mc-icon-exclamation: url("/assets/images/icon/icon-exclamation.png");
$mc-icon-arrow-left: url("/assets/images/icon/icon-arrow-left.png");
$mc-icon-arrow-right: url("/assets/images/icon/icon-arrow-right.png");
$mc-icon-arrow-bottom: url("/assets/images/icon/icon-arrow-bottom.png");
$mc-icon-pink-circle: url("/assets/images/icon/icon-pink-circle.png");
$mc-icon-green-check: url("/assets/images/icon/icon-green-check.png");

.circle {
  display: inline-block;
  border-radius:50%;

  &--large {
    width: 103px;
    height: 103px;
  }

  &--mediumlarge {
    width: 73px;
    height: 73px;
  }

  &--medium {
    width: 52px;
    height: 52px;
  }

  &--small {
    width: 31px;
    height: 31px;
  }

  &__icon{
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50%;

    &--gift-box {
      background-image: $mc-icon-gift-box;
    }
    &--information {
      background-image: $mc-icon-information;
      background-size: 15%;
    }
    &--list {
      background-image: $mc-icon-list;
    }
    &--wallet {
      background-image: $mc-icon-wallet;
    }
    &--mobile {
      background-image: $mc-icon-mobile;
      background-position: 60% 50%;
    }
    &--time {
      background-image: $mc-icon-time;
    }
    &--gauge {
      background-image: $mc-icon-gauge;
    }
    &--star {
      background-image: $mc-icon-star;
    }
    &--csp {
      background-image: $mc-icon-csp;
    }
    &--mobile-white {
      background-image: $mc-icon-mobile-white;
    }
    &--cart {
      background-image: $mc-icon-cart;
    }
    &--exclamation {
      background-image: $mc-icon-exclamation;
    }
    &--exclamation-active {
      background-image: $mc-icon-exclamation;
      background-size: 15%;
    }
    &--birthday {
      background-image: $mc-icon-gift-box;
    }
  }
}


