$break-mobile: 320px;
$break-tablet-portrait:	768px;
$break-tablet-landscape: 1024px;
$break-desktop: 1024px;

$navigation-bar-height: 66px;
$tabs-height: 66px;
$navbar-height: 52px;
$navbar-tab-height: 66px;
$breadcrumb-height: 52px;
