<div class="mc-flex">
  <div class="mc-flex-wrap">
    <div class="mt-3 mb-3">
      <mc-wizard [wizards]="wizards" active="2"></mc-wizard>
      <div class="container-fluid">
        <div class="card mb-3">
          <h5 class="card-header bg-teal text-white">บริการโมบายแคร์</h5>
          <div class="card-body text-center">
            <div class="p-2">
              <div class="pull-left" id="text-current-package">แพ็กเกจปัจจุบัน</div>
              <div class="pull-right" id="text-model">IPHONE7128</div>
            </div>
            <div class="bg-blue-grey mt-5 pb-4 float-none">
              <div class="p-3">
                <div class="pull-left" id="text-current-mobile-care">AIS Mobile Care Swap</div>
                <div class="pull-right" id="text-mobile-care-price">฿0</div>
              </div>
            </div>
          </div>
        </div>

        <div class="bg-white border">
          <p class="pt-2 pl-2">ท่านต้องการเปลี่ยนบริการโมบายแคร์กับเครื่องใหม่ APPLE iPhone X 256GB ใช่ หรือ ไม่?</p>
          <div class="row p-3 pl-4 pt-1">
            <div class="col-6">
              <input type="radio" id="button-yes">
              <label for="button-yes">ใช่</label>
            </div>
            <div class="col-6">
              <input type="radio" id="button-no">
              <label for="button-no">ไม่ใช่</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>