h3{
    text-align: center;
    color: #5baeee;
}

.search-btn{
    background-color: white;
    border: none;
}

.mobile-input{
    width: 86%;
    font-size: 19px;
    text-align: center;
    padding: 1% 1%;
    border: none;
}

.box-search{
    text-align: center;
    border: 1px solid #e9dfdf;
    width: 50%;
    margin-left: 25%;
    border-radius: 1%;
    float: left;
}

.btn-get-otp{
    width: 10%;
    font-size: 23px;
    margin-left: -10%;
    padding: 13px;
    color: white;
    background-color: #5baeee;
    border: none;
}