.camera-width {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;

    img {
        width: 100%;
    }
}

.icon-people {
    width: 40% !important;
    margin: 0 auto;
    display: block;

}
.icon-people-wrap {
    width: 53% !important;
    height: 100% !important;
    position: absolute;
    left: 50%;
    z-index: 1;
    bottom: 0;
    transform: translate(-50%, 0);
}

.icon-camera { 
    width: 60px;
}

.img-result {
    height: 576px;
}

.center {
    text-align: center;
}