<div class="mc-flex">
  <mc-header title="เปลี่ยนเติมเงินเป็นรายเดือน">
    <div class="header-icon-left">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap">
    <div class="mb-3 mt-3">
      <mc-wizard [wizards]="wizards" active="1"></mc-wizard>
      <div class="container-fluid">
        <div class="card">
          <div class="card-body text-center">

            <p>ระบุรหัส OTP ที่ได้รับ</p>
            <hr>
            <form [formGroup]="otpForm">
              <div class="form-group">
                <input type="tel" class="form-control text-center" id="otp" maxlength="5" minlength="5" placeholder="กรุณาใส่รหัสที่ได้รับจาก SMS" autofocus
                  autocomplete="off" formControlName="otp">
              </div>
              <div class="text-light-grey mt-4 pb-5">
                <div>รหัส OTP มีอายุใช้งาน 15 นาที</div>
                <div>หากไม่ได้รับรหัส กรุณาตรวจสอบหมายเลขโทรศัพท์อีกครั้ง</div>
              </div>
              <div class="row">
                <div class="col-6 col-sm-6 text-center">
                  <a (click)="sendOTP()"><u>ขอรับรหัสใหม่</u></a>
                </div>
                <div class="col-6 col-sm-6 text-center">
                  <button [disabled]="!otpForm.valid" type="submit" id="btnOtp" class="btn btn-success btn-lg" (click)="verifyOTP()">ตกลง
                  </button>
                </div>
              </div>


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
    <!-- <button class="btn btn-success" (click)="onNext()">NEXT</button> -->
  </mc-footer>
</div>