// .btn-success {
//     // font-family: "db_helvethaicaais_x55_regular";
//     padding: 22px 0;
//     width: 100%;
//     max-width: 350px;
//     font-size: 100%;
//     border-radius: 6px;
//     border: 2px solid white;
//     background-color: #cced61;
//     color: #74a722;
// }

.queue-number{
    border: 1px solid #bdbdbd;
    padding: 4em;
    margin: 0em 10em;
}
.deposit-queue-background{
    background-color: white;
    padding-bottom: 8em;

}
// .imagecorrect{
//     width : 80px;
// }
