<div class="mc-flex">
  <mc-header title="{{ 'วิธีเลือกตัดเงินในกระเป๋า' | translate }}">
    <div class="header-icon-left w-25">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right w-25 text-right">
      <!-- <mc-dropdown-language></mc-dropdown-language> -->
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap">
    <div class="mb-3 mt-3">
      <div class="container-fluid">
          <form [formGroup]="vasPackageFrom">
          <div class="card mb-3">
              <div class="card-body">
                  <div class="input-group mb-3">
                      <div class="input-group">
                        <input type="radio" id="vasPackageRom" formControlName="vasPackageRom" value="1">
                        <label for="vasPackageRom">ตัดกระเป๋าเงินคนขาย</label>
                      </div>
                  </div>
              </div>
          </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group">
                          <input type="radio" id="vasPackageEndUser" formControlName="vasPackageRom" value="2">
                          <label for="vasPackageEndUser">ตัดกระเป๋าเงินลูกค้า</label>
                        </div>
                    </div>
                </div>
            </div>
          </form>
      </div>
    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
    <button class="btn btn-success" (click)="onNext()" [disabled]="vasPackageFrom.invalid">NEXT</button>
  </mc-footer>
</div>