@media (max-width: 576px) {
    .header-icon-left,.header-icon-right{
        width: 10% !important;
    }
}

.button {
    background: white;
    border-radius: 5px;
}

.button:active{
    background: #9fc540;
}
