@media (max-width: 576px) {

  .header-icon-left,
  .header-icon-right {
    width: 10% !important;
  }
}

.button {
  background: white;
  border-radius: 5px;
}

.button:active {
  background: #cced61;
}

.navbar-brand {
  margin: 0 auto
}

.bg-ais {
  color: black;
  background-color: #cced61;
}
