<div class="mc-flex">
  <mc-header title="เปิดเบอร์ใหม่"></mc-header>
  <div class="mc-flex-wrap">
    <div class="mt-3 mb-3">
      <mc-wizard [wizards]="wizards" active="2"></mc-wizard>
      <mc-one-love [oneLove]="oneLove" [checkMobileNo]="callService.bind(this)" (completed)="onCompleted($event)" (error)="onError($event)"></mc-one-love>
    </div>
  </div>

  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
    <button class="btn btn-success" (click)="onNext()" [disabled]="!(isError && mobileOneLove?.length > 0)">NEXT</button>
  </mc-footer>
</div>
