<div class="mc-flex">
  <mc-header title="รายการสินค้า"></mc-header>
  <div class="mc-flex-wrap">
    <div class="my-3">
      <div class="container-fluid">

        <div class="card mb-3">
          <div class="card-body pt-5 text-center text-green">
            <img src="assets/images/icon/icon-green-check-circle.png" class="icon" />
            <div>หมายเลข {{ transaction?.data?.simCard?.mobileNo | mobileNo }}</div>
            <div>ชำระค่าสินค้าเรียบร้อยแล้ว</div>
            <div>หมายเลขอ้างอิง {{ transId }}</div>
          </div>

          <!-- ชำระ -->
          <ng-container>
            <div class="card-body border-top">
              <p><b class="text-light-grey">สรุปรายการสั่งชื้อสินค้า</b></p>
              <ng-container *ngIf="transaction?.data?.payment?.paymentType === 'QR_CODE'">
                <div class="text-light-grey">
                  <p>
                    <i class="fa fa-circle mr-3 text-green"></i>
                    {{ priceOption?.productDetail?.name }}
                    <span *ngIf="color">
                      สี {{ color }}
                    </span>
                    <span *ngIf="priceOption?.productStock?.productSubType === 'HANDSET BUNDLE'">
                      (แถมซิม)
                    </span>
                    <span class="pull-right text-green">
                      ฿ {{ (+priceOption?.trade?.promotionPrice) + deposit | number }}
                    </span>
                  </p>
                </div>
              </ng-container>

              <ng-container *ngIf="transaction?.data?.advancePayment?.paymentType === 'QR_CODE'">
                <div class="text-light-grey"
                  *ngIf="priceOption?.trade?.advancePay?.installmentFlag === 'N' && priceOption?.trade?.advancePay?.amount > 0">
                  <p>
                    <i class="fa fa-circle mr-3 text-green"></i>
                    {{ priceOption?.trade?.advancePay?.description }}
                    <span class="pull-right text-green">
                      ฿ {{ priceOption?.trade?.advancePay?.amount | number }}
                    </span>
                  </p>
                </div>
              </ng-container>

              <div class="mt-1 text-right">
                <b>
                  <span class="mr-3">รวมยอดชำระ(รวมVAT)</span>
                  <span class="text-green">
                    $ {{ getPaymentBalance() | number:'1.0-0' }}
                  </span>
                </b>
              </div>

            </div>
          </ng-container>

          <!-- ค้างชำระ -->
          <ng-container *ngIf="transaction?.data?.payment?.paymentType !== 'QR_CODE' 
                  || (transaction?.data?.advancePayment?.paymentType !== 'QR_CODE' 
                  && priceOption?.trade?.advancePay?.installmentFlag === 'N')">
            <div class="card-body border-top">
              <p><b class="text-light-grey">รายการสินค้า (รอชำระ)</b></p>

              <ng-container *ngIf="transaction?.data?.payment?.paymentType !== 'QR_CODE'">
                <div class="text-light-grey">
                  <p>
                    <i class="fa fa-circle mr-3 text-green"></i>
                    {{ priceOption?.productDetail?.name }}
                    <span *ngIf="color">
                      สี {{ color }}
                    </span>
                    <span *ngIf="priceOption?.productStock?.productSubType === 'HANDSET BUNDLE'">
                      (แถมซิม)
                    </span>
                    <span class="pull-right text-green">
                      ฿ {{ priceOption?.trade?.promotionPrice | number }}
                    </span>
                  </p>
                </div>
              </ng-container>

              <ng-container *ngIf="transaction?.data?.advancePayment?.paymentType !== 'QR_CODE'">
                <div class="text-light-grey"
                  *ngIf="priceOption?.trade?.advancePay?.installmentFlag === 'N' && priceOption?.trade?.advancePay?.amount > 0">
                  <p
                    *ngIf="priceOption?.trade?.advancePay?.installmentFlag === 'N' && priceOption?.trade?.advancePay?.amount > 0">
                    <i class="fa fa-circle mr-3 text-green"></i>
                    {{ priceOption?.trade?.advancePay?.description }}
                    <span class="pull-right text-green">
                      ฿ {{ priceOption?.trade?.advancePay?.amount | number }}
                    </span>
                  </p>
                </div>
              </ng-container>

              <div class="mt-1 text-right">
                <b>
                  <span class="mr-3">รวมยอดชำระ(รวมVAT)</span>
                  <span class="text-green">
                    ฿ {{ getOutStandingBalance() | number:'1.0-0' }}
                  </span>
                </b>
              </div>
            </div>
          </ng-container>
        </div>
        <!-- card -->
        <div class="card-body pt-5 text-center text-light-grey">
          <div class="my-3 text-center text-green">
            <p>หมายเลข {{ transaction?.data?.simCard?.mobileNo | mobileNo }}</p>
            <p>หมายเลขรายการสั่งชื้อของท่านได้เข้าสู่ระบบเรียบร้อยแล้ว</p>
          </div>

          <div *ngIf="isAutoGenQueue">
            <div class="card-body pt-5 text-center text-light-grey">
              <form [formGroup]="mobileFrom">
                <div class="form-group">
                  <div class="mt-5 text-center">{{ queueWording }}</div>
                  <input class="form-control text-center mb-3" id="mobileNo" maxlength="10" autofocus autocomplete="off"
                    formControlName="mobileNo" placeholder="ระบุเบอร์โทรศัพท์รับ SMS" value="mobileNo"
                    [ngClass]="{ 'is-invalid' : mobileFrom.controls.mobileNo.invalid && mobileFrom.controls.mobileNo.touched && mobileFrom.controls.mobileNo.errors }">
                  <small class="invalid-feedback"
                    *ngIf="mobileFrom.controls.mobileNo.touched && mobileFrom.controls.mobileNo.errors">
                    **กรุณากรอกหมายเลขโทรศัพท์ให้ถูกต้อง
                  </small>
                </div>
              </form>
            </div>
          </div>


          <div *ngIf="!isAutoGenQueue">
            <div class="card-body pt-5 text-center text-light-grey">
              <form [formGroup]="queueFrom">
                <div class="mt-5 form-group">
                  <div class="text-center">กรุณารับบัตรคิว แล้วระบุหมายเลขคิว</div>
                  <div class="text-center">ในการชำระสินค้าของท่านด้านล่างนี้</div>
                  <input class="form-control text-center mb-3" id="queue" maxlength="4" autofocus autocomplete="off"
                    formControlName="queue" placeholder="ระบุเลขที่คิว"
                    [ngClass]="{ 'is-invalid' : queueFrom.controls.queue.invalid && queueFrom.controls.queue.touched && queueFrom.controls.queue.errors }">
                  <small class="invalid-feedback"
                    *ngIf="queueFrom.controls.queue.touched && queueFrom.controls.queue.errors">
                    **กรุณากรอกหมายเลขคิวให้ถูกต้อง
                  </small>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <mc-footer>
    <button class="btn btn-success" (click)="onNext()" [disabled]="checkValid()">NEXT</button>
  </mc-footer>
</div>