.camera-width {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    // img {
    //     width: 100%;
    // }
}

.camera-pc {
    height: 576px;
}

// .icon-camera { 
//     width: 60px;
// }
.img-result {
    height: 576px;
    width: auto;
}

.center {
    text-align: center;
}