<div class="mc-flex">
  <mc-header title="รายการสินค้า">
    <!-- <div class="header-icon-left">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div> -->
    <!-- <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div> -->
  </mc-header>
  <div class="mc-flex-wrap">
    <div class="my-3">
      <div class="container-fluid">

        <div class="card mb-5">
          <div class="card-header bg-light-green text-white">ข้อมูลการชำระ</div>
          <div class="card-body text-grey">
            <div class="border-bottom mb-3">
              ชำระโดย
              <span class="pull-right">{{ payment.paymentQrCodeType === 'THAI_QR' ? 'Thai QR Payment' : 'Rabbit Line Pay' }}</span>
            </div>
            <div class="text-right">
              ยอดชำระ
              <span class="total pull-right text-light-green">฿
                {{ getSummaryAmount() | number }}</span>
            </div>
          </div>
        </div>

        <div class="text-center mb-3">
          <div>กรุณาเข้าสู่ Mobile Application</div>
          <div>ของผู้ให้บริการ เพื่อชำระค่าสินค้าและบริการ</div>
        </div>

        <div [mcLoading]="mcLoadingQrcodePaymentService" class="qr-code border bg-white mb-3">
            <img [src]="brannerImagePaymentQrCode.branner" class="d-block w-100" />
            <div class="mt-2">
              <img [src]="brannerImagePaymentQrCode.branner_detail" class="d-block w-25 m-auto" />
            </div>
            <div>
              <img [hidden]="!qrCodeImageSrc" [src]="qrCodeImageSrc"
                class="w-100" />
            </div>
          </div>

        <div class="text-center">
          <h4 [ngClass]="isTimeLowerThanFifthteenSeconds ? 'qrpaymenttimeout' : 'text-light-green'">{{ timeCounterRenderer }}</h4>
          <div>" กรุณาชำระเงินภายในเวลาที่กำหนด "</div>
        </div>
        <br>

      </div>
    </div>
  </div>
  <mc-footer>    
      <button class="btn btn-success" (click)="onRefreshQRCode()">REFRESH</button>
      <!-- for develop -->
      <button [hidden]="!isDeveloperMode" class="btn btn-secondary" (click)="onBack()">BACK</button>
      <button [hidden]="!isDeveloperMode" class="btn btn-success" (click)="goToMpayQueuePage()">CONFIRM</button>
      <!-- for develop -->
  </mc-footer>
</div>