.tradein-checkbox {
    line-height: 0 !important; 
    width:30px !important;
    height:30px !important;
    display: inline-block !important;
    vertical-align:middle !important;
    cursor:pointer !important;
    border-radius: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}