<div class="mc-flex">
  <mc-header title="Trade IN">
    <div class="header-icon-left">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap">
    <div class="container-fluid mt-3">
      <div class="card mb-3">
        <div class="mc-card bg-white">
          <app-header-trade-in></app-header-trade-in>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="card mb-3">
        <div class="card-header bg-blue text-white shadow-sm">
          เงื่อนไขประเมินราคา
        </div>
        <div class="card-body">
          <div class="valuationlist">
            <form>
              <div class="form-group row">
                <div class="col-12 col-sm-12" *ngFor="let listValuationTradein of valuationlists">
                  <input [checked]="listValuationTradein.valChecked == 'Y'" type="checkbox" id="{{listValuationTradein.valCode}}" value="{{listValuationTradein.valCode}}" disabled>
                  <label for="{{listValuationTradein.valCode}}"> {{listValuationTradein.valDesc}} </label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="card mb-3">
        <div class="card-header bg-blue text-white shadow-sm">
          ผลการประเมิน
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <input type="text" value="Grade : {{tradeinGrade}}" class="form-control" disabled>
            </div>
            <div class="col-md-6">
              <input type="text" value="Price : {{tradeinPrice}}" class="form-control" disabled>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="btnCancelFn()">CANCEL</button>
    <button class="btn btn-success" (click)="onNext()">CONFIRM</button>
  </mc-footer>
</div>