<div class="card mb-3">
  <div class="card-header bg-purple text-white">สินค้าและบริการอื่น</div>
  <div class="card-body">
    <i class="fa fa-circle mr-3 text-lime"></i>
    <span class="text-grey" id="text-package-mobile-care">
      <span *ngIf="!transaction?.data?.mobileCarePackage?.title" id="text-not-mobile-care">
        ไม่สนใจซื้อบริการโมบายแคร์
      </span>
      <span *ngIf="transaction?.data?.mobileCarePackage?.title" id="text-mobile-care">
        {{ transaction?.data?.mobileCarePackage?.title }}
        <span class="pull-right" (click)="onOpenDetail(transaction?.data?.mobileCarePackage?.detailTH)">
            <img src="assets/images/icon/icon-page.png" class="icon" />
          </span>
        <p class="text-gray" id="text-mobile-priviledge" class="mobile-care">
          ( หมายเลขที่รับสิทธิ์ : {{ '0891230440' | mobileNo }} )
        </p>
      </span>
    </span>
  </div>
</div>