.signed {  
  height: 200px;

  img {
    height: 100%;
    width: auto;
    max-width: 576px;
    display: block;
    margin: 0 auto;
  }
}

.card-footer{
  background-color: white;
}

.margin-top{
  margin-top: 40%;
}

.container-fluid {
  width: 89.4%;
}