<div class="card mb-3">
  <div class="card-header bg-pink text-white">
    รายละเอียดการชำระ
  </div>
  <div class="card-body">
    <p>
      ข้อมูลการชำระสินค้า
    </p>
    <p>
      <i class="fa fa-circle mr-3 text-light-green"></i>
      <span class="text-grey" id="text-brand-payment-summary">
        {{ priceOption?.productDetail?.brand }}
      </span>
      <span class="text-grey" id="text-model-payment-summary">
        {{ priceOption?.productDetail?.model }}
      </span>
      <span class="text-grey" id="text-color-summary" *ngIf="priceOption?.productStock?.colorName">
          {{ priceOption?.productStock?.colorName?'สี': '' }} {{ priceOption?.productStock?.colorName }} 
    </span>
      <span class="pull-right text-green" id="text-payment-price">
        ฿{{ priceOption?.trade?.promotionPrice | number }}
      </span>
    </p>
  </div>
  <div class="card-footer bg-transparent ">
    <p>
      ข้อมูลใบเสร็จรับเงิน
    </p>
    <div class="row">
      <div class="col-12 col-sm-4">
        <i class="fa fa-circle mr-3 text-light-green"></i>
        <span class="text-grey">
          ผู้ชื้อ
        </span>
      </div>
      <div class="col-12 col-sm-8">
        <p class="text-green" id="text-receipt-customer-name">
          {{ transaction?.data?.customer?.titleName }} {{ transaction?.data?.customer?.firstName }} {{ transaction?.data?.customer?.lastName
          }}
        </p>
      </div>

      <div class="col-12 col-sm-4">
        <i class="fa fa-circle mr-3 text-light-green"></i>
        <span class="text-grey">
          ที่อยู่ในใบเสร็จรับเงิน
        </span>
      </div>
      <div class="col-12 col-sm-8">
        <p class="text-green" id="text-receipt-billing-address">
            {{ transaction?.data?.billingInformation?.billDeliveryAddress?.homeNo }}
      <span *ngIf="transaction?.data?.billingInformation?.billDeliveryAddress?.moo">
          หมู่{{ transaction?.data?.billingInformation?.billDeliveryAddress?.moo }}
      </span>
      <span *ngIf="transaction?.data?.billingInformation?.billDeliveryAddress?.mooBan">
          หมู่บ้าน{{ transaction?.data?.billingInformation?.billDeliveryAddress?.mooBan }}</span>
          <span *ngIf="transaction?.data?.billingInformation?.billDeliveryAddress?.room">
          ห้อง{{ transaction?.data?.billingInformation?.billDeliveryAddress?.room }}</span>
          <span *ngIf="transaction?.data?.billingInformation?.billDeliveryAddress?.floor">
          ชั้น {{ transaction?.data?.billingInformation?.billDeliveryAddress?.floor }}</span>
          <span *ngIf="transaction?.data?.billingInformation?.billDeliveryAddress?.buildingName">
          อาคาร{{ transaction?.data?.billingInformation?.billDeliveryAddress?.buildingName }}</span>
          <span *ngIf="transaction?.data?.billingInformation?.billDeliveryAddress?.soi">
          ซอย {{ transaction?.data?.billingInformation?.billDeliveryAddress?.soi }}</span>
          <span *ngIf="transaction?.data?.billingInformation?.billDeliveryAddress?.street">
          ถนน{{ transaction?.data?.billingInformation?.billDeliveryAddress?.street }}</span>
          <span *ngIf="transaction?.data?.billingInformation?.billDeliveryAddress?.province">
          จังหวัด {{ transaction?.data?.billingInformation?.billDeliveryAddress?.province }}</span>
          <span *ngIf="transaction?.data?.billingInformation?.billDeliveryAddress?.amphur">
          อำเภอ{{ transaction?.data?.billingInformation?.billDeliveryAddress?.amphur }}</span>
          <span *ngIf="transaction?.data?.billingInformation?.billDeliveryAddress?.tumbol">
          ตำบล/แขวง{{ transaction?.data?.billingInformation?.billDeliveryAddress?.tumbol }}</span>
          {{ transaction?.data?.billingInformation?.billDeliveryAddress?.zipCode }}
      
        </p>
      </div>
    </div>
  </div>
  <!-- <div class="card-footer bg-transparent">
      <p>
        ข้อตกลงรับสิทธิ์ต่อเนื่อง
      </p>
      <i class="fa fa-circle mr-3 text-light-green"></i>
      <span class="text-grey">
        รับสิทธิ์ต่อเนื่องนาน 12 เดือน
      </span>
    </div> -->
</div>