<div class="card mb-3">
  <div class="card-header text-white" style="background: #FF80AB;">
    รายละเอียดการชำระ
  </div>
  <div class="card-body">
    <p>
      ข้อมูลการชำระสินค้า
    </p>
    <ng-container *ngIf="!priceOption?.trade?.advancePay || priceOption?.trade?.advancePay?.installmentFlag === 'N'">
      <p>
        <i class="fa fa-circle mr-3 text-lime"></i>
        <span class="text-grey">
          {{ priceOption?.productDetail?.name }}
        </span>
        <span class="text-grey" *ngIf="priceOption?.productStock?.color">
          {{ priceOption?.productStock?.color?'สี': '' }} {{ priceOption?.productStock?.color }}
        </span>
        <span class="text-grey" *ngIf="transaction?.data?.payment?.paymentForm === 'FULL'"> : ชำระเต็มจำนวน</span>
        <span class="text-grey" *ngIf="transaction?.data?.payment?.paymentForm === 'INSTALLMENT'"> : ผ่อนชำระบัตรเครดิต</span>
        <span class="pull-right text-green" id="text-price-summary">
          ฿ {{ priceOption?.trade?.promotionPrice | number }}
        </span>
      </p>
    </ng-container>
    
    <ng-container *ngIf="transaction?.data?.payment?.paymentForm === 'INSTALLMENT'">
      <span class="text-grey"  id="text-credit-summary">
        (
          ชำระโดย เครดิตธนาคาร
          {{ transaction?.data?.payment?.paymentMethod?.name }}
          {{ transaction?.data?.payment?.paymentMethod?.percentage }} %
          {{ transaction?.data?.payment?.paymentMethod?.month }} เดือน
          {{ ((+priceOption?.trade?.promotionPrice) + (priceOption?.trade?.advancePay?.installmentFlag === 'N' ? +priceOption?.trade?.advancePay?.amount : 0)) / transaction?.data?.payment?.paymentMethod?.month | number: '1.2-2' }} 
          บาทต่อเดือน
          )
        </span>
      </ng-container>
      <ng-container *ngIf="transaction?.data?.payment?.paymentForm !== 'INSTALLMENT' && transaction?.data?.payment?.paymentType === 'CREDIT'">
        <span class="text-grey"  id="text-credit-summary">
          (
            ชำระโดย เครดิตธนาคาร
            {{ transaction?.data?.payment?.paymentMethod?.name }}
            {{ transaction?.data?.payment?.paymentBank?.name}}
          )
        </span>
      </ng-container>

    <ng-container *ngIf="transaction?.data?.payment?.paymentForm === 'FULL'">
      <small class="text-muted" *ngIf="transaction?.data?.payment?.paymentType !== 'QR_CODE' && 
      transaction?.data?.payment?.paymentType !== 'CREDIT'">
        (ชำระโดย เงินสด)
      </small>
      <small class="text-muted" *ngIf="transaction?.data?.payment?.paymentType === 'QR_CODE'">
        (
        ชำระโดย
        <span *ngIf="transaction?.data?.payment?.paymentQrCodeType === 'THAI_QR'">
          Thai QR Promptpay
        </span>
        <span *ngIf="transaction?.data?.payment?.paymentQrCodeType === 'LINE_QR'">
          Rabbit Line Pay
        </span>
        )
      </small>
    </ng-container>

  </div>
  <div class="card-footer bg-transparent ">
    <p>
      ข้อมูลใบเสร็จรับเงิน
    </p>
    <div class="row">
      <div class="col-12 col-sm-4">
        <i class="fa fa-circle mr-3 text-lime"></i>
        <span class="text-grey">
          ผู้ชื้อ
        </span>
      </div>
      <div class="col-12 col-sm-8">
        <p class="text-green" id="text-receipt-customer-name">
          {{ transaction?.data?.customer?.titleName }} {{ transaction?.data?.customer?.firstName }} {{ transaction?.data?.customer?.lastName
          }}
        </p>
      </div>
      <div class="col-12 col-sm-4">
        <i class="fa fa-circle mr-3 text-lime"></i>
        <span class="text-grey">
          ที่อยู่ในใบเสร็จรับเงิน
        </span>
      </div>
      <div class="col-12 col-sm-8">
        <p class="text-green" id="text-receipt-billing-address">
          {{ transaction?.data?.billingInformation?.billDeliveryAddress?.homeNo }}
          <span *ngIf="transaction?.data?.billingInformation?.billDeliveryAddress?.moo">
            หมู่{{ transaction?.data?.billingInformation?.billDeliveryAddress?.moo }}
          </span>
          <span *ngIf="transaction?.data?.billingInformation?.billDeliveryAddress?.mooBan">
            หมู่บ้าน{{ transaction?.data?.billingInformation?.billDeliveryAddress?.mooBan }}</span>
          <span *ngIf="transaction?.data?.billingInformation?.billDeliveryAddress?.room">
            ห้อง{{ transaction?.data?.billingInformation?.billDeliveryAddress?.room }}</span>
          <span *ngIf="transaction?.data?.billingInformation?.billDeliveryAddress?.floor">
            ชั้น {{ transaction?.data?.billingInformation?.billDeliveryAddress?.floor }}</span>
          <span *ngIf="transaction?.data?.billingInformation?.billDeliveryAddress?.buildingName">
            อาคาร{{ transaction?.data?.billingInformation?.billDeliveryAddress?.buildingName }}</span>
          <span *ngIf="transaction?.data?.billingInformation?.billDeliveryAddress?.soi">
            ซอย {{ transaction?.data?.billingInformation?.billDeliveryAddress?.soi }}</span>
          <span *ngIf="transaction?.data?.billingInformation?.billDeliveryAddress?.street">
            ถนน{{ transaction?.data?.billingInformation?.billDeliveryAddress?.street }}</span>
          <span *ngIf="transaction?.data?.billingInformation?.billDeliveryAddress?.province">
            จังหวัด {{ transaction?.data?.billingInformation?.billDeliveryAddress?.province }}</span>
          <span *ngIf="transaction?.data?.billingInformation?.billDeliveryAddress?.amphur">
            อำเภอ{{ transaction?.data?.billingInformation?.billDeliveryAddress?.amphur }}</span>
          <span *ngIf="transaction?.data?.billingInformation?.billDeliveryAddress?.tumbol">
            ตำบล/แขวง{{ transaction?.data?.billingInformation?.billDeliveryAddress?.tumbol }}</span>
          {{ transaction?.data?.billingInformation?.billDeliveryAddress?.zipCode }}
        </p>
      </div>
    </div>
  </div>
</div>