<div class="card mb-3">
  <div class="card-header bg-pink text-white">
    รายละเอียดการชำระ
  </div>
  <div class="card-body">
    <p>
      ข้อมูลการชำระสินค้า
    </p>
    <p>
      <i class="fa fa-circle mr-3 text-light-green"></i>
      <span class="text-grey" id="text-patment-method">
        {{ priceOption?.productDetail?.name }}
        <span *ngIf="priceOption?.productStock?.color">
          สี {{ priceOption?.productStock?.color }} 
        </span> 
        <!-- : {{ paymentDesc }} -->
      </span>
      <span class="pull-right text-light-green" id="text-payment-price">
        ฿{{ priceOption?.trade?.promotionPrice | number }}
      </span>
    </p>
  </div>
  <div class="card-footer bg-transparent ">
    <p>
      ข้อมูลใบเสร็จรับเงิน
    </p>
    <div class="row">
      <div class="col-12 col-sm-4">
        <i class="fa fa-circle mr-3 text-light-green"></i>
        <span class="text-grey">
          ผู้ชื้อ
        </span>
      </div>
      <div class="col-12 col-sm-8">
        <p class="text-light-green" id="text-receipt-customer-name">
          {{ transaction?.data?.customer?.titleName }}
          {{ transaction?.data?.customer?.firstName }}
          {{ transaction?.data?.customer?.lastName }}
        </p>
      </div>

      <div class="col-12 col-sm-4">
        <i class="fa fa-circle mr-3 text-light-green"></i>
        <span class="text-grey">
          ที่อยู่ในใบเสร็จรับเงิน
        </span>
      </div>
      <div class="col-12 col-sm-8">
        <p class="text-light-green" id="text-receipt-billing-address">
          {{ customerAddress }}
        </p>
      </div>
    </div>
  </div>
  <!-- <div class="card-footer bg-transparent">
      <p>
        ข้อตกลงรับสิทธิ์ต่อเนื่อง
      </p>
      <i class="fa fa-circle mr-3 text-light-green"></i>
      <span class="text-grey">
        รับสิทธิ์ต่อเนื่องนาน 12 เดือน
      </span>
    </div> -->
</div>