<div class="mc-flex">
  <mc-header title="{{ 'ขายแพ็กเกจเสริม' | translate }}">
      <div class="header-icon-left w-25">
        <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
      </div>
      <div class="header-icon-right w-25 text-right">
      <!-- <mc-dropdown-language></mc-dropdown-language> -->
        <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
      </div>
    </mc-header>
<div class="mc-flex-wrap">
    <form [formGroup]="formOTP">
      <div class="content">
        <div class="card-content">
          <div class="text-center" style="margin-bottom: 2%" *ngIf="!isRomAgent">
              <div class="text-center mobile">หมายเลขโทรศัพท์ลูกค้า </div>
              <div class="text-center mobile"> {{ transaction?.data?.simCard?.mobileNo | mobileNo }}</div>
          </div>
          <p class="text-center">กรุณาใส่รหัส OTP ที่ได้รับจาก SMS</p>
          <hr>
          <input 
            type="tel" 
            autocomplete="off" 
            class="mc-input text-left" 
            name="otp" 
            placeholder="รหัส OTP" 
            maxlength="4" 
            [(ngModel)]="this.otp"
            formControlName="verifyOTP" 
            (keypress)="keyPress($event)"
          >
        </div>
        <p class="text text-center">รับรหัส OTP มีอายุการใช้งาน 15 นาที หากไม่ได้รับรหัส กรุณาตรวจสอบหมายเลขโทรศัพท์อีกครั้ง</p>
      </div>
    </form>

    <div class="footers row">
      <div class="col-xs-6 col-sm-6">
        <p class="mc-btn-otp text text-center" (click)="getOTP()">ขอรหัสผ่านใหม่</p>
      </div>
      <div class="col-xs-6 col-sm-6">
        <button class="mc-btn text text-center" type="submit" (click)="verifyOTP()" [disabled]="!formOTP.controls.verifyOTP.valid">ยืนยัน</button>
      </div>
    </div>
  </div>
