// @import "src/assets/scss/util/color";
// @import 'node_modules/foundation-sites/scss/util/util';

.deposit-payment-summary-container {
    .deposit-payment-summary-detail-container {
        background-color: white;
        border-radius: 0.2em;
        border: 0.05em solid #f5f5f5;
        margin: 15px;
        .summarydepositheader {
            font-size: 1.4rem;
            padding: 1em;
            background-color: #ff5252;
            color: white;
            margin: 8px;
        }
        .content {
            line-height: 3em;
            margin: 1em;
            color: #424242;
            margin-right: 3em;
        }
        .footer {
            margin: 0em 1em;
            padding-bottom: 1em;
        }
    }
    .payment-method-container {
        background-color: white;
        border-radius: 0.2em;
        border: 0.05em solid #f5f5f5;
        margin: 15px;
         .paymentdetailheader{
                  font-size: 1.4rem;
                 padding: 1em;
                 background-color: #f48fb1;
                 color: white;
                 margin: 8px;
                   }
                   .content {
                    line-height: 3em;
                    margin: 1em;
                    color:  #424242;
                    margin-right: 3em;
                }
                .footer {
                    margin: 0em 1em;
                    padding-bottom: 1em;
                }
    }
    .customer-detail-container {
        background-color: white;
        border-radius: 0.2em;
        border: 0.05em solid #f5f5f5;
        margin: 15px;
        .customerdetailheader {
                font-size: 1.4rem;
               padding: 1em;
               background-color: #40c4ff;
               color: white;
               margin: 8px;
        }
        .content {
            line-height: 3em;
            margin: 1em;
            color: gray;
          }
          .span-font-black {
            padding-left: 30px;
            color:black
        }
    }

    .customer-receipt-container {
        background-color: white;
        border-radius: 0.2em;
        border: 0.05em solid #f5f5f5;
        margin: 15px;
        .receiptheader {
                font-size: 1.4rem;
                  padding: 1em;
                  background-color: #ffca28;
                  color: white;
                  margin: 8px;
        }
        .content {
            line-height: 3em;
            margin: 1em;
            color: gray;
          }
          .span-font-black {
              padding-left:30px; 
              color:black
          }
    }
    .dot {
        height: 15px;
        width: 15px;
        background-color:#8bc34a;
        border-radius: 50%;
        display: inline-block;
        margin-left: 15px;
      }
      
.text-light-gray{
    color: #999999
}
   
}

.card-footer {
    padding-left: 0;
    padding-right: 0;
}