<div class="deposit-payment-summary-container">
  <div class="deposit-payment-summary-detail-container">
    <div class="row columns summarydepositheader">
      สรุปรายการจองสินค้า
    </div>
    <div class="content">
      <div class="row align-top align-spaced">
        <div class="col-9">
          <div class="dot"></div>
          <span style="margin-left: 10px;">
            ค่ามัดจำเครื่อง {{ brand }} {{ model }} {{ colorName }}
          </span>
        </div>
        <div class="col-3" style="text-align: right;">
          <span>
            ฿ {{ depositAmt | number }}
          </span>
        </div>
      </div>
      <div class="row align-top align-spaced">
        <div class="col-9">
          <span style="margin-left: 40px;">
            ยอดรวมชำระ (รวมVAT)
          </span>
        </div>
        <div class="col-3" style="text-align: right;">
          <span>
            ฿ {{ depositAmt | number}}
          </span>
        </div>
      </div>
    </div>
  </div>


  <div class="payment-method-container">
    <div class="row columns paymentdetailheader">
      รายละเอียดการชำระ
    </div>
    <div class="content">
      <div class="row align-top align-spaced">
        <div class="col-9">
          <span style="color: #9e9e9e">
            ข้อมูลชำระสินค้า
          </span>
        </div>
        <div class="col-3">
        </div>
      </div>
      <div class="row align-top align-spaced">
        <div class="col-9">
          <div class="dot"></div>
          <span style="margin-left: 5px;">
            มัดจำค่าเครื่อง : {{ paymentType }} (เต็มจำนวน)
          </span>
        </div>
        <div class="col-3" style="text-align: right;">
          <span>
            ฿ {{ depositAmt | number }}
          </span>
        </div>
      </div>
    </div>
  </div>


  <div class="customer-detail-container">
    <div class="row columns customerdetailheader">
      ข้อมูลผู้รับสินค้า
    </div>
    <div class="content">
      <div class="row align-top align-spaced">
        <div class="col-9">
          <span style="margin-right: 9em">
            ผู้ซื้อ
          </span>
          <span class="span-font-black">
            {{ customerFullName }}
          </span>
        </div>
        <div class="col-3">
        </div>

        <div class="col-12">
          <label>
            ที่อยู่
          </label>
          <p class="span-font-black" style="margin-left: 11em;margin-top: -3em">
            {{ customerReceiptAddress }}
          </p>
        </div>

        <div class="col-9">
          <span style="margin-right:3.7em">
            หมายเลขโทรศัพท์
          </span>
          <span class="span-font-black">
            {{ mobileNo }}
          </span>
        </div>
        <div class="col-3">
        </div>
      </div>
    </div>
  </div>

  <div class="customer-receipt-container">
    <div class="row columns receiptheader">
      ข้อมูลใบเสร็จรับเงิน
    </div>
    <div class="content">

      <div class="col-9">
        <span style="margin-right: 9em">
          ผู้ซื้อ
        </span>
        <span class="span-font-black">
          {{ customerFullName }}
        </span>
      </div>
      <div class="col-3">
      </div>


      <label style="margin-left: 1em;">
        ที่อยู่
      </label>
      <p class="span-font-black" style="margin-left: 12em;margin-top: -3em">
        {{ customerFullAddress }}
      </p>

      <div class="col-9">
        <span style="margin-right: 8em">
          Tax ID
        </span>
        <span class="span-font-black">
          {{ customerIdCardNo | idCard}}
        </span>
      </div>
      <div class="col-3">
      </div>

    </div>
  </div>
</div>