<div class="container-fluid">
  <div class="card mb-3">
    <div class="card-header bg-light-blue text-white">
      ข้อมูลใบเสร็จรับเงิน
    </div>
    <div class="card-footer bg-transparent">
      <div class="row">
        <label class="col-12 col-sm-7 col-form-label" for="input-mobile-number" >
          ออกใบเสร็จตามใบแจ้งค่าใช้บริการเบอร์ AIS
        </label>
        <div class="col-12 col-sm-5">
          <div class="row search-box m-auto">
            <div class="col-12 col-sm-9">
              <input type="text" placeholder="ระบุเบอร์ AIS" id="input-mobile-number"
                    class="search-input" maxlength="10" />
            </div>
            <div class="col-12 col-sm-3">
              <button class="search-btn" id="button-search-by-mobile-number" >
                <img src="assets/images/icon/device_only_search_icon.png" />
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-device-only-read-card></app-device-only-read-card>
        </div>
      </div>
    </div>
    <div class="card-footer bg-transparent">
      <div class="text-right" (click)="onClickInputBillingAddress()">
        <label style="cursor: pointer" class="text-grey">ระบุที่อยู่ใบเสร็จรับเงิน</label>
      </div>
      <div *ngIf="!inputBillingAddress">
        <div>
          <label class="text-grey">ผู้ซื้อ </label>
        </div>
        <div>
          <label class="text-grey">ที่อยู่ใบเสร็จรับเงิน </label>
        </div>
      </div>
      <div *ngIf="inputBillingAddress">
          <app-billing-address 
          [customerAddress]="customerAddress"
          [allZipCodes]="allZipCodes"
          [provinces]="getProvinces()"
          [amphurs]="amphurs"
          [tumbols]="tumbols"
          [zipCodes]="zipCode"
          (provinceSelected)="onProvinceSelected($event)"
          (amphurSelected)="onAmphurSelected($event)"
          (tumbolSelected)="onTumbolSelected($event)"
          (zipCodeSelected)="onZipCodeSelected($event)"
          (completed)="onCompleted($event)"
          (error)="onError($event)"
          ></app-billing-address>
      </div>
    </div>
    <div class="card-footer bg-transparent">
      <form [formGroup]="receiptInfoForm" class="pt-2">
        <div class="form-group row">
          <label for="taxId" class="col-12 col-sm-3 col-form-label" id="txtTaxID">Tax Id</label>
          <div class="col-12 col-sm-9">
            <input type="text" class="form-control" id="taxId" formControlName="taxId"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="branch" class="col-12 col-sm-3 col-form-label" id="txtBranch">สาขาที่</label>
          <div class="col-12 col-sm-9">
            <input type="text" class="form-control" id="branch" formControlName="branch" readonly />
          </div>
        </div>
        <div class="form-group row">
          <label for="telNo" class="col-12 col-sm-3 col-form-label" id="txtTelNo">เบอร์ติดต่อ</label>
          <div class="col-12 col-sm-9">
            <input type="text" maxlength="10" class="form-control" id="telNo" formControlName="telNo" [ngClass]="{ 'is-invalid' : receiptInfoForm.controls.telNo.invalid && receiptInfoForm.controls.telNo.touched }" />
            <!-- <small class="form-text invalid-feedback" *ngIf="receiptInfoForm.controls.telNo.touched && receiptInfoForm.controls.telNo.errors">
              * กรุณากรอกเบอร์ติดต่อให้ถูกต้อง
            </small> -->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
