<div class="mc-flex">
    <mc-header title="{{ 'ซื้อเครื่องพร้อมเปิดเบอร์ใหม่' | translate }}">
        <!-- <div class="header-icon-left">
            <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
        </div>
        <div class="header-icon-right">
            <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
        </div> -->
    </mc-header>
    <div class="mc-flex-wrap">
        <mc-shopping-cart [shoppingCart]="shoppingCart"></mc-shopping-cart>
        <div class="mt-3 mb-3">
            <mc-wizard [wizards]="wizards" active="{{action}}"></mc-wizard>
            <div class="container-fluid">
                <div class="card mb-3">
                    <div class="card-header bg-pink text-white">{{ 'สรุปรายการสั่งซื้อสินค้า' | translate }}</div>
                    <div class="card-body">
                        <p class="text-green">{{ priceOption?.campaign?.campaignName }}</p>
                        <div class="text-light-grey">
                            <p>
                                <i class="fa fa-circle mr-3 text-green"></i> {{ priceOption?.productDetail?.name }}
                                <span *ngIf="priceOption?.productStock?.colorName">
                                  {{'สี' | translate}} {{ priceOption?.productStock?.colorName }}
                              </span>
                                <span *ngIf="priceOption?.productStock?.productSubType === 'HANDSET BUNDLE'">
                                  ({{'แถมซิม'| translate}})
                              </span>
                                <span class="pull-right text-green">
                                  ฿ {{ priceOption?.trade?.promotionPrice | number }}
                              </span>
                            </p>
                            <p *ngIf="priceOption?.trade?.advancePay?.amount > 0">
                                <i class="fa fa-circle mr-3 text-green"></i> {{ summaryPageService.advanpayDescription(priceOption?.trade?.advancePay?.description) }}
                                <span class="pull-right text-green">
                                  ฿ {{ priceOption?.trade?.advancePay?.amount | number }}
                              </span>
                            </p>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent text-right">
                        {{ 'รวมยอดชำระ (รวม VAT)' | translate }}
                        <span class="text-green ml-2">
                          ฿ {{ summary([+priceOption?.trade?.promotionPrice, +priceOption?.trade?.advancePay?.amount]) | number }}
                      </span>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header bg-lime text-white">{{ 'แพ็กเกจใช้บริการ' | translate }}</div>
                    <div class="card-body">
                        <div class="text-green mb-3">{{ 'แพ็กเกจเบอร์หลัก (เบอร์ใหม่)' | translate }}</div>
                        <p class="ml-3">
                            <i class="fa fa-circle mr-3 text-green"></i> {{mainPackageTitle(transaction?.data?.mainPackage?.customAttributes)}}
                            <span class="pull-right" (click)="onShowPackagePopup(templatePopup, currentLang==='TH' ? transaction?.data?.mainPackage?.detailTH : transaction?.data?.mainPackage?.detailEN)">
                              <img src="assets/images/icon/icon-page.png" class="icon" />
                          </span>
                        </p>
                        <div class="text-green mb-3">{{ 'แพ็กเกจเบอร์สมาชิก (เบอร์ย้ายค่าย)' | translate }}</div>
                        <p class="ml-3">
                            <i class="fa fa-circle mr-3 text-green"></i> {{memberMainPackageTitle(transaction?.data?.mainPackage?.memberMainPackage[0])}}
                            <span class="pull-right" (click)="onShowPackagePopup(templatePopup, currentLang==='TH' ? transaction?.data?.mainPackage?.memberMainPackage[0]?.detailTH : transaction?.data?.mainPackage?.memberMainPackage[0]?.detailEN)">
                              <img src="assets/images/icon/icon-page.png" class="icon" />
                          </span>
                        </p>
                    </div>
                    <div class="card-footer bg-transparent text-right">
                    </div>
                </div>
                <div *ngIf="channelFlow != 'isJaymart'" class="card mb-3">
                    <div class="card-header bg-purple text-white">{{ 'สินค้าและบริการอื่น' | translate }}</div>
                    <div class="card-body">
                        <p>
                            <i class="fa fa-circle mr-3 text-green"></i>
                            <ng-container *ngIf="!transaction?.data?.mobileCarePackage?.title">
                                <span>{{ 'ไม่ซื้อบริการโมบายแคร์' | translate }}</span>
                            </ng-container>
                            <ng-container *ngIf="transaction?.data?.mobileCarePackage?.title">
                                <span>
                                  {{transaction?.data?.mobileCarePackage?.title}}
                              </span>
                                <span class="pull-right" (click)="onShowPackagePopup(templatePopup, currentLang==='TH' ? transaction?.data?.mobileCarePackage?.detailTH : transaction?.data?.mobileCarePackage?.detailEN)">
                                  <img src="assets/images/icon/icon-page.png" class="icon" />
                              </span>
                            </ng-container>
                        </p>
                    </div>
                    <div class="card-footer bg-transparent text-right">
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header bg-pink text-white">
                        {{ 'รายละเอียดการชำระ' | translate }}
                    </div>

                    <div class="card-body">
                        <p>
                            {{ 'ข้อมูลการชำระสินค้า' | translate }}
                        </p>

                        <!-- ชำระเต็มจำนวน -->
                        <ng-container *ngIf="!priceOption?.trade?.advancePay || priceOption?.trade?.advancePay?.installmentFlag === 'N'">
                            <p>
                                <i class="fa fa-circle mr-3 text-green"></i> {{ priceOption?.productDetail?.name }}
                                <span *ngIf="priceOption?.productStock?.color">
                                  {{ 'สี' | translate }} {{ priceOption?.productStock?.color }}
                              </span>
                                <span *ngIf="priceOption?.productStock?.productSubType === 'HANDSET BUNDLE'">
                                  ({{ 'แถมซิม' | translate }})
                              </span>
                                <span *ngIf="transaction?.data?.payment?.paymentForm === 'FULL'">:
                                  {{ 'ชำระเต็มจำนวน' | translate }}</span>
                                <span *ngIf="transaction?.data?.payment?.paymentForm === 'INSTALLMENT'">:
                                  {{ 'ผ่อนชำระบัตรเครดิต' | translate }}</span>
                                <span class="pull-right text-green">
                                  ฿ {{ priceOption?.trade?.promotionPrice | number }}
                              </span>
                            </p>
                            <small class="text-muted">
                              ({{ 'ชำระโดย' | translate }}
                              {{ summaryPageService.detailPayment(transaction?.data?.payment, priceOption?.trade) }})
                          </small>
                            <!-- ค่าแพ็กเกจบริการล่วงหน้า -->
                            <p class="mt-3" *ngIf="(+priceOption?.trade?.advancePay?.amount) > 0">
                                <i class="fa fa-circle mr-3 text-green"></i> {{ 'ค่าแพ็กเกจบริการล่วงหน้า' | translate}} : {{ 'ชำระเต็มจำนวน' | translate }}
                                <span class="pull-right text-green">
                                  ฿ {{ priceOption?.trade?.advancePay?.amount | number }}
                              </span>
                            </p>
                            <small class="text-muted" *ngIf="(+priceOption?.trade?.advancePay?.amount) > 0">
                              ({{ 'ชำระโดย' | translate }}
                              {{ summaryPageService.descriptionPayment(transaction?.data?.advancePayment) }})
                          </small>
                        </ng-container>

                        <!-- ค่าเครื่องและค่าแพ็กเกจล่วงหน้า -->
                        <ng-container *ngIf="priceOption?.trade?.advancePay?.installmentFlag === 'Y'">
                            <p>
                                <i class="fa fa-circle mr-3 text-green"></i> {{ 'ค่าเครื่องและค่าแพ็กเกจล่วงหน้า' | translate}} :
                                <span *ngIf="transaction?.data?.payment?.paymentForm === 'FULL'">{{ 'ชำระเต็มจำนวน' | translate }}</span>
                                <span *ngIf="transaction?.data?.payment?.paymentForm === 'INSTALLMENT'">{{ 'ผ่อนชำระบัตรเครดิต' | translate }}</span>
                                <span class="pull-right text-green">฿ {{ summary([
              +priceOption?.trade?.promotionPrice,
              +priceOption?.trade?.advancePay?.amount
              ]) | number }}</span>
                            </p>
                            <small class="text-muted">
                              ({{ 'ชำระโดย' | translate }}
                              {{ summaryPageService.detailPayment(transaction?.data?.payment, priceOption?.trade) }})
                          </small>
                        </ng-container>
                    </div>

                    <div class="card-footer bg-transparent ">
                        <p>
                            {{ 'ข้อมูลใบเสร็จรับเงิน' | translate }}
                        </p>
                        <div class="row">
                            <p class="col-12 col-sm-4">
                                <i class="fa fa-circle mr-3 text-green"></i> {{ 'ผู้ซื้อ' | translate }}
                            </p>
                            <p class="col-12 col-sm-8 text-green">
                                {{ transaction?.data?.customer?.titleName }} {{ transaction?.data?.customer?.firstName }} {{ transaction?.data?.customer?.lastName }}
                            </p>
                            <p class="col-12 col-sm-4">
                                <i class="fa fa-circle mr-3 text-green"></i> {{ 'ที่อยู่ใบเสร็จรับเงิน' | translate }}
                            </p>
                            <p class="col-12 col-sm-8 text-green">
                                {{ customerAddress }}
                            </p>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent">
                        <p>
                            {{ 'ข้อตกลงรับสิทธิ์ต่อเนื่อง' | translate }}
                        </p>
                        <p>
                            <i class="fa fa-circle mr-3 text-green"></i> {{ 'รับสิทธิ์ต่อเนื่องนาน' | translate }} {{ priceOption?.campaign?.maximumContract }} {{ 'เดือน' | translate }}
                        </p>
                    </div>
                    <div class="card-footer bg-transparent text-right">
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header bg-light-blue text-white">
                        {{ 'รหัสผู้ขาย' | translate }}
                    </div>
                    <div class="card-body">
                        <form [formGroup]="employeeDetailForm">
                            <div class="form-group row ml-3">
                                <label for="user" class="col-4 col-sm-3 col-form-label">{{ 'พนักงานขาย' | translate }}</label>
                                <div class="col-8 col-sm-9">
                                    <div class="col-form-label">
                                        {{seller$?.sellerName}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row ml-3">
                                <label for="user" class="col-4 col-sm-3 col-form-label">{{ 'สาขา' | translate }}
                              </label>
                                <div class="col-8 col-sm-9">
                                    <div class="col-form-label">
                                        {{seller$?.locationName}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row ml-3">
                                <label for="user" class="col-4 col-sm-3 col-form-label">{{ 'รหัสพนักงานขาย/ASC Code' | translate }}
                                  <!-- <span class="text-red">*</span> -->
                                </label>
                                <div class="col-5 col-sm-6">
                                    <input type="tel" maxlength="6" class="form-control" (ngModelChange)="isChangeASCCode()" [ngClass]="{'is-invalid': !employeeDetailForm.controls['ascCode'].valid && employeeDetailForm.controls['ascCode'].dirty}" id="ascCode" formControlName="ascCode" autocomplete="off"
                                    />
                                    <small class="invalid-feedback">
                                        {{ 'รหัสพนักงานขาย ไม่ถูกต้อง' | translate }}
                                    </small>
                                    <small class="feedback text-red">
                                        {{feedback}}
                                    </small>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer bg-transparent text-right">
                    </div>
                </div>
            </div>
            <ng-template #templatePopup>
                <div class="modal-body bg-white text-center rounded p-4">
                    <p>{{ detail || '-' }}</p>
                    <button type="button" class="btn btn-primary pl-5 pr-5" aria-label="Close" (click)="templatePopupRef.hide()">
                      {{ 'ปิด' | translate }}
                  </button>
                </div>
            </ng-template>
        </div>
    </div>
    <mc-footer>
        <button class="btn btn-secondary" (click)="onBack()">BACK</button>
        <button class="btn btn-success" (click)="onNext()" [disabled]="!isNext">NEXT</button>
    </mc-footer>
</div>
<!-- <ng-template #detailTemplate>
  <div class="modal-body" [innerHTML]="detail"></div>
  <div class="modal-footer">
      <div class="w-100 text-center">
          <button class="btn btn-success px-5" (click)="modalRef.hide()" translate>ปิด</button>
      </div>
  </div>
</ng-template> -->