<div class="mc-flex">
    <mc-header title="{{ 'ซื้อเครื่องพร้อมเปิดเบอร์ใหม่' | translate }}">
    </mc-header>
    <div class="mc-flex-wrap">
        <mc-shopping-cart [shoppingCart]="shoppingCart"></mc-shopping-cart>
        <div class="mt-3 mb-3">
            <mc-wizard [wizards]="wizards" active="2"></mc-wizard>
            <div class="container-fluid">
                <div class="card mb-3">
                    <div class="card-header bg-pink text-white shadow-sm">
                        {{ 'ระบุเลขที่ซิม' | translate }}
                    </div>
                    <div class="card-body">
                        <div class="text-center" *ngIf="simSerial?.simSerial && simSerial?.mobileNo">
                            <p>
                                <label>{{ 'หมายเลขโทรศัพท์' | translate }} : {{simSerial?.mobileNo}}</label>
                                <br>
                                <label>{{ 'เลขที่ซิม' | translate }} : {{simSerial?.simSerial}}</label>
                            </p>
                        </div>
                        <form (ngSubmit)="checkBarcode(simSerialForm.controls['simSerial'].value, false)" [formGroup]="simSerialForm">
                            <div class="form-row">
                                <div class="col-9 col-sm-10">
                                    <input #serial class="form-control" type="tel" maxlength="13"
                                        placeholder="ใส่เลขที่ซิม 13 หลัก"
                                        [ngClass]="{'has-error':!simSerialForm.controls['simSerial'].valid && simSerialFormSubmitted}"
                                        formControlName="simSerial" autocomplete="on">
                                    <small class="form-text text-danger"
                                        *ngIf="simSerialForm.controls.simSerial.touched && simSerialForm.controls.simSerial.errors">
                                        {{ '* เลขที่ซิมต้องเป็นตัวเลข 13 ตัวเท่านั้น' | translate }}
                                    </small>
                                </div>
                                <div>
                                    <button [disabled]="!this.simSerialForm.valid"
                                        id="btnRegNumSelectNumBySimGetMobileNo" type="submit"
                                        class="btn btn-blue mc-button--inline">ตรวจสอบ
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mc-footer>
        <button class="btn btn-secondary" (click)="onBack()">BACK</button>
        <button class="btn btn-success" (click)="onNext()" [disabled]="!simSerialValid">NEXT</button>
    </mc-footer>
</div>