<div class="mc-flex">
  <mc-header title="{{ 'ลูกค้าย้ายค่าย' | translate}}">
    <div class="header-icon-left w-25">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right w-25 text-right">
      <mc-dropdown-language></mc-dropdown-language>
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>

  <div class="mc-flex-wrap">
    <div class="mt-3 mb-3">
      <mc-shopping-cart *ngIf="transaction?.data?.customer?.idCardNo" [shoppingCart]=shoppingCart></mc-shopping-cart>
      <mc-wizard [wizards]="wizards" active="2"></mc-wizard>
      <div class="container-fluid">
        <mc-mobile-info title="{{'ข้อมูลลูกค้า' | translate }}" [mobileInfo]="mobileInfo"></mc-mobile-info>
        
        <div class="card mb-3" [hidden]="!!!message5G">
          <div class="card-body text-center">
            <div class="row">
              <div class="col-sm-12 text-left">
                <img src="assets/images/icon/icon_5G.png" alt="" class="mr-3">
                <span translate>{{ message5G }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3" [hidden]="!!!messageVolTE">
          <div class="card-body text-center">
            <div class="row">
              <div class="col-sm-12 text-left">
                <img src="assets/images/icon/icon_volte.png" alt="" class="mr-3">
                <span translate>{{ messageVolTE }}</span>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
    <button class="btn btn-success" (click)="onNext()">NEXT</button>
  </mc-footer>
</div>