<div class="mc-flex">
  <mc-header title="ซื้อเครื่องเปล่า">
    <div class="header-icon-left">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>

  <div class="mc-flex-wrap">
    <div class="card border-0">
      <div class="container-fluid mt-3 mb-3">
        <div class="row pl-3 pr-3">
          <div class="col-12 col-sm-6">
            <img src="assets/images/icon/icon-person.png" class="icon-img icon-person" />
            <span id="text-customer-name">นาย ธีระยุทธ เจโตวิมุติพงศ์</span>
          </div>
          <div class="col-12 col-sm-6 text-sm-right">
            <img src="assets/images/icon/sales_portal_green_phone.png" class="icon-img icon-phone" />
            <span id="text-mobile-no">{{ '0889540584' | mobileNo}}</span>
          </div>
        </div>
      </div>
      <hr class="mt-0 mb-0">
      <div class="container-fluid mt-3 mb-3">
        <div class="row pl-3 pr-3">
          <div class="col-8 col-sm-10 text-left text-brown">
            <p class="text-light-green" id="text-campaign-name">ซื้อเครื่องเปล่า</p>
            <span id="text-brand-model">Samsung S10 Plus สี BLACK จำนวน 1 เครื่อง</span>
          </div>
          <div class="col-4 col-sm-2 text-center text-brown">
            <img src="assets/images/icon/icon-cart.png" width="35px" class="mb-1" />
            <h4 class="text-light-green" id="text-total-price">
              ฿{{ 45700 | number }}
            </h4>
          </div>
        </div>
      </div>
    </div>

    <mc-wizard [wizards]="wizards" active="2"></mc-wizard>

    <div class="mt-3 mb-3">
      <div class="container-fluid">
        <!-- สรุปรายการสั่งชื้อสินค้า -->
        <app-summary-order-detail></app-summary-order-detail>

        <!-- สินค้าและบริการอื่น -->
        <app-summary-product-and-service></app-summary-product-and-service>

        <!-- รายละเอียดการชำระ -->
        <app-summary-payment-detail></app-summary-payment-detail>

        <!-- รหัสผู้ขาย -->
        <app-summary-seller-code></app-summary-seller-code>
      </div>
    </div>
  </div>

  <mc-footer>
    <button class="btn btn-secondary" id="button-back" (click)="onBack()">BACK</button>
    <button class="btn btn-success" id="button-next" (click)="onNext()">NEXT</button>
  </mc-footer>
</div>