<div class="mc-flex">
  <mc-header title="รายการสินค้า">
    <div class="header-icon-left">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>

  <div class="mc-flex-wrap">
    <div class="mt-3 mb-3">
      <div class="container-fluid">
        <div class="card mb-3">
          <div class="card-header bg-pink text-white">สรุปรายการสั่งชื้อสินค้า</div>
          <div class="card-body">
            <p class="text-light-green">ซื้อเครื่องเปล่า</p>
            <i class="fa fa-circle mr-3 text-light-green"></i>
            <span class="text-grey">
              SUNSAMG S5560 สี NOBLE BACK
            </span>
            <span class="pull-right text-light-green">
              ฿ 4,000
            </span>
          </div>
          <div class="card-footer bg-transparent text-right">
            <span>
              รวมยอดชำระ(รวมVAT)
            </span>
            <span class="text-light-green ml-2">
              ฿ 4,200
            </span>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header bg-purple text-white">สินค้าและบริการอื่น</div>
          <div class="card-body">
            <i class="fa fa-circle mr-3 text-light-green"></i>
            <span class="text-grey">
              AIS Mobile Care Swap+Replace รายเดือน 49 บาท
            </span>
            <span class="pull-right">
              <img src="assets/images/icon/icon-page.png" class="icon" />
            </span>
          </div>
          <div class="card-footer bg-transparent"></div>
        </div>

        <div class="card mb-3">
          <div class="card-header bg-pink text-white">
            รายละเอียดการชำระ
          </div>
          <div class="card-body">
            <p>
              ข้อมูลการชำระสินค้า
            </p>
            <p>
              <i class="fa fa-circle mr-3 text-light-green"></i>
              <span class="text-grey">
                ค่าเครื่อง : ผ่อนชำระเครดิตธนาคารไทยพานิชย์ จำกัด (มหาชน) 0% 10 เดือน (400 บาทต่อเดือน)
              </span>
              <span class="pull-right text-light-green">
                ฿ 4,000
              </span>
            </p>
            <p>
              <i class="fa fa-circle mr-3 text-light-green"></i>
              <span class="text-grey">
                ค่าแพ็กเกจบริการล่วงหน้า : ชำระเต็มจำนวน
              </span>
              <span class="pull-right text-light-green">
                ฿ 4,000
              </span>
            </p>
          </div>
          <div class="card-footer bg-transparent ">
            <p>
              ข้อมูลใบเสร็จรับเงิน
            </p>
            <div class="row">
              <div class="col-12 col-sm-4">
                <i class="fa fa-circle mr-3 text-light-green"></i>
                <span class="text-grey">
                  ผู้ชื้อ
                </span>
              </div>
              <div class="col-12 col-sm-8">
                <p class="text-light-green">
                  นาย ก็มา ดิค้าบ
                </p>
              </div>

              <div class="col-12 col-sm-4">
                <i class="fa fa-circle mr-3 text-light-green"></i>
                <span class="text-grey">
                  ที่อยู่ในใบเสร็จรับเงิน
                </span>
              </div>
              <div class="col-12 col-sm-8">
                <p class="text-light-green">
                  อยู่ที่ไหนก้ได้โตแล้ว
                </p>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent">
            <p>
              ข้อตกลงรับสิทธิ์ต่อเนื่อง
            </p>
            <i class="fa fa-circle mr-3 text-light-green"></i>
            <span class="text-grey">
              รับสิทธิ์ต่อเนื่องนาน 12 เดือน
            </span>
          </div>
          <div class="card-footer bg-transparent text-right">
          </div>
        </div>

        <div class="card md-3">
          <div class="card-header bg-light-blue text-white">
            รหัสผู้ขาย
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-4">
                <p class="text-grey">
                  รหัสพนักงานขาย
                </p>
              </div>
              <div class="col-12 col-sm-8">
                <p>
                  MC
                </p>
              </div>

              <div class="col-12 col-sm-4">
                <p class="text-grey">
                  สาขา
                </p>
              </div>
              <div class="col-12 col-sm-8">
                <p>
                  สาขาอาคารเอไอเอส 2
                </p>
              </div>

              <div class="col-12 col-sm-4">
                <p class="text-grey">
                  รหัสพนักงานขาย/
                  <br>ASC Code
                </p>
              </div>
              <div class="col-12 col-sm-8">
                <input type="text" class="form-control w-100">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
    <button class="btn btn-success" (click)="onNext()">NEXT</button>
  </mc-footer>
</div>