.signed {  
    height: 270px;
  
    img {
      height: 100%;
      width: auto;
      max-width: 700px;
      display: block;
      margin: 0 auto;
    }
  }
  
  .card-footer{
    background-color: white;
  }
  
  .margin-top{
    margin-top: 36%;
  }
  
  .container-fluid {
    width: 89.4%;
  }