<div class="mc-flex">
  <mc-header title="ซื้อเครื่องเปล่า">
    <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>

  <div class="mc-flex-wrap bg-white">
    <div class="container-fluid mt-5">
      <div class="card mx-5">

        <div class="card-header  bg-white">

          <div *ngIf='errorQueue'  class="text-center  bg-white">
            <img src="assets/images/icon/icon-red-alert-circle.png" class="d-block m-auto icon">
            <div class="my-3 text-center text-red">
              <p>ทำรายการไม่สำเร็จ</p>
              <p>ขออภัยค่ะ ระบบไม่สามารถกดรับบัตรคิวอัตโนมัติได้</p>
            </div>
          </div>

          <div *ngIf='!errorQueue' class="text-center  bg-white">
            <img src="assets/images/icon/icon-green-check-circle.png" class="d-block m-auto icon">
            <div class="my-3 text-center">
              <p>หมายเลข
                <span id="text-mobile-no">{{ transaction?.data?.receiptInfo?.telNo | mobileNo }}</span></p>
              <p>ชำระค้าสินค้าเรียบร้อยแล้ว</p>
              <p>หมายเลขอ้างอิง
                <span id="text-transaction-no">{{ transaction.data.mpayPayment.tranId }}</span></p>
            </div>
          </div>


        </div>

        <div class="card-body bg-white">

          <div class="text-left">
            <p>รายการสินค้า</p>
          </div>

          <div class="row mb-5">
            <div class="col-6 text-left">
              <i class="fa fa-circle mr-3 text-green"></i>
              <span id="text-name-model">
                {{  priceOption?.productDetail?.name }}
                <span *ngIf="priceOption?.productStock?.colorName">
                  {{ priceOption?.productStock?.colorName?'สี': '' }} {{ priceOption?.productStock?.colorName }}
                </span>
              </span>
            </div>
            <div class="col-6 text-right">
              <p id="text-normal-price">฿ {{ price | number}}</p>
            </div>
            <div class="col-12 text-right">
              รวมยอดชำระ(รวมVAT)
              <span class="text-green" id="text-include-vat-price">฿ {{ price | number}}</span>
            </div>
          </div>


          <ng-container [ngSwitch]="queueType">

            <ng-container *ngSwitchCase="'SMART_SHOP'">
              <div class="container pt-3">
                <form [formGroup]="mobileFrom">
                  <div class="form-group">
                    <div class="mt-5 text-center">เบอร์โทรศัพท์รับหมายเลขสั่งซื้อเพื่อชำระสินค้าของท่านคือ</div>
                    <input class="form-control text-center mb-3" id="mobileNo" maxlength="10" autofocus
                      autocomplete="off" formControlName="mobileNo" placeholder="ระบุเบอร์โทรศัพท์รับ SMS"
                      value="mobileNo"
                      [ngClass]="{ 'is-invalid' : mobileFrom.controls.mobileNo.invalid && mobileFrom.controls.mobileNo.touched && mobileFrom.controls.mobileNo.errors }">
                    <small class="invalid-feedback"
                      *ngIf="mobileFrom.controls.mobileNo.touched && mobileFrom.controls.mobileNo.errors">
                      **กรุณากรอกหมายเลขโทรศัพท์ให้ถูกต้อง
                    </small>
                  </div>
                </form>

              </div>
            </ng-container>

            <ng-container *ngSwitchCase="'AUTO_GEN_Q'">
              <div class="container pt-3">

                <form [formGroup]="mobileFrom">
                  <div class="form-group">
                    <div class="mt-5 text-center">ระบุเบอร์โทรศัพท์รับหมายเลขสั่งซื้อเพื่อชำระสินค้าของท่าน</div>
                    <input class="form-control text-center mb-3" id="mobileNo" maxlength="10" autofocus
                      autocomplete="off" formControlName="mobileNo" (keyup)="checkInput($event, 'mobileNo')"
                      placeholder="ระบุเบอร์โทรศัพท์รับ SMS" value=""
                      [ngClass]="{ 'is-invalid' : mobileFrom.controls.mobileNo.invalid && mobileFrom.controls.mobileNo.touched && mobileFrom.controls.mobileNo.errors }">
                    <small class="invalid-feedback"
                      *ngIf="mobileFrom.controls.mobileNo.touched && mobileFrom.controls.mobileNo.errors">
                      **กรุณากรอกหมายเลขโทรศัพท์ให้ถูกต้อง
                    </small>
                  </div>
                </form>

                <div class="line-behind">
                  <span translate>หรือ</span>
                </div>

                <form [formGroup]="queueFrom">
                  <div class="mt-5 form-group">
                    <div class="text-center">กรุณารับบัตรคิว แล้วระบุหมายเลขคิว</div>
                    <div class="text-center">ในการชำระสินค้าของท่าน ด้านล่างนี้</div>
                    <input class="form-control text-center mb-3" id="queue" maxlength="4" autofocus autocomplete="off"
                      formControlName="queue" (keyup)="checkInput($event, 'queue')" placeholder="ระบุเลขที่คิว"
                      [ngClass]="{ 'is-invalid' : queueFrom.controls.queue.invalid && queueFrom.controls.queue.touched && queueFrom.controls.queue.errors }">
                    <small class="invalid-feedback" 
                      *ngIf="queueFrom.controls.queue.touched && queueFrom.controls.queue.errors">
                      **กรุณากรอกหมายเลขคิวให้ถูกต้อง
                    </small>
                  </div>
                </form>
              </div>
            </ng-container>


            <ng-container *ngSwitchDefault>
              <div class="container pt-3">
                <form [formGroup]="queueFrom">
                  <div class="mt-5 form-group">
                    <div class="text-center">กรุณารับบัตรคิว แล้วระบุหมายเลขคิว</div>
                    <div class="text-center">ในการชำระสินค้าของท่าน ด้านล่างนี้</div>
                    <input class="form-control text-center mb-3" id="queue" maxlength="4" autofocus autocomplete="off"
                      formControlName="queue" placeholder="ระบุเลขที่คิว"
                      [ngClass]="{ 'is-invalid' : queueFrom.controls.queue.invalid && queueFrom.controls.queue.touched && queueFrom.controls.queue.errors }">
                    <small class="invalid-feedback"
                      *ngIf="queueFrom.controls.queue.touched && queueFrom.controls.queue.errors">
                      **กรุณากรอกหมายเลขคิวให้ถูกต้อง
                    </small>
                  </div>
                </form>

              </div>
            </ng-container>

          </ng-container>



        </div>
      </div>
    </div>
    <div class="container-fluid my-5">
      <div class="text-center">
        <button class="btn btn-success btn-lg" id="button-next" (click)="onNext()" [disabled]="checkValid()">
          NEXT
        </button>
        <button *ngIf="user?.locationCode === '1213'" class="btn btn-success btn-lg" (click)="onSkip()" [disabled]="checkSkip()">
          SKIP
        </button>
      </div>
    </div>
  </div>
</div>