<div class="mc-flex">
  <mc-header title="เปลี่ยนเติมเงินเป็นรายเดือน">
    <div class="header-icon-left">
      <mc-header-icon src="/assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
  </mc-header>

  <div class="mc-flex-wrap">
    <div class="mt-3 mb-3">
      <div class="container-fluid">
        <div class="container-fluid bg-white pt-3 pb-2 mb-3" *ngIf="balance && serviceChange && serviceAfterChanged">
          <div class="text-center">ข้อมูลปัจจุบันของคุณ</div>
          <hr>
          <div class="row mt-3 mb-3">
            <div class="col-4 text-green">
              หมายเลข
            </div>
            <div class="col-8">
              {{ mobileNo | mobileNo }}
            </div>
            <div class="col-4 text-green">
              ยอดเงินคงเหลือ
            </div>
            <div class="col-8">
              {{ balance?.remainingBalance / 100 | number:'1.2-2' }} บาท
            </div>
            <div class="col-4 text-green">

            </div>
            <div class="col-8">
              * ยอดเงินคงเหลือจะถูกโอนเป็นค่าโทร ที่ระบบรายเดือนให้โดยอัตโนมัติ
              <a class="float-right text-green" (click)="openModal(template)"><u>MORE</u></a>
            </div>
            <div class="col-4 text-green">
              ค่าโทรที่ได้รับ
            </div>
            <div class="col-8">
              {{ balance?.transferBalance | number }} บาท
            </div>

          </div>
        </div>

        <div *ngIf="balance && serviceChange && serviceAfterChanged">
          <div class="card mb-3" *ngIf="serviceChange?.length > 0">
            <div class="card-body text-center">
              <div class="row mb-3">
                <div class="col-sm-12 text-left">
                  <i class="fa fa-circle text-green mr-3"></i>
                  บริการเสริมตามรายการด้านล่าง จะถูกโอนย้ายโดยอัตโนมัติ
                </div>
              </div>
              <div class="row" *ngFor="let service of serviceChange">
                <ul>
                  <li class="text-grey d-inline"><i class="fa fa-check text-green mr-3"></i>
                    {{ service?.serviceName }}
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card mb-3" *ngIf="serviceAfterChanged?.length > 0">
            <div class="card-body text-center">
              <div class="row mb-3">
                <div class="col-sm-12 text-left">
                  <i class="fa fa-circle text-green mr-3"></i>
                  บริการเสริมตามรายการด้านล่าง สิ้นสุดทันทีหลังจากเปลี่ยนเป็นรายเดือน
                </div>
              </div>
              <div class="row" *ngFor="let service of serviceAfterChanged">
                <ul>
                  <li class="text-grey d-inline"><i class="fa fa-times text-pink mr-3"></i>
                    {{ service?.serviceName }}
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>

        <!-- <div class="container-fluid bg-white mt-3 p-3" *ngIf="balance && serviceChange && serviceAfterChanged">
          <div *ngIf="serviceChange?.length > 0">
            <i class="fa fa-circle text-green"></i> &nbsp;&nbsp;&nbsp;&nbsp;บริการเสริมตามรายการด้านล่าง
            จะถูกโอนย้ายโดยอัตโนมัติ
            <ul class="mt-3" *ngFor="let service of serviceChange">
              <li class="text-grey d-inline"><i class="fa fa-check text-green mr-3"></i>{{
                service?.serviceName }}</li>
            </ul>
          </div>
          <div *ngIf="serviceAfterChanged?.length > 0">
            <i class="fa fa-circle text-green"></i> &nbsp;&nbsp;&nbsp;&nbsp;บริการเสริมตามรายการด้านล่าง
            สิ้นสุดทันทีหลังจากเปลี่ยนเป็นรายเดือน
            <ul class="mt-3" *ngFor="let service of serviceAfterChanged">
              <li class="text-grey d-inline"><i class="fa fa-times text-pink mr-3"></i>{{
                service?.serviceName }}</li>
            </ul>
          </div>
        </div> -->

        <div class="container-fluid bg-white mt-3 p-3 text-center" *ngIf="!balance && !serviceChange && !serviceAfterChanged && !isLoad">
          ระบบไม่สามารถแสดงข้อมูลได้ในขณะนี้
        </div>

      </div>
    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
    <button class="btn btn-success" (click)="onNext()">NEXT</button>
  </mc-footer>
</div>

<ng-template #template>
  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <br>
    <h5 class="text-green">เงื่อนไขการโอนเงินอัตโนมัติใช้สิทธิ์ค่าโทร</h5>
    <ol class="text-grey">
      <li>สามารถใช้สิทธิ์ค่าโทรได้ ภายใน 3 วัน (ทำการ)</li>
      <li>เฉพาะสิทธิ์การโทรภายในประเทศเท่านั้น</li>
      <li>คิดค่าโทรที่ได้รับหลังหักโปรโมชั่นหลัก</li>
      <li>รายละเอียดโอนเงินอัตโนมัติ ดังนี้</li>
    </ol>
  </div>
  <table class="w-100">
    <thead align="center">
      <tr class="bg-light-green text-white">
        <td class="align-middle  p-2" width="50%">
          จำนวนเงินคงเหลือ (บาท)
        </td>
        <td class="align-middle " width="1px">
          |
        </td>
        <td class="align-middle" width="50%">
          ค่าโทรที่ได้รับ (บาท)
        </td>
      </tr>
    </thead>
    <tbody align="center" class="text-grey">
      <tr class=" ">
        <td class="align-middle  p-2" colspan="2">1 - 50</td>
        <td class="align-middle">50</td>
      </tr>
      <tr class="bg-blue-grey">
        <td class="align-middle  p-2" colspan="2">51 - 100</td>
        <td class="align-middle">100</td>
      </tr>
      <tr class="">
        <td class="align-middle  p-2" colspan="2">101 - 200</td>
        <td class="align-middle">200</td>
      </tr>
      <tr class="bg-blue-grey">
        <td class="align-middle  p-2" colspan="2">201 - 300</td>
        <td class="align-middle">300</td>
      </tr>
      <tr class="">
        <td class="align-middle  p-2" colspan="2">301 - 400</td>
        <td class="align-middle">400</td>
      </tr>
      <tr class="bg-blue-grey">
        <td class="align-middle  p-2" colspan="2">401 - 500</td>
        <td class="align-middle">500</td>
      </tr>
      <tr class="">
        <td class="align-middle  p-2" colspan="2">501 - 750</td>
        <td class="align-middle">750</td>
      </tr>
      <tr class="bg-blue-grey">
        <td class="align-middle  p-2" colspan="2">751 - 1,000</td>
        <td class="align-middle">1,000</td>
      </tr>
      <tr class="">
        <td class="align-middle  p-2" colspan="2">1,001 - 1,300</td>
        <td class="align-middle">1,300</td>
      </tr>
      <tr class="bg-blue-grey">
        <td class="align-middle  p-2" colspan="2">1,301 - 1,500</td>
        <td class="align-middle">1,500</td>
      </tr>
      <tr class="">
        <td class="align-middle  p-2" colspan="2">1,501 - 1,700</td>
        <td class="align-middle">1,700</td>
      </tr>
      <tr class="bg-blue-grey">
        <td class="align-middle  p-2" colspan="2">1,701 - 2,000</td>
        <td class="align-middle">2,000</td>
      </tr>
      <tr class="">
        <td class="align-middle  p-2" colspan="2">2,000 ขึ้นไป</td>
        <td class="align-middle">2,000</td>
      </tr>

    </tbody>

  </table>
  <div class="container mt-3 mb-3 text-grey">
    *ยอดเงินคงเหลือในกระเป๋า 1 ของคุณ จะถูกโอนเป็นค่าโทรที่ รับรายเดือนให้อัตโนมัติ ส่วนเงินคงเหลือในกระเป๋า 2
    ไม่สามารถโอนได้ ควรใช้ให้หมดก่อนทำรายการ
  </div>

</ng-template>
