.camera-width {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;

    img {
        width: 100%;
    }
}

.signature {
    background-color: #b0a799;
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    border-top-width: 1px;
}
