<div class="card mb-3">
  <div class="card-header bg-pink text-white">สรุปรายการสั่งชื้อสินค้า</div>
  <div class="card-body">
    <p class="text-light-green" id="text-campaign-name-summary">ซื้อเครื่องเปล่า</p>
    <i class="fa fa-circle mr-3 text-light-green"></i>
    <span class="text-grey" id="text-brand-model-summary">
      Samsung S10 Plus สี BLACK
    </span>
    <span class="pull-right text-light-green" id="text-model-price">
      ฿{{ 45700 | number }}
    </span>
  </div>
  <div class="card-footer bg-transparent text-right">
    <span>
      รวมยอดชำระ(รวมVAT)
    </span>
    <span class="text-light-green ml-2" id="text-summary-price">
      ฿{{ 45700 | number }}
    </span>
  </div>
</div>