.box {
  text-align: center;
  display: block;
  padding: 2rem;
  height: auto;
}

.icon-xl {
  width: 4rem !important;
  display: inline-block !important;
  display: block;
}

.icon-m {
  width: 20px !important;
  margin-left: 5px;
  display: inline-block !important;
}

.icon-s {
  width: 15px !important;
  margin-right: 5px;
  display: inline-block !important;
}

:host /deep/ .nav-link.active {
  background-color: #8bc34a;
  padding: 12px 20px;
}

:host /deep/ .nav-link {
  padding: 12px 20px;
}

.owl-theme {
  font-size: small;
}

.card-body {
  padding: 0.25rem
}

:host /deep/ .owl-stage {
  position: relative;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);

  .owl-item {
    width: 0px;
    overflow: hidden;
  }
}

.btn-success {
  font-size: 0.75rem;
  padding: 0.2rem 2rem;
}

.btn-success-info {
  font-size: 1rem;
  background-color: #cced61;
  padding: 0.2rem 2rem;
}

.text-info {
  font-size: 1.25rem;
}
