<div class="mc-flex">
  <mc-header title="{{ 'ย้ายค่ายเบอร์เดิม' | translate }}">
    <div class="header-icon-left w-25">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right w-25 text-right">
      <mc-dropdown-language></mc-dropdown-language>
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap bg-white">
    <div class="pt-3 pb-3">
      <mc-validate-customer-id-card [kioskApi]="kioskApi" (error)="onError($event)" (completed)="onCompleted($event)" (progress)="onProgress($event)">
      </mc-validate-customer-id-card>
    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" *ngIf="!progressDoing()" (click)="onBack()">BACK</button>
    <button class="btn btn-success" *ngIf="!progressDoing()" (click)="onNext()" [disabled]="!(!!profile)">NEXT</button>
  </mc-footer>
</div>