<div class="mc-flex">
  <mc-header title="เปิดเบอร์ใหม่">
    <div class="header-icon-left">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap">
    <div class="mb-3 mt-3">
      <mc-wizard [wizards]="wizards" active="1"></mc-wizard>

      <mc-capture-and-sign [apiSigned]="apiSigned" [title]="'ถ่ายรูปบัตรประชาชน หรือบัตรอื่นๆ'" [captureAndSign]="captureAndSign"
        (completed)="onCompleted($event)" (error)="onError($event)">
      </mc-capture-and-sign>

    </div>
  </div>
  <mc-footer>
    <button [hidden]="idCardValid" class="btn btn-success" (click)="getOnMessageWs()">Confirm</button>
    <button [hidden]="!idCardValid" class="btn btn-secondary" (click)="onBack()">BACK</button>
    <button [hidden]="!idCardValid" class="btn btn-success" (click)="onNext()" [disabled]="!idCardValid">NEXT</button>
  </mc-footer>
</div>