<div class="mc-flex">
  <mc-header title="เครื่องพร้อมเปิดเบอร์ใหม่"></mc-header>
  <div class="mc-flex-wrap">
    <div class="my-3">
      <div class="container-fluid">

        <div class="card mb-3">
          <div class="card-body pt-5 text-center border-bottom text-green">
            <img src="assets/images/icon/icon-green-check-circle.png" class="icon" />
            <div>หมายเลข  {{ transaction?.data?.simCard?.mobileNo | mobileNo }}</div>
            <div>ชำระค่าสินค้าเรียบร้อยแล้ว</div>
            <div>หมายเลขอ้างอิง 1129943007</div>
          </div>
          <div class="card mb-3">
              <div class="card-header bg-pink text-white">สรุปรายการสั่งชื้อสินค้า</div>
              <div class="card-body">
                <p class="text-green">{{ priceOption?.campaign?.campaignName }}</p>
                <div class="text-light-grey">
                  <p>
                    <i class="fa fa-circle mr-3 text-green"></i>
                    {{ priceOption?.productDetail?.name }}
                    <span *ngIf="priceOption?.productStock?.color">
                      {{ priceOption?.productStock?.color?'สี': '' }} {{ priceOption?.productStock?.color }}
                    </span>
                    <span *ngIf="priceOption?.productStock?.productSubType === 'HANDSET BUNDLE'">
                      (แถมซิม)
                    </span>
                    <span class="pull-right text-green">
                      ฿ {{ priceOption?.trade?.promotionPrice | number }}
                    </span>
                  </p>
                  <p *ngIf="priceOption?.trade?.advancePay?.amount > 0">
                    <i class="fa fa-circle mr-3 text-green"></i>
                    {{ priceOption?.trade?.advancePay?.description }}
                    <span class="pull-right text-green">
                      ฿ {{ priceOption?.trade?.advancePay?.amount | number }}
                    </span>
                  </p>
                </div>
              </div>
              <div class="card-footer bg-transparent text-right">
                รวมยอดชำระ(รวมVAT)
                <span class="text-green ml-2">
                  ฿ {{ summary([+priceOption?.trade?.promotionPrice, +priceOption?.trade?.advancePay?.amount]) | number }}
                </span>
              </div>
            </div>
          <div class="card-body pt-5 text-center text-light-grey">
            <div class="mb-2">
              <div>กรุณารับบัตรคิว แล้วระบุหมายเลขคิว</div>
              <div>ในการชำระสินค้าของท่านด้านล่างนี้</div>
            </div>
            <form>
              <div class="form-group row">
                <input type="text" class="form-control col-6 offset-3 text-center" id="exampleFormControlFile1">
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
  <mc-footer>
    <button class="btn btn-success" (click)="onNext()">NEXT</button>
  </mc-footer>
</div>