<div class="mc-flex">
  <mc-header title="{{ 'ลูกค้าย้ายค่าย' | translate}}">
    <div class="header-icon-left w-25">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right w-25 text-right">
      <mc-dropdown-language></mc-dropdown-language>
    <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
  </div>
  </mc-header>
  <div class="mc-flex-wrap bg-white">
    <div class="my-3">

      <div class="container pt-3">
        <img src="assets/images/icon/sales_portal_white_check.png" class="d-block m-auto icon">
        <div class="my-3 text-center text-green">
          <h4>{{'หมายเลข' | translate}} {{ transaction?.data?.simCard?.mobileNo | mobileNo }}</h4>
          <h4>{{'หมายเลขรายการสั่งชื้อของท่านได้เข้าสู่ระบบเรียบร้อยแล้ว' | translate}}</h4>
        </div>
        <form [formGroup]="queueFrom">
          <div class="form-group">
            <div class="text-center mt-5" translate>เบอร์โทรศัพท์รับหมายเลขสั่งซื้อเพื่อชำระสินค้าของท่านคือ</div>
            <input class="form-control text-center mb-3" id="mobileNo" maxlength="10" autofocus autocomplete="off"
              formControlName="mobileNo" placeholder="ระบุเบอร์โทรศัพท์รับ SMS" [ngClass]="{ 'is-invalid' : queueFrom.controls.mobileNo.invalid && queueFrom.controls.mobileNo.touched && queueFrom.controls.mobileNo.errors }">
            <small class="invalid-feedback" *ngIf="queueFrom.controls.mobileNo.touched && queueFrom.controls.mobileNo.errors">
              **{{'กรุณากรอกหมายเลขโทรศัพท์ให้ถูกต้อง' | translate}}
            </small>
          </div>
        </form>

      </div>


    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
    <button class="btn btn-success" (click)="onNext()" [disabled]="queueFrom.invalid">NEXT</button>
  </mc-footer>
</div>