<div class="mc-flex">
  <mc-header title="Trade IN">
    <div class="header-icon-left">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  
  <div class="mc-flex-wrap">
    <div class="container-fluid mt-3">
      <div class="card mb-3">
        <div class="card-header bg-blue text-white shadow-sm">
            ระบุหมายเลขเครื่อง
        </div>
        <div class="card-body">
          <form [formGroup]="imeiForm" (ngSubmit)="checkImei()">
            <div class="form-row">
              <div class="col-9 col-sm-10">
                <input type="text" formControlName="imei" maxlength="15" placeholder="ใส่เลขimei 15 หลัก" class="form-control">
              </div>
              <div class="col-3 col-sm-2">
                  <button class="btn btn-light-blue text-white btn-block" [disabled]="imeiForm.invalid" type="submit">
                      ตรวจสอบ</button>
              </div>
              <small class="form-text text-danger" *ngIf="imeiForm.controls.imei.touched && imeiForm.controls.imei.errors">
                  * กรุณาระบุเลขimeiให้ถูกต้อง
              </small>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div  class="container-fluid">
      <div class="card mb-3">
        <div class="card-header bg-blue text-white shadow-sm">
            ยี่ห้อและรุ่นโทรศัพท์
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col-3 col-sm-6">
                    <p class="text-grey text-left">
                        <label>ยี่ห้อโทรศัพท์ : </label>
                        <img class="col-3 col-sm-4" src="assets/images/icon/img-placeholder.png">
                    </p>
                </div>
            </div>
          <div class="form-row">
              <!-- <div class="col-3 col-sm-2"> -->
                  <p class="text-grey text-left">
                      <label>รุ่นโทรศัพท์ : </label></p>
                      
              <!-- </div> -->
              <div class="col-3 col-sm-3 mx-4">
                <select id="select-modelTrade-in"
                  (change)="selectModelTradeinFn($event)"
                  class="mc-input-select"
                  [(ngModel)]='selectOp'
                  class='form-control text-left'
                  [disabled]='butDisabled'>
                    <option [ngValue]="null">เลือก</option>
                    <option *ngFor="let modelTradein of listModelTradein"
                            [ngValue]="modelTradein">
                            {{modelTradein.brand}} {{modelTradein.model}}
                            </option>
                  </select>
              </div>
              
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt-3">

        <div class="row">
          <div class="col-sm-12">
            <div class="text-center">
              <button class="btn btn-light-blue text-white col-2 mx-2" (click)="cancelSelected()">CANCEL</button>
              <button class="btn btn-light-blue text-white col-2 mx-2" (click)="btnNextFn()" [disabled]='btnNextDisabled'>NEXT</button>
            </div>
          </div>
        </div>
      </div>
       
  
  
  </div>
</div>