.qr-code {
  width: 300px;
  margin: 0 auto;
  border : 1px solid #dee2e6;
}

.total {
  width: 100px;
}

.qrpaymenttimeout {
  color: red;
}

.icon-person {
  width: 24px;
  margin-right: 10px;
}

.icon-mobile {
  width: 16px;
  margin-right: 10px;
}
