@import "~foundation-sites/scss/util/util";
@import "src/assets/scss/util/color";

.qr-code {
  width: 300px;
  margin: 0 auto;
}

.total {
  width: 100px;
}

.qrpaymenttimeout{
  color: red;
}

.m-5 {
  margin-bottom: 5em;
}
