@media (max-width: 576px) {

  .header-icon-left,
  .header-icon-right {
    width: 10% !important;
  }
}

.navbar-brand {
  margin: 0 auto
}

.bg-ais {
  color: black;
  background-color: #cced61;
}
