<div class="mc-flex">
  <mc-header title="{{ 'ขายแพ็กเกจเสริม' | translate }}">
    <div class="header-icon-left w-25">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right w-25 text-right">
      <!-- <mc-dropdown-language></mc-dropdown-language> -->
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap">
    <div class="mb-3 mt-3">
      <div class="container-fluid">
        <div class="bg-white text-center p-3">
          <img src="assets/images/icon/icon-green-wallet.png" class="img-fluid" width="60">
          <p translate>ตัดเงินจากกระเป๋าคนขาย</p>
        </div>
        <div class="card mt-3">
          <div class="card-header bg-green">{{'ช่องทางการชำระ'| translate}}</div>
          <div class="card-body">
            <input class="chargeType" type="radio" value="topUp" [checked]="true">
            <label class="form-check-label" for="chargeType">{{ 'AIS Online Top Up' }} </label>
          </div>
        </div>
        <div class="bg-white mt-2 shadow-sm">
          <div class="text-center text-green pt-3">ข้อมูล Rom Agent</div>
          <hr class="ml-3 mr-3">
          <div class="pl-3 pr-3 pb-1">
            <form [formGroup]="romAgentForm">
              <div class="form-group">
                <label for="mobileNo">หมายเลข ROM Agent</label>
                <input type="tel" class="form-control" id="mobileNo" formControlName="mobileNo" maxlength="10">
              </div>
              <div class="form-group">
                <label for="amount">ยอดคงเหลือในกระเป๋า ROM Agent</label>
                <input type="text" class="form-control" id="amount"  formControlName="amount">
              </div>
              <small class="text-pink">ยอดคงเหลือในกระเป๋าของคุณไม่พอ กรุณาทำการเติมเงิน 
                <U class="text-secondary">กดรีเฟรช</U></small>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">ยกเลิก</button>
    <button class="btn btn-success" (click)="onNext()">ยืนยันการขายแพ็ก</button>
  </mc-footer>
</div>