@media (max-width: 576px) {

  .header-icon-left,
  .header-icon-right {
    width: 10% !important;
  }
}

.bg-header {
  background: #B2D234;
}

.navbar-brand {
  margin: 0 auto
}

.bg-ais {
  color: black;
  background-color: #B2D234;
}

.back-icon {
  height: 30px;
}

.bg-btn-ais {
  background-color: #B2D234;
  color: #4E4E4E;
}
