<div class="mc-flex">
  <mc-header title="{{ 'สมัครแทนบัตร' | translate }}">
    <div class="header-icon-left w-25">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right w-25 text-right">
      <!-- <mc-dropdown-language></mc-dropdown-language> -->
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap">
    <div class="mb-3 mt-3">
      <mc-wizard [wizards]="wizards" active="2"></mc-wizard>
      <div class="container-fluid vertical-center">
        <div class="col-12 ">
          <div class="card card-block">
            <div class="card-header bg-light-blue text-center text-white">
              <h5>เซ็นบันทึกข้อมูล</h5>
            </div>
            <p style="margin: 20px;" class="text-grey">&emsp;XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
            <div class="card card-block margin-all">
              <div class="card-header bg-transparent text-center">ลงชื่อผู้ทำรายการ</div>
              <div *ngIf="!transaction?.data?.customer?.imageSignature" class="signed">
                <img src="assets/images/icon/pen.png" (click)="$event.preventDefault(); onSigned()"
                  *ngIf="signatureText !== 'แก้ไขลายเซ็น'" />
              </div>
              <div *ngIf="transaction?.data?.customer?.imageSignature" class="signed">
                <img [src]="'data:image/jpeg;base64,' + transaction?.data?.customer?.imageSignature"
                  *ngIf="signatureText !== 'แก้ไขลายเซ็น'">
              </div>
            </div>
            <p class="text-grey">&emsp;Date: {{ localTime }}</p>
          </div>
          <div class="card-footer text-center">
            <a href="#" (click)="$event.preventDefault(); onSigned()" class="text-pink">
              <span *ngIf="!transaction?.data?.customer?.imageSignature" translate>เซ็นลายเซ็น</span>
              <span *ngIf="transaction?.data?.customer?.imageSignature" translate>แก้ไขลายเซ็น</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
    <button [disabled]="!transaction?.data?.customer?.imageSignature" class="btn btn-success" (click)="onNext()">NEXT</button>
  </mc-footer>
</div>