<div class="mc-flex">
  <mc-header title="รายการสินค้า">
    <div class="header-icon-left">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap bg-white">
    <div class="pt-3 pb-3">
      <div class="container">
        <img src="assets/images/icon/icon-ReadIDCard-01.png" class="icon-read-card" />
        <img src="assets/images/icon/icon-input-sim.png" class="icon-perso-sim" />
        <div class="text-center mt-3 mb-3">
          กรุณาเสียบซิมการ์ด
        </div>
        <div class="progress mb-5">
          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
        <div class="line-behind">
          <span>หรือ</span>
        </div>
        <form>
          <div class="form-group">
            <label for="simserial" class="form-text text-center">กรอกเลขที่ซิมการ์ด</label>
            <input type="text" class="form-control text-center" id="simserial" maxlength="13" placeholder="สแกน Barcode หรือ ใส่เลขที่ซิม 13 หลัก">
            <small class="form-text text-red text-center">
              * เลขที่ซิมต้องเป็นตัวเลข 13 ตัวเท่านั้น
            </small>
          </div>
        </form>
      </div>
    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
    <button class="btn btn-success" (click)="onNext()">NEXT</button>
  </mc-footer>
</div>