<div class="mc-flex">
    <mc-header title="{{ 'ทำรายการ Perso SIM - MNP' | translate }}">
        <!-- <div class="header-icon-left">
            <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
        </div> -->
        <div class="header-icon-right">
            <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
        </div>
    </mc-header>
    <div class="mc-flex-wrap">
        <mc-shopping-cart [shoppingCart]="shoppingCart"></mc-shopping-cart>
        <div class="pt-3 pb-3">
            <mc-wizard [wizards]="wizards" active="5"></mc-wizard>
            <div class="container-fluid">
                <div class="card mb-3">
                    <div class="card-header bg-light-blue text-white">
                        <div class="row">
                            <div class="col-6">{{ 'Post Paid' | translate }}</div>
                            <div class="col-6 text-right">{{ memberSimCard?.mobileNo }}</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="bg-white p-5">
                            <div class="container">
                                <img src="assets/images/icon/icon-ReadIDCard-01.png" class="icon-read-card" />
                                <img src="assets/images/icon/icon-input-sim.png" class="icon-perso-sim" />
                                <div *ngIf="!persoSim?.progress && !errorMessage" class="text-center mt-3 mb-3 text-red">
                                    {{ 'กรุณาเสียบ Sim Card' | translate}}
                                </div>
                                <br *ngIf="persoSim?.progress">
                                <div class="progress mb-5">
                                    <div class="progress-bar bg-success" role="progressbar" [style.width.%]="persoSim?.progress || 0" [attr.aria-valuenow]="persoSim?.progress" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div *ngIf="persoSim?.progress !== 100 && !errorMessage && persoSim?.progress > 0" class="text-center mt-3 mb-3 text-red">
                                    {{ '(ห้ามนำซิมการ์ดออก)' | translate }}
                                </div>
                                <div *ngIf="errorMessage" class="text-center mt-3 mb-3 text-red">
                                    {{ errorMessage | translate }}
                                </div>
                                <div *ngIf="persoSim?.progress === 100 && errorMessage && persoSim?.progress > 0" class="text-center mt-3 mb-3">
                                    {{ '(กรุณานำซิมการ์ดออก)' | translate }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mc-footer>
        <button *ngIf="!persoSim?.progress === 100" class="btn btn-secondary" (click)="onBack()">BACK</button>
        <button *ngIf="persoSim?.progress === 100" class="btn btn-success" (click)="onNext()" [disabled]="currentStatus && !errorMessage">NEXT</button>
    </mc-footer>
</div>