<div class="mc-flex">
    <mc-header title="ลูกค้าปัจจุบัน">
      <div class="header-icon-left">
        <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
      </div>
      <div class="header-icon-right">
        <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
      </div>
    </mc-header>
    <div class="mc-flex-wrap">
      <div class="mt-3 mb-3">
        <mc-wizard [wizards]="wizards" active="4"></mc-wizard>
  
        <div class="container-fluid">
          <div class="card">
            <div class="card-header text-center bg-transparent">
              ข้อตกลงรับสิทธิ์ต่อเนื่อง
            </div>
            <div class="card-body">
              <p>1) ข้าพเจ้าตกลงใช้บริการโทรศัพท์ที่เลือกซื้อ กับการใช้บริการหมายเลขโทรศัพท์เคลื่อนที่ในระบบ AIS รายเดือน
                ตามแพ็กเกจค่าบริการรายเดือนข้างต้น
                โดยใช้บริการต่อเนื่องตามระยะเวลาที่กำหนด และชำระค่าใช้บริการภายในวันที่บริษัทฯ กำหนด
                นับตั้งแต่วันที่ทำข้อตกลงฉบับนี้
                หรือนับระยะเวลาต่อเนื่องจากข้อตกลงใช้บริการฉบับอื่นที่ข้าพเจ้าได้ตกลงไว้ก่อนหน้านี้
                ซึ่งยังคงมีผลใช้บังคับอยู่
              </p>
              <p>2) กรณีข้าพเจ้ายกเลิก หรือถูกยกเลิกบริการ ขอเปลี่ยนแปลงหมายเลขโทรศัพท์ ขอย้ายเครือข่ายเลขหมายเดิม
                ขอโอนเปลี่ยนเจ้าของ
                หรือขอเปลี่ยนเป็นระบบเติมเงิน ก่อนครบกำหนดเวลาที่ตกลงไว้ ถือว่าข้าพเจ้าผิดข้อตกลงนี้ และยินยอมให้บริษัทฯ
                มีสิทธิ์ระงับการใช้เครื่องโทรศัพท์ดังกล่าวได้ทันที
                รวมทั้งตกลงชำระค่าปรับเท่ากับส่วนลดค่าเครื่อง (ก่อน VAT) ตามที่ได้รับให้แก่บริษัท แอดวานซ์ ไวร์เลส
                เน็ทเวอร์ค
                จำกัด ในวันที่ยกเลิกบริการ หรือผิดข้อตกลงทันที และไม่ขอรับค่าแพ็กเกจบริการล่วงหน้าที่ชำระในโครงการนี้คืน
              </p>
            </div>
            <div class="card-footer bg-transparent"></div>
          </div>
        </div>
      </div>
    </div>
    <mc-footer>
      <button class="btn btn-secondary" (click)="onBack()">BACK</button>
      <button class="btn btn-success" (click)="onNext()">NEXT</button>
    </mc-footer>
  </div>