<div class="mc-flex">
  <mc-header title="รายการสินค้า">
    <div class="header-icon-left">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap">
    <div class="mt-3">
      <mc-shopping-cart [shoppingCart]=shoppingCart></mc-shopping-cart>
      <mc-wizard [wizards]="wizards" active="2"></mc-wizard>
      <!-- <mc-payment-detail [paymentDetail]="paymentDetail"></mc-payment-detail > -->
      <!-- <div class="container-fluid">
        <div class="card mb-3">
          <div class="card-header text-light-green bg-transparent">
            แพ็กเกจชำระล่วงหน้า
            <span class="pull-right">฿ {{ 1070 | number: '1.2-2' }}</span>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group row">
                <div class="col-12 col-sm-3">
                  <input class="form-check-input" type="radio" name="pay-advance" id="pay-advance-credit"
                    value="option2">
                  <label class="form-check-label" for="pay-advance-credit">
                    ชำระเงินด้วยเงินสด
                  </label>
                </div>
                <div class="col-12 col-sm-9">
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="เต็มจำนวน">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12 col-sm-3">
                  <input class="form-check-input" type="radio" name="pay-advance" id="pay-advance-debit"
                    value="option2">
                  <label class="form-check-label" for="pay-advance-debit">
                    ชำระเงินด้วยบัตรเครดิต
                  </label>
                </div>
                <div class="col-12 col-sm-9">
                  <select id="inputState" class="form-control" disabled>
                    <option selected>เต็มจำนวน</option>
                    <option>ผ่อนชำระ</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div> -->

      <mc-payment-detail [paymentDetail]="paymentDetail" [selectPaymentDetail]="selectPaymentDetail" [option]="paymentDetailOption"
        (qrCode)="onSelectQRCode($event)" (bank)="onSelectBank($event)" (installment)="onSelectInstallment($event)"
        (paymentType)="onSelectPaymentType($event)"></mc-payment-detail>

      <!-- <mc-payment-detail *ngIf="priceOption?.trade?.advancePay && priceOption?.trade?.advancePay?.amount !== 0 &&
      (priceOption?.trade?.advancePay?.installmentFlag === 'N' || priceOption?.trade?.advancePay?.installmentFlag === '')"
        [paymentDetail]="paymentDetailAdvancePay" [selectPaymentDetail]="selectPaymentDetailAdvancePay" [option]="paymentDetailAdvancePayOption"
        (qrCode)="onSelectQRCodeAdvancePay($event)" (bank)="onSelectBankAdvancePay($event)" (paymentType)="onSelectPaymentTypeAdvancePay($event)"></mc-payment-detail> -->

      <!-- <mc-payment-detail [paymentDetail]="paymentDetail" [selectPaymentDetail]="selectPaymentDetail" [option]="paymentDetailoption"></mc-payment-detail> -->
      <mc-receipt-info [receiptInfo]="receiptInfo"></mc-receipt-info>
    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
     <button class="btn btn-success" (click)="onNext()" [disabled]="!(checkPaymentFormValid() && receiptInfoValid)">NEXT</button>
  </mc-footer>
</div>