<div class="mc-flex">
  <mc-header title="{{ 'เปิดเบอร์ใหม่' | translate }}">
    <div class="header-icon-left">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap">
    <div class="mb-3 mt-3">
      <mc-wizard [wizards]="wizards" active="1"></mc-wizard>

      <div class="container-fluid">
        <div class="card mb-3">
          <div class="card-header bg-orange text-white rounded-top p-3">
            <div class="row">
              <div class="col-8 text-left" translate>
                ใส่เงื่อนไขการเลือกเบอร์
              </div>
            </div>
          </div>
          <div class="card-body bg-white">

            <form (ngSubmit)="onSearchMobileNoByCondition()" [formGroup]="mobileNoConditionForm">

              <div class="row pl-3">
                <div class="col-4 row p-0">
                  <label for="mobile-summary" class="col-sm-5 col-form-label pr-0" translate>ผลรวมเบอร์</label>
                  <div class="col-sm-5 pr-0">
                    <input type="tel" class="form-control" size="2" maxlength="2" id="mobile-summary" autocomplete="off"
                      formControlName="summary">
                  </div>
                </div>
                <div class="col-4 row p-0">
                  <label for="like0" class="col-sm-5 col-form-label pr-0" translate>ตัวเลขที่ชอบ</label>
                  <div class="col-sm-6 pr-0">
                    <input type="tel" class="form-control mobile-number" maxlength="1" id="like0" (keyup)="onNextTab($event)"
                      autocomplete="off" formControlName="like0" data-next="like1">
                    <input type="tel" class="form-control mobile-number" maxlength="1" id="like1" (keyup)="onNextTab($event)"
                      autocomplete="off" formControlName="like1" data-next="like2">
                    <input type="tel" class="form-control mobile-number" maxlength="1" id="like2" (keyup)="onNextTab($event)"
                      autocomplete="off" formControlName="like2">
                  </div>
                </div>
                <div class="col-4 row p-0">
                  <label for="like0" class="col-sm-6 col-form-label pr-0" translate>ตัวเลขที่ไม่ชอบ</label>
                  <div class="col-sm-6 pr-0">
                    <input type="tel" class="form-control mobile-number" maxlength="1" id="notLikeNumber0" (keyup)="onNextTab($event)"
                      autocomplete="off" formControlName="notLike0" data-next="notLikeNumber1">
                    <input type="tel" class="form-control mobile-number" maxlength="1" id="notLikeNumber1" (keyup)="onNextTab($event)"
                      autocomplete="off" formControlName="notLike1" data-next="notLikeNumber2">
                    <input type="tel" class="form-control mobile-number" maxlength="1" id="notLikeNumber2" (keyup)="onNextTab($event)"
                      autocomplete="off" formControlName="notLike2">
                  </div>
                </div>
              </div>

              <div class="row pl-3 pt-4 pb-3">
                <div class="col-12 row p-0">
                  <label for="mobileFormat1" class="col-sm-2 col-form-label pr-0" translate>ตำแหน่งตัวเลข</label>
                  <div class="col-sm-9 ">
                    <input type="tel" class="form-control mobile-number" maxlength="1" id="mobileFormat0" value="0"
                      readonly>
                    <input type="tel" class="form-control mobile-number" maxlength="1" id="mobileFormat1" (keyup)="onNextTab($event)"
                      autocomplete="off" formControlName="mobileFormat1" data-next="mobileFormat2">
                    <input type="tel" class="form-control mobile-number" maxlength="1" id="mobileFormat2" (keyup)="onNextTab($event)"
                      autocomplete="off" formControlName="mobileFormat2" data-next="mobileFormat3">
                    <input type="tel" class="form-control mobile-number" maxlength="1" id="mobileFormat3" (keyup)="onNextTab($event)"
                      autocomplete="off" formControlName="mobileFormat3" data-next="mobileFormat4">
                    <input type="tel" class="form-control mobile-number" maxlength="1" id="mobileFormat4" (keyup)="onNextTab($event)"
                      autocomplete="off" formControlName="mobileFormat4" data-next="mobileFormat5">
                    <input type="tel" class="form-control mobile-number" maxlength="1" id="mobileFormat5" (keyup)="onNextTab($event)"
                      autocomplete="off" formControlName="mobileFormat5" data-next="mobileFormat6">
                    <input type="tel" class="form-control mobile-number" maxlength="1" id="mobileFormat6" (keyup)="onNextTab($event)"
                      autocomplete="off" formControlName="mobileFormat6" data-next="mobileFormat7">
                    <input type="tel" class="form-control mobile-number" maxlength="1" id="mobileFormat7" (keyup)="onNextTab($event)"
                      autocomplete="off" formControlName="mobileFormat7" data-next="mobileFormat8">
                    <input type="tel" class="form-control mobile-number" maxlength="1" id="mobileFormat8" (keyup)="onNextTab($event)"
                      autocomplete="off" formControlName="mobileFormat8" data-next="mobileFormat9">
                    <input type="tel" class="form-control mobile-number" maxlength="1" id="mobileFormat9" (keyup)="onNextTab($event)"
                      autocomplete="off" formControlName="mobileFormat9">
                  </div>
                </div>
              </div>

              <div class="text-right">
                <button class="btn btn-secondary mr-3" type="reset" translate>แก้ไข</button>
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i> <ng-container translate>ค้นหาเบอร์</ng-container>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="card mb-3" *ngIf="isSearchAgain">
          <div class="card-header bg-orange text-white rounded-top p-3">
            <div class="row">
              <div class="col-8 text-left" translate>
                ผลลัพธ์
              </div>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="mobileNoConditions">
              <div *ngFor="let mobileNoCondition of mobileNoConditions; let i = index;">
                <div class="row pt-1 pr-0 pb-0">
                  <div *ngFor="let mobileNo of mobileNoCondition?.mobileNo; let j = index;" class="col-3 pt-2 pb-2 pr-1 pl-1 text-center"
                    (click)="$event.preventDefault();onSelectMobileNo(mobileNo)">
                    <div class="border" [ngClass]="{'bg-green text-white': mobileNo?.mobileNo === transaction?.data?.simCard?.mobileNo}">
                      <h5 class="pt-2"><b>{{ mobileNo?.mobileNo | mobileNo}}</b></h5>
                      <p>(ผลรวม {{ mobileNo?.summary }})</p>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
            <div class="row pt-1" *ngIf="!mobileNoConditions || mobileNoConditions.length === 0">
              <div class="col-12 pt-5 pb-5 text-center" translate>
                ไม่พบหมายเลขที่คุณค้นหา กรุณากำหนดเงื่อนไขและค้นหาใหม่อีกครั้ง
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
    <button class="btn btn-success" (click)="onNext()" [disabled]="!transaction?.data?.simCard?.mobileNo && mobileNoConditions">NEXT</button>
  </mc-footer>
</div>