<div class="mc-flex">
  <mc-header title="รายการสินค้า">
    <div class="header-icon-left">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>

  <div class="mc-flex-wrap">
    <div class="mb-3 mt-3">
      <mc-shopping-cart [shoppingCart]=shoppingCart></mc-shopping-cart>
      <mc-wizard [wizards]="wizards" active="3"></mc-wizard>

      <div class="container-fluid mt-3 mb-3">
        <div class="card mb-5">
          <h5 class="card-header bg-teal text-white">{{ 'บริการโมบายแคร์' }}</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-6 col-sm-6 card-text text-black mb-4">{{ 'แพ็กเกจปัจจุบัน' }}</div>
              <div class="col-6 col-sm-6 card-text text-right">{{ exMobileCare?.handSet?.model }}</div>
            </div>
            <div class="row bg-blue-light-grey mr-0 ml-0">
              <div class="col-6 col-sm-6 card-text text-black mb-2 mt-2">{{ exMobileCare.promotionName }}</div>
              <div class="col-6 col-sm-6 card-text text-right mb-2 mt-2">฿{{ exMobileCare.priceExclVat | number }}</div>
              <!-- <div class="col-5 col-sm-3 card-text text-black mb-2">{{ 'วันที่สิ้นสุด' }}</div>
                      <div class="col-7 col-sm-9 card-text ">{{ exMobileCare.endDt }}</div> -->
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid mt-1 mb-1">
        <form [formGroup]="exMobileCareForm">
          <div class="card mb-5">
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-sm-12 card-text text-black mb-4">
                  ท่านต้องการเปลี่ยนบริการโมบายแคร์กับเครื่องใหม่ {{priceOption?.productDetail?.name}} {{priceOption?.productDetail?.productSubtype === 'HANDSET BUNDLE'? '(แถมซิม)':'' }} ใช่ หรือ ไม่?
                </div>
              </div>
              <div class="row">
                <input class="form-check-input" type="radio" id="change-mobile-care" value="Yes" formControlName="changeMobileCare">
                <label class="form-check-label col-6 col-sm-6" for="change-mobile-care">{{ 'ใช่' }}</label>
                <input class="form-check-input" type="radio" id="unchange-mobile-care" value="No" formControlName="changeMobileCare">
                <label class="form-check-label" for="unchange-mobile-care">{{ 'ไม่ใช่' }}</label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
    <button class="btn btn-success" (click)="onNext()" [disabled]="!identityValid">NEXT</button>
  </mc-footer>
</div>