.img-eapplication {
    text-align: center;
}

.tab {
    overflow: hidden;
    background-color: white;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 14px;
    transition: 0.3s;
    font-size: 17px;
    width: 50%;
    border-bottom: 4px solid rgb(126, 125, 125);
}

#middle-inline {
    border-right: 1px solid rgb(187, 186, 186);
}

.tab button:hover {
    color: rgb(58, 58, 58);
    background-color: transparent;
}

.tab button.active {
    border-bottom: 4px solid rgb(139, 194, 65);
    color: rgb(46, 46, 46);
    font-weight: 600;
}

.tabcontent {
    display: block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tablinks:focus {
    border-bottom: 1.5px solid #8bc34a;
}