<div class="mc-flex">
  <mc-header title="{{'เปลี่ยนเติมเงินเป็นรายเดือน' | translate}}">
    <div class="header-icon-left w-25">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right w-25 text-right">
      <mc-dropdown-language></mc-dropdown-language>
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap">
    <div class="mt-3 mb-3">
      <mc-wizard [wizards]="wizards" active="3"></mc-wizard>

      <div class="container-fluid">
        <div class="card mb-3">
          <div class="card-header bg-transparent text-center" translate>สรุปผลเปลี่ยนเติมเงินเป็นรายเดือน</div>
          <div class="card-body text-center">
            <div class="row">
              <div class="col-sm-6 text-left text-green" translate>หมายเลข</div>
              <div class="col-sm-6 text-left">{{ mobileNo | mobileNo }}</div>
            </div>
            <div class="row">
              <div class="col-sm-6 text-left text-green" translate>ค่าโทรที่ได้รับ</div>
              <div class="col-sm-6 text-left">{{ balance?.transferBalance | number }} <span translate>บาท</span></div>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body text-center">
            <div class="row mb-3">
              <div class="col-sm-6 text-left">
                <i class="fa fa-circle text-green mr-3"></i>
                <span translate>ผลการโอนย้ายบริการเสริม</span>
              </div>
              <div class="col-sm-6 text-right"><span translate>ทั้งหมด</span> {{ serviceChange?.length }} <span translate>บริการ</span></div>
            </div>
            <div class="row" *ngFor="let service of serviceChange">
              <ul>
                <li class="text-grey d-inline"><i class="fa fa-check text-green mr-3"></i>
                  <span translate>{{ service?.serviceName }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
    <button class="btn btn-success" (click)="onNext()">CONFIRM</button>
  </mc-footer>
</div>