.result {
  font-size: 1.2rem;
}

.icon {
  width: 120px;
  display: block;
  margin: 0 auto 30px;
}

@media (max-width: 576px) {

  .header-icon-left,
  .header-icon-right {
    width: 10% !important;
  }
}

.navbar-brand {
  margin: 0 auto
}

.bg-ais {
  color: black;
  background-color: #B2D234;
}

.bg-btn-ais {
  background-color: #B2D234;
  color: #4E4E4E;
}

.text-brown {
  color: #4E4E4E;
}
