 
#mobile-summary {
    width: 85px;
    text-align: center;
}

.mobile-number {
    width: 25px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    display: inline-block;
    margin-right: 4px;
}

.btn {
    width: 110px;
}
