.speed-block {
  color: #39464e;
  background-color: #e8f1c2;
  font-size: 0.8rem;
  line-height: 24px;
  border-radius: 0.25rem;
  width: 100%;
}
.period-block {
  color: #39464e;
  background-color: #ddeec6;
  font-size: 0.8rem;
  line-height: 24px;
  border-radius: 0.25rem;
  width: 100%;
}
.price-block {
  color: #6ea88c;
  background-color: #ededed;
  font-size: 0.8rem;
  line-height: 24px;
  border-radius: 0.25rem;
  width: 100%;
}

.price-block:after {
  content: "";
  position: absolute;
  width: 15%;
  height: 100%;
  background: url('/assets/images/icon/icon-arrow-bottom.png') no-repeat center;
  background-size: contain;
  top: 0;
  right: 4px;
  margin-top: 0;
  transition-duration: 0.5s;
  transition-property: transform;
  transform: rotate(0deg);
}

.price-block-rotate:after {
  transform: rotate(-180deg);
}

.btn-block {
  font-size: 0.8rem;
  line-height: 24px;
  border-radius: 0.25rem;
  width: 100%;
}
