 <div class="card text-center">
          <div class="card-header p-0">
            <div class="row">
              <div class="col-12 text-center">
                <!-- <ul class="nav nav-pills">
                    <li class="nav-item p-0 col-6">
                      <a class="nav-link active" href="#menu1" data-toggle="pill">tit</a>
                    </li>
                    <li class="nav-item p-0 col-6">
                      <a class="nav-link active" href="#menu1" data-toggle="pill">asda</a>
                    </li>
                  </ul> -->
                  <div class="bg-white" [hidden]="tabs?.length <= 0">
                      <tabset [justified]="true">
                        <tab *ngFor="let tab of tabs" [active]="tab.active">
                          <ng-template tabHeading>
                            <div class="{{tab.code}}" [ngClass]="{ 'active' : tab.active }" (click)="setActiveTabs(tab.code)">
                              <b>{{ tab.name }}</b></div>
                          </ng-template>
                        </tab>
                      </tabset>
                    </div>
              </div>
            </div>
          </div>
        </div>