.speed-block {
  color: #39464e;
  background-color: #e8f1c2;
  font-size: 0.8rem;
  line-height: 24px;
  border-radius: 0.25rem;
  width: 100%;
}
.period-block {
  color: #39464e;
  background-color: #ddeec6;
  font-size: 0.8rem;
  line-height: 24px;
  border-radius: 0.25rem;
  width: 100%;
}
.price-block {
  color: #6ea88c;
  background-color: #ededed;
  font-size: 0.8rem;
  line-height: 24px;
  border-radius: 0.25rem;
  width: 100%;
}
.btn-block {
  font-size: 0.8rem;
  line-height: 24px;
  border-radius: 0.25rem;
  width: 100%;
}
