<div class="mc-flex">
    <mc-header title="{{'รายการสินค้า'| translate}}">
        <div class="header-icon-left w-25">
            <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
        </div>
        <div class="header-icon-right w-25 text-right">
            <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
        </div>
    </mc-header>
    <div class="mc-flex-wrap">
        <div class="mb-3 mt-3">
            <mc-validate-customer-key-in [idCardNo]="params?.idCardNo" [prefixes]="prefixes" [cardTypes]="cardTypes" (completed)="onCompleted($event)" (error)="onError($event)"></mc-validate-customer-key-in>
        </div>
    </div>
    <mc-footer>
        <button class="btn btn-secondary" (click)="onBack()">BACK</button>
        <button class="btn btn-success" (click)="onNext()" [disabled]="!keyInValid">NEXT</button>
    </mc-footer>
</div>