<div class="mc-flex">
  <mc-header title="{{ 'ลูกค้าปัจจุบัน' | translate}}">
    <div class="header-icon-left">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap">
    <mc-shopping-cart [shoppingCart]="shoppingCart"></mc-shopping-cart>
    <div class="mt-3 mb-3">
      <mc-wizard [wizards]="wizards" active="4"></mc-wizard>
      <div class="container-fluid">

        <div class="card mb-3">
          <div class="card-header bg-pink text-white" translate>สรุปรายการสั่งซื้อสินค้า</div>
          <div class="card-body">
            <p class="text-green">{{ priceOption?.campaign?.campaignName }}</p>
            <div class="text-light-grey">
              <p>
                <i class="fa fa-circle mr-3 text-green"></i>
                {{ priceOption?.productDetail?.name }}
                <span *ngIf="priceOption?.productStock?.color">
                  สี {{ priceOption?.productStock?.color }}
                </span>
                <span class="pull-right text-green">
                  ฿ {{ priceOption?.trade?.promotionPrice | number }}
                </span>
              </p>
              <p *ngIf="priceOption?.trade?.advancePay?.amount > 0">
                <i class="fa fa-circle mr-3 text-green"></i>
                {{ priceOption?.trade?.advancePay?.description }}
                <span class="pull-right text-green">
                  ฿ {{ priceOption?.trade?.advancePay?.amount | number }}
                </span>
              </p>
            </div>
          </div>
          <div class="card-footer bg-transparent text-right" translate>
            รวมยอดชำระ (รวม VAT)
            <span class="text-green ml-2">
              ฿ {{ summary([
              +priceOption?.trade?.promotionPrice,
              +priceOption?.trade?.advancePay?.amount
              ]) | number }}
            </span>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header bg-lime text-white" translate>แพ็กเกจใช้บริการ</div>
          <div class="card-body">
            <p>
              <i class="fa fa-circle mr-3 text-green"></i>
              {{ transaction?.data?.mainPackage?.title || transaction?.data?.currentPackage?.title}}
              <span class="pull-right" (click)="onOpenDetail(transaction?.data?.mainPackage?.detailTH || transaction?.data?.currentPackage?.detail)">
                <img src="assets/images/icon/icon-page.png" class="icon" />
              </span>
            </p>
          </div>
        </div>

        <div class="card mb-3" *ngIf="packageOntopList?.length > 0">
          <div class="card-header bg-purple text-white" translate>แพ็กเกจเสริม</div>
          <div class="card-body">
            <p class="text-pink">แพ็กเกจที่ยกเลิก</p>
            <p>
              <ng-container *ngIf="packageOntopList">
                <div *ngFor="let packageOntop of packageOntopList">
                  <i class="fa fa-circle mr-3 text-green"></i>
                  {{ packageOntop.title }}
                  <span class="pull-right" (click)="onOpenDetail(packageOntop?.detail)">
                    <img src="assets/images/icon/icon-page.png" class="icon" />
                  </span>
                </div>
              </ng-container>
            </p>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header bg-pink text-white" translate>
            รายละเอียดการชำระ
          </div>
          <div class="card-body">
            <p translate>
              ข้อมูลการชำระสินค้า
            </p>

            <!-- ชำระเต็มจำนวน -->
            <ng-container *ngIf="!priceOption?.trade?.advancePay || priceOption?.trade?.advancePay?.installmentFlag === 'N'">
              <p>
                <i class="fa fa-circle mr-3 text-green"></i>
                {{ priceOption?.productDetail?.name }}
                <span *ngIf="priceOption?.productStock?.color">
                  สี {{ priceOption?.productStock?.color }}
                </span>
                <span *ngIf="transaction?.data?.payment?.paymentForm === 'FULL'">: {{'ชำระเต็มจำนวน'| translate}}</span>
                <span *ngIf="transaction?.data?.payment?.paymentForm === 'INSTALLMENT'">:
                  {{'ผ่อนชำระบัตรเครดิต'| translate}}</span>
                <span class="pull-right text-green">
                  ฿ {{ priceOption?.trade?.promotionPrice | number }}
                </span>
              </p>
              <small class="text-muted">
                ({{'ชำระโดย' | translate}}
                {{ summaryPageService.detailPayment(transaction?.data?.payment, priceOption?.trade) }})
              </small>
              <!-- ค่าแพ็กเกจบริการล่วงหน้า -->
              <p class="mt-3" *ngIf="(+priceOption?.trade?.advancePay?.amount) > 0">
                <i class="fa fa-circle mr-3 text-green"></i>
                {{'ค่าแพ็กเกจบริการล่วงหน้า'| translate}} : {{'ชำระเต็มจำนวน'| translate}}
                <span class="pull-right text-green">
                  ฿ {{ priceOption?.trade?.advancePay?.amount | number }}
                </span>
              </p>
              <small class="text-muted" *ngIf="(+priceOption?.trade?.advancePay?.amount) > 0">
                ({{'ชำระโดย' | translate}}
                {{ summaryPageService.descriptionPayment(transaction?.data?.advancePayment) }})
              </small>
            </ng-container>

            <!-- ค่าเครื่องและค่าแพ็กเกจล่วงหน้า -->
            <ng-container *ngIf="priceOption?.trade?.advancePay?.installmentFlag === 'Y'">
              <p>
                <i class="fa fa-circle mr-3 text-green"></i>
                {{'ค่าเครื่องและค่าแพ็กเกจล่วงหน้า'| translate}} :
                <span *ngIf="transaction?.data?.payment?.paymentForm === 'FULL'">{{'ชำระเต็มจำนวน'| translate}}</span>
                <span *ngIf="transaction?.data?.payment?.paymentForm === 'INSTALLMENT'">{{'ผ่อนชำระบัตรเครดิต'|
                  translate}}</span>
                <span class="pull-right text-green">฿ {{ summary([
                  +priceOption?.trade?.promotionPrice,
                  +priceOption?.trade?.advancePay?.amount
                  ]) | number }}</span>
              </p>
              <small class="text-muted">
                ({{'ชำระโดย' | translate}}
                {{ summaryPageService.detailPayment(transaction?.data?.payment, priceOption?.trade) }})
              </small>
            </ng-container>

          </div>
          <div class="card-footer bg-transparent ">
            <p translate>
              ข้อมูลใบเสร็จรับเงิน
            </p>
            <div class="row">
              <p class="col-12 col-sm-4" translate>
                <i class="fa fa-circle mr-3 text-green"></i>
                {{'ผู้ซื้อ' | translate}}
              </p>
              <p class="col-12 col-sm-8 text-green">
                {{ transaction?.data?.customer?.titleName }}
                {{ transaction?.data?.customer?.firstName }}
                {{ transaction?.data?.customer?.lastName }}
              </p>
              <p class="col-12 col-sm-4" translate>
                <i class="fa fa-circle mr-3 text-green"></i>
                ที่อยู่ในใบเสร็จรับเงิน
              </p>
              <p class="col-12 col-sm-8 text-green">
                {{ customerAddress }}
              </p>
            </div>
          </div>
          <div class="card-footer bg-transparent">
            <p translate>
              ข้อตกลงรับสิทธิ์ต่อเนื่อง
            </p>
            <p translate>
              <i class="fa fa-circle mr-3 text-green"></i>
              รับสิทธิ์ต่อเนื่องนาน {{ priceOption?.campaign?.maximumContract }} เดือน
            </p>
          </div>
          <div class="card-footer bg-transparent" *ngIf="warehouse">
            <p>
              {{ 'ที่อยู่จัดส่งสินค้า' | translate }}
            </p>
            <div class="row">

              <p class="col-12 col-sm-4">
                <i class="fa fa-circle mr-3 text-green"></i>
                {{ 'ชื่อผู้รับสินค้า' | translate }}
              </p>
              <p class="col-12 col-sm-7 text-green" *ngIf="!isEditShipCusName">
                {{ transaction?.data?.shippingInfo?.titleName }}
                {{ transaction?.data?.shippingInfo?.firstName }}
                {{ transaction?.data?.shippingInfo?.lastName }}
              </p>
              <p class="col-12 col-sm-1" *ngIf="!isEditShipCusName">
                <img class="icon" src="assets/images/icon/icon-edit.png" id="lnkEditCustShipping" (click)="editShipCusName()">
              </p>

              <form [formGroup]="shipCusNameFormControl" *ngIf="isEditShipCusName" class="col-12 col-sm-8 flex">
                {{ transaction?.data?.shippingInfo?.titleName }}
                <input class="form-control col-5 mr-2 ml-2" type="text" formControlName="firstName" id="firstName" maxlength="50" (keypress)="_keyPress($event)"/>
                <input class="form-control col-5" type="text" formControlName="lastName" id="lastName" maxlength="50" (keypress)="_keyPress($event)"/>
              </form>



              <p class="col-12 col-sm-4">
                <i class="fa fa-circle mr-3 text-green"></i>
                {{ 'ที่อยู่ในการจัดส่งสินค้า' | translate }}
              </p>
              <p class="col-12 col-sm-7 text-green">
                {{ shippingAddress }}
              </p>
              <p class="col-12 col-sm-1">
                <img class="icon" src="assets/images/icon/icon-edit.png" id="lnkEditCustShipping" (click)="editAddressDelivery()">
              </p>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header bg-light-blue text-white">
            รหัสผู้ขาย
          </div>
          <div class="card-body">
            <form [formGroup]="checkSellerForm">
              <div class="row">
                <label class="col-6 col-sm-4 col-form-label">พนักงานขาย</label>
                <div class="col-6 col-sm-8">
                  {{ seller?.sellerName }}
                </div>
              </div>
              <div class="row">
                <label class="col-6 col-sm-4 col-form-label">สาขา</label>
                <div class="col-6 col-sm-8">
                  {{seller?.locationName}}
                </div>
              </div>

              <div class="row">
                <label class="col-6 col-sm-4 col-form-label">รหัสพนักงานขาย/ASC Code
                  <span class="text-red">*</span>
                </label>
                <div class="col-6 col-sm-8">
                  <input type="text" class="form-control" id="sellerCode" value="" autocomplete="off" formControlName="checkSeller">
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
    <button class="btn btn-success" (click)="onNext()" [disabled]="!sellerCode">NEXT</button>
  </mc-footer>
</div>

<ng-template #detailTemplate>
  <div class="modal-body" [innerHTML]="detail"></div>
  <div class="modal-footer">
    <div class="w-100 text-center">
      <button class="btn btn-success px-5" (click)="modalRef.hide()">{{'ปิด'| translate}}</button>
    </div>
  </div>
</ng-template>