<div class="mc-flex">
    <mc-header title="{{ 'รายการสินค้า' | translate }}">
        <div class="header-icon-left">
            <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
        </div>
        <div class="header-icon-right">
            <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
        </div>
    </mc-header>
    <div class="mc-flex-wrap">
        <div class="card-background border-0">
            <div class="row">
                <span class="img-title">{{pictureTitle}}</span>
            </div>
            <hr class="mt-0 mb-20" style="margin:40px;">
            <div class="row">
                <img class="photo" src="{{imgCardSrc}}">
            </div>
            <div class="row">
                <span class="img-title">{{faceTitle}}</span>
            </div>
            <hr class="mt-0 mb-20">
            <div class="row">
                <img class="photo" src="{{imgFaceSrc}}">
            </div>
        </div>
        <!-- <div class="row">
            <modal #showFaceCompareScoreModal title="AIS FaceRecog" cancelButtonLabel="ตกลง">
                <modal-content>
                    <p id="labelScore">{{ShowScore}}<br/></p>
                </modal-content>
            </modal>
        </div> -->
    </div>
    <mc-footer>
        <button class="btn btn-secondary" (click)="onBack()">BACK</button>
        <button class="btn btn-success" (click)="onNext()">NEXT</button>
    </mc-footer>
</div>