div.card-background {
    margin-top: 4rem;
    background-color: white !important;
    background-size: cover;
    height: 760px;
}

.mc-flex-wrap {
    margin-top: unset;
}

.mc-flex {
    margin: unset;
}

img.photo {
    max-width: 220px;
    margin: auto;
}

span.img-title {
    text-align: center;
    margin: auto;
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
}

hr {
    margin: 24px;
}