<div class="mc-flex">
  <mc-header title="ชำระสินค้า">
    <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
    <div class="mc-flex-wrap bg-white">
      <div class="container-fluid mt-5">
        <div class="card mx-5">
          <div class="card-header  bg-white">
            <div class="text-center  bg-white">
              <img src="assets/images/icon/icon-green-check-circle.png" class="d-block m-auto icon">
              <div class="my-3 text-center">
                <!-- <p>หมายเลข {{ transaction?.data?.simCard?.mobileNo | mobileNo }}</p> -->
                  <p>หมายเลข  
                  <span id="text-mobile-no">0910011454</span></p> 
                  <p>ชำระค้าสินค้าเรียบร้อยแล้ว</p>
                  <p>หมายเลขอ้างอิง 
                  <span id="text-transaction-no">6568989595912</span></p>
                </div>
            </div>
          </div>
          <div class="card-body bg-white">
            <div class="text-left">
              <p>รายการสินค้า</p>
            </div>
            <div class="row mb-5">
               <div class="col-6 text-left">
                  <i class="fa fa-circle mr-3 text-light-green"></i>
                  <span id="text-brand-model">Samsung S10 Plus สี BLACK</span>
               </div>
               <div class="col-6 text-right">
                <p id="text-normal-price">฿ 3999</p>
               </div>
               <div class="col-12 text-right">
                ยอดค้างชำระ(รวมVAT)
                <span class="text-light-green" id="text-include-vat-price">฿ 3,999</span>
               </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 mt-1">
                <div class="text-center mb-2">
                  กรุณารับบัตรคิว แล้วระบุหมายเลขคิว
                  <br>
                  ในการชำระสินค้าของท่านด้านล่างนี้
                </div>
                <div class="m-auto text-center col-4 py-3">
                  <input type="text" id="input-queue-no" maxlength="10" class="form-control text-center">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid my-5">
        <div class="text-center">
          <button class="btn btn-success btn-lg" id="button-next" (click)="onNext()">
            NEXT
          </button>
        </div>
      </div>
    </div> 
  </div>