<div style="padding: 20px 0 0">
  <div class="m-auto bg-light-green device-only-read-card-btn" id="button-read-smart-card"
  [ngClass]="{ 'disabledbutton': messages === 'กรุณารอสักครู่' }">
    <div class="row m-auto" (click)="messages !== 'กรุณารอสักครู่' ? onReadCard() : ''" >
      <img class="col-3" src="assets/images/icon/device_only_read_card_icon.png" />
      <label class="col-9 m-auto" > Read Smart Card </label>
    </div>
  </div>
  <div class="m-auto  device-only-read-card-btn text-center" id="button-read-smart-card"
    [ngClass]="{ 'disabledbutton': messages === 'กรุณารอสักครู่' }">
    <span *ngIf="messages" class="col-12 m-auto text-center "   [innerHTML]="messages"></span>
  </div>

  <div class="device-only-read-card-progress" *ngIf="readCard?.progress > 0 && readCard?.progress < 100">
    <div class="progress-bg">
      <div class="progress-precent" id="progress-bar-read-smart-card" [style.width.%]="readCard?.progress"></div>
      <div>
    </div>
  </div>
</div>

<ng-template #select_billing_address class="read-card" style="position: fixed">
  <h5 class="modal-header bg-light-blue text-white">
      {{ 'เลือกที่อยู่ในใบเสร็จรับเงิน' | translate }}
  </h5>
  <div class="card-header bg-transparent">
    <label style="margin-top:10px;">{{ 'ผู้ซื้อ' | translate }}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id="modal-text-customer-name">{{ nameTextBySmartCard }}</label>
    </label>
  </div>
  <div id="myModal" class="card-body"(mouseleave)="onCancelMove($event)" (mousemove)="onScrolling($event)" (mousedown)="onTouchModal($event)" (mouseup)="onCancelMove($event)">
    <form [formGroup]="selectBillingAddressForm">
      <h5>{{ 'ที่อยู่ตามบัตรประชาชน' | translate }}</h5>
      <div>
        <input class="form-check-input" type="radio" value="{{ADDRESS_BY_SMART_CARD}}"
          formControlName="billingAddress" id="modal-text-customer-id-card-address">
        <label class="form-check-label" class="col-11" for="modal-text-customer-id-card-address">
          {{ 'ที่อยู่: ' + addressTextBySmartCard }}
        </label>
      </div>
      <br/>
      <h5>{{ 'ที่อยู่ตามใบแจ้งค่าใช้บริการเบอร์ AIS ของท่าน' | translate }}</h5>

      <div *ngFor="let itemBA of listBillingAccount; let i = index" #istBillingAccountBox>
        <input class="form-check-input" type="radio" value="{{i}}"
          formControlName="billingAddress" id="modal-text-billing-address-{{i+1}}">
        <label class="form-check-label" class="col-9" for="modal-text-billing-address-{{i+1}}">{{ itemBA.mobileNo[0] }}</label>
        <label class="form-check-label" class="col-2" for="modal-text-billing-address-{{i+1}}">{{ itemBA.status }}</label>
        <label class="col-1"></label>
        <label class="form-check-label" class="col-11" for="modal-text-billing-address-{{i+1}}">
          &nbsp;&nbsp;{{ itemBA.billingAddr }}
        </label>
      </div>
    </form>
  </div>
  <div class="modal-body d-flex justify-content-center">
    <button type="button" class="btn btn-secondary" id="modal-button-close"
      (click)="modalBillAddress.hide()">CLOSE</button>
    <button type="button" class="btn btn-success text-white" id="modal-button-select"
      (click)="selectBillingAddress()" [disabled]="!isSelect">SELECT</button>
  </div>
</ng-template>
