<div class="mc-flex">
    <mc-header title="{{ 'ซื้อเครื่องเปล่า' | translate }}">
        <div class="header-icon-left">
            <mc-header-icon src="assets/images/icon/icon-back.png" id="button-upper-back" (click)="onBack()"></mc-header-icon>
        </div>
        <div class="header-icon-right">
            <mc-dropdown-language></mc-dropdown-language>
            <mc-header-icon src="assets/images/icon/icon-home.png" id="button-home" (click)="onHome()"></mc-header-icon>
        </div>
    </mc-header>
    <div class="mc-flex-wrap">
        <mc-wizard [wizards]="wizards" active="1"></mc-wizard>
        <mc-payment-detail [paymentDetail]="paymentDetail" [banks]="banks" [omiseBanks]="omiseBanks" (completed)="onPaymentDetailCompleted($event)" (error)="onPaymentDetailError($event)">
        </mc-payment-detail>
        <!-- <div class="my-3">
            <app-receipt-information-device-only (completed)="onComplete($event)" (error)="onError($event)" (action)="checkAction($event)" (errorAddessValid)="onErrorAddessValid($event)" [customerInfoTemp]="customerInfoTemp"></app-receipt-information-device-only>
        </div> -->
        <div class="container-fluid">
          <div class="card mb-3">
            <div class="card-header bg-light-blue text-white">ข้อมูลใบเสร็จรับเงิน</div>
            <!--Test Show Customer Address-->
            <div class="card-footer bg-transparent">
              <div class="container-fluid">
                <div class="card mb-3">
                  <div class="card-header bg-deep-orange border-0 text-white rounded-top p-3">
                    <div class="row">
                      <div class="col-8 text-left">
                        {{ 'ที่อยู่ในการจัดส่งเอกสาร' | translate }}
                      </div>
                      <div class="col-4 text-right">
                        <a (click)="clearCustomerAddressForm($event)" class="text-white"><u>CLEAR</u></a>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="pt-1 bg-white">
                      <form [formGroup]="customerAddressForm">
                        <div class="form-group">
                          <label for="idCardNo" id="txtIdCardNo">{{ 'บัตรประชาชน' | translate }}
                            <span class="text-red"> *</span>
                          </label>
                          <input type="text" class="form-control" id="idCardNo" maxlength="{{ idCardMaxLength }}" autocomplete="off" formControlName="idCardNo" 
                            [ngClass]="{ 'is-invalid' : customerAddressForm.controls['idCardNo'].invalid && customerAddressForm.controls['idCardNo'].dirty}">
                          <small class="invalid-feedback" *ngIf="customerAddressForm.controls['idCardNo'].dirty && customerAddressForm.controls['idCardNo'].errors">
                            * {{ customerAddressForm.controls['idCardNo'].errors?.message || 'กรุณากรอกรูปแบบให้ถูกต้อง'}}
                          </small>
                        </div>
              
                        <div class="form-group">
                          <label for="titleName" id="txtTitleName">{{ 'คำนำหน้าชื่อ' | translate }}
                            <span class="text-red"> *</span>
                          </label>
                          <select class="form-control" title="คำนำหน้าชื่อ" id="selectTitleName" formControlName="titleName"
                            [ngClass]="{'is-invalid': customerAddressForm.controls['titleName'].invalid && customerAddressForm.controls['titleName'].dirty }">
                            <option disabled value="">{{ 'คำนำหน้าชื่อ' | translate }}</option>
                            <option *ngFor="let titleName of titleNames" [value]="titleName">{{ titleName }}</option>
                          </select>
                        </div> 
              
                        <div class="form-group">
                          <label for="firstName" id="textFirstName">{{ 'ชื่อ' | translate }}
                            <span class="text-red"> *</span>
                          </label>
                          <input type="text" autocomplete="off" class="form-control" id="inputfirstName" maxlength="50" formControlName="firstName"
                            [ngClass]="{'is-invalid': !customerAddressForm.controls['firstName'].valid && customerAddressForm.controls['firstName'].dirty }">
                        </div>
              
                        <div class="form-group">
                          <label for="lastName" id="textLastName">{{ 'นามสกุล' | translate }}
                            <span class="text-red"> *</span>
                          </label>
                          <input type="text" autocomplete="off" class="form-control" id="inputlastName" maxlength="50" formControlName="lastName"
                            [ngClass]="{'is-invalid': !customerAddressForm.controls['lastName'].valid && customerAddressForm.controls['lastName'].dirty }">
                        </div>

                        <div class="form-group">
                          <label for="homeNo">{{ 'บ้านเลขที่' | translate }}
                            <span class="text-red"> *</span>
                          </label>
                          <input mcVisualKeyboard type="text" autocomplete="off" class="form-control" id="homeNo" maxlength="10" formControlName="homeNo"
                            [ngClass]="{'is-invalid': !customerAddressForm.controls['homeNo'].valid && customerAddressForm.controls['homeNo'].dirty }">
                        </div>
              
                        <div class="form-group">
                          <label for="moo">{{ 'หมู่ที่' | translate }}</label>
                          <input mcVisualKeyboard type="text" autocomplete="off" class="form-control" id="moo" maxlength="30" formControlName="moo">
                        </div>
              
                        <div class="form-group">
                          <label for="mooBan">{{ 'หมู่บ้าน' | translate }}</label>
                          <input mcVisualKeyboard type="text" autocomplete="off" class="form-control" id="mooBan" maxlength="50" formControlName="mooBan">
                        </div>
              
                        <div class="form-group">
                          <label for="room">{{ 'ห้อง' | translate }}</label>
                          <input mcVisualKeyboard type="text" autocomplete="off" class="form-control" id="room" maxlength="30" formControlName="room">
                        </div>
              
                        <div class="form-group">
                          <label for="floor">{{ 'ชั้น' | translate }}</label>
                          <input mcVisualKeyboard type="text" autocomplete="off" class="form-control" id="floor" maxlength="30" formControlName="floor">
                        </div>
              
                        <div class="form-group">
                          <label for="buildingName">{{ 'ตึก' | translate }}</label>
                          <input mcVisualKeyboard type="text" autocomplete="off" class="form-control" id="buildingName" maxlength="80" formControlName="buildingName">
                        </div>
              
                        <div class="form-group">
                          <label for="soi">{{ 'ซอย' | translate }}</label>
                          <input mcVisualKeyboard type="text" autocomplete="off" class="form-control" id="soi" maxlength="50" formControlName="soi">
                        </div>
              
                        <div class="form-group">
                          <label for="street">{{ 'ถนน' | translate }}</label>
                          <input mcVisualKeyboard type="text" autocomplete="off" class="form-control" id="street" maxlength="80" formControlName="street">
                        </div>
              
                        <div class="form-group">
                          <label for="province">{{ 'จังหวัด' | translate }}
                            <span class="text-red"> *</span>
                          </label>
                          <select class="form-control" title="{{ 'กรุณาเลือกจังหวัด' | translate }}" id="province" formControlName="province" [ngClass]="{'is-invalid': customerAddressForm.controls['province'].invalid && customerAddressForm.controls['province'].dirty }" >
                            <option disabled value="">{{ 'กรุณาเลือกจังหวัด' | translate }}</option>
                            <option *ngFor="let province of provinces" [value]="province">{{ province }}</option>
                          </select>
                        </div>
              
                        <div class="form-group">
                          <label for="amphur" class="col-form-label">{{ 'อำเภอ/เขต' | translate }}
                            <span class="text-red"> *</span>
                          </label>
                          <select class="form-control" title="{{ 'กรุณาเลือกอำเภอ/เขต' | translate }}" id="amphur" formControlName="amphur" [ngClass]="{'is-invalid': customerAddressForm.controls['amphur'].invalid && customerAddressForm.controls['amphur'].dirty }" >
                            <option disabled value="">{{ 'กรุณาเลือกอำเภอ/เขต' | translate }}</option>
                            <option *ngFor="let amphur of amphurs" [value]="amphur">{{amphur}}</option>
                          </select>
                        </div>
              
                        <div class="form-group">
                          <label for="tumbol" class="col-form-label">{{ 'ตำบล/แขวง' | translate }}
                            <span class="text-red"> *</span>
                          </label>
                          <select class="form-control" title="{{ 'กรุณาเลือกตำบล/แขวง' | translate }}" id="tumbol" formControlName="tumbol" [ngClass]="{'is-invalid': customerAddressForm.controls['tumbol'].invalid && customerAddressForm.controls['tumbol'].dirty }" >
                            <option disabled value="">{{ 'กรุณาเลือกตำบล/แขวง' | translate }}</option>
                            <option *ngFor="let tumbol of tumbols;" [value]="tumbol">{{tumbol}}</option>
                          </select>
                        </div>
              
                        <div class="form-group position-relative">
                          <label for="zipCodes" class="col-form-label">{{ 'รหัสไปรษณีย์' | translate }}
                            <span class="text-red"> *</span>
                          </label>
                          <input mcVisualKeyboard type="text" id="zipCode" maxlength="5" autocomplete="off" formControlName="zipCode" placeholder="{{ 'กรุณาเลือกรหัสไปรษณีย์' | translate }}"
                            class="form-control" [ngClass]="{'is-invalid': customerAddressForm.controls['zipCode'].invalid && customerAddressForm.controls['zipCode'].dirty }">
                        </div>
              
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <!--search-->
            <!-- <div class="card-body bg-transparent">
              <div class="row">
                <label class="col-12 col-sm-8 col-form-label" for="input-mobile-number">
                  {{ 'ออกใบเสร็จตามใบแจ้งค่าใช้บริการเบอร์ AIS' | translate }}
                </label>
                <div class="col-12 col-sm-4">
                  <form [formGroup]="searchByMobileNoForm">
                    <div class="form-group search-box">
                      <div class="input-group">
                        <input type="tel" class="form-control text-center" placeholder="ระบุเบอร์ AIS" id="input-mobile-number"
                          formControlName="mobileNo" maxlength="10" aria-describedby="basic-addon2" (keypress)="keyPress($event)">
                        <div class="input-group-append">
                          <button class="btn-outline" type="button" id="button-search-by-mobile-number" (click)="searchCustomerInfo()">
                            <img class="img-search" src="assets/images/icon/device_only_search_icon.png">
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <app-read-card (customerInfo)="setCustomerInfo($event)"></app-read-card>
                </div>
              </div>
            </div> -->

            <!--address-->
            <!-- <div class="card-footer bg-transparent">
              <div class="text-right" (click)="switchKeyInBillingAddress()">
                <label style="cursor: pointer" class="text-lime">{{ 'ระบุที่อยู่ใบเสร็จรับเงิน' | translate }}</label>
              </div>
              <div *ngIf="isShowInputForKeyIn;else customerDetail">
                <div class="container-fluid">
                    <div class="card mb-3">
                      <div class="card-header bg-deep-orange border-0 text-white rounded-top p-3">
                        <div class="row">
                          <div class="col-8 text-left">
                            {{ 'ที่อยู่ในการจัดส่งเอกสาร' | translate }}
                          </div>
                          <div class="col-4 text-right">
                            <a (click)="clearCustomerAddressForm($event)" class="text-white"><u>CLEAR</u></a>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="pt-1 bg-white">
                          <form [formGroup]="customerAddressForm">
                            <div class="form-group">
                              <label for="idCardNo" id="txtIdCardNo">{{ 'บัตรประชาชน' | translate }}
                                <span class="text-red"> *</span>
                              </label>
                              <input type="text" class="form-control" id="idCardNo" maxlength="{{ idCardMaxLength }}" autocomplete="off" formControlName="idCardNo" 
                                [ngClass]="{ 'is-invalid' : customerAddressForm.controls['idCardNo'].invalid && customerAddressForm.controls['idCardNo'].dirty}">
                              <small class="invalid-feedback" *ngIf="customerAddressForm.controls['idCardNo'].dirty && customerAddressForm.controls['idCardNo'].errors">
                                * {{ customerAddressForm.controls['idCardNo'].errors?.message || 'กรุณากรอกรูปแบบให้ถูกต้อง'}}
                              </small>
                            </div>
                  
                            <div class="form-group">
                              <label for="titleName" id="txtTitleName">{{ 'คำนำหน้าชื่อ' | translate }}
                                <span class="text-red"> *</span>
                              </label>
                              <select class="form-control" title="คำนำหน้าชื่อ" id="selectTitleName" formControlName="titleName"
                                [ngClass]="{'is-invalid': customerAddressForm.controls['titleName'].invalid && customerAddressForm.controls['titleName'].dirty }">
                                <option disabled value="">{{ 'คำนำหน้าชื่อ' | translate }}</option>
                                <option *ngFor="let titleName of titleNames" [value]="titleName">{{ titleName }}</option>
                              </select>
                            </div> 
                  
                            <div class="form-group">
                              <label for="firstName" id="textFirstName">{{ 'ชื่อ' | translate }}
                                <span class="text-red"> *</span>
                              </label>
                              <input type="text" autocomplete="off" class="form-control" id="inputfirstName" maxlength="50" formControlName="firstName"
                                [ngClass]="{'is-invalid': !customerAddressForm.controls['firstName'].valid && customerAddressForm.controls['firstName'].dirty }">
                            </div>
                  
                            <div class="form-group">
                              <label for="lastName" id="textLastName">{{ 'นามสกุล' | translate }}
                                <span class="text-red"> *</span>
                              </label>
                              <input type="text" autocomplete="off" class="form-control" id="inputlastName" maxlength="50" formControlName="lastName"
                                [ngClass]="{'is-invalid': !customerAddressForm.controls['lastName'].valid && customerAddressForm.controls['lastName'].dirty }">
                            </div>
    
                            <div class="form-group">
                              <label for="homeNo">{{ 'บ้านเลขที่' | translate }}
                                <span class="text-red"> *</span>
                              </label>
                              <input mcVisualKeyboard type="text" autocomplete="off" class="form-control" id="homeNo" maxlength="10" formControlName="homeNo"
                                [ngClass]="{'is-invalid': !customerAddressForm.controls['homeNo'].valid && customerAddressForm.controls['homeNo'].dirty }">
                            </div>
                  
                            <div class="form-group">
                              <label for="moo">{{ 'หมู่ที่' | translate }}</label>
                              <input mcVisualKeyboard type="text" autocomplete="off" class="form-control" id="moo" maxlength="30" formControlName="moo">
                            </div>
                  
                            <div class="form-group">
                              <label for="mooBan">{{ 'หมู่บ้าน' | translate }}</label>
                              <input mcVisualKeyboard type="text" autocomplete="off" class="form-control" id="mooBan" maxlength="50" formControlName="mooBan">
                            </div>
                  
                            <div class="form-group">
                              <label for="room">{{ 'ห้อง' | translate }}</label>
                              <input mcVisualKeyboard type="text" autocomplete="off" class="form-control" id="room" maxlength="30" formControlName="room">
                            </div>
                  
                            <div class="form-group">
                              <label for="floor">{{ 'ชั้น' | translate }}</label>
                              <input mcVisualKeyboard type="text" autocomplete="off" class="form-control" id="floor" maxlength="30" formControlName="floor">
                            </div>
                  
                            <div class="form-group">
                              <label for="buildingName">{{ 'ตึก' | translate }}</label>
                              <input mcVisualKeyboard type="text" autocomplete="off" class="form-control" id="buildingName" maxlength="80" formControlName="buildingName">
                            </div>
                  
                            <div class="form-group">
                              <label for="soi">{{ 'ซอย' | translate }}</label>
                              <input mcVisualKeyboard type="text" autocomplete="off" class="form-control" id="soi" maxlength="50" formControlName="soi">
                            </div>
                  
                            <div class="form-group">
                              <label for="street">{{ 'ถนน' | translate }}</label>
                              <input mcVisualKeyboard type="text" autocomplete="off" class="form-control" id="street" maxlength="80" formControlName="street">
                            </div>
                  
                            <div class="form-group">
                              <label for="province">{{ 'จังหวัด' | translate }}
                                <span class="text-red"> *</span>
                              </label>
                              <select class="form-control" title="{{ 'กรุณาเลือกจังหวัด' | translate }}" id="province" formControlName="province" [ngClass]="{'is-invalid': customerAddressForm.controls['province'].invalid && customerAddressForm.controls['province'].dirty }" >
                                <option disabled value="">{{ 'กรุณาเลือกจังหวัด' | translate }}</option>
                                <option *ngFor="let province of provinces" [value]="province">{{ province }}</option>
                              </select>
                            </div>
                  
                            <div class="form-group">
                              <label for="amphur" class="col-form-label">{{ 'อำเภอ/เขต' | translate }}
                                <span class="text-red"> *</span>
                              </label>
                              <select class="form-control" title="{{ 'กรุณาเลือกอำเภอ/เขต' | translate }}" id="amphur" formControlName="amphur" [ngClass]="{'is-invalid': customerAddressForm.controls['amphur'].invalid && customerAddressForm.controls['amphur'].dirty }" >
                                <option disabled value="">{{ 'กรุณาเลือกอำเภอ/เขต' | translate }}</option>
                                <option *ngFor="let amphur of amphurs" [value]="amphur">{{amphur}}</option>
                              </select>
                            </div>
                  
                            <div class="form-group">
                              <label for="tumbol" class="col-form-label">{{ 'ตำบล/แขวง' | translate }}
                                <span class="text-red"> *</span>
                              </label>
                              <select class="form-control" title="{{ 'กรุณาเลือกตำบล/แขวง' | translate }}" id="tumbol" formControlName="tumbol" [ngClass]="{'is-invalid': customerAddressForm.controls['tumbol'].invalid && customerAddressForm.controls['tumbol'].dirty }" >
                                <option disabled value="">{{ 'กรุณาเลือกตำบล/แขวง' | translate }}</option>
                                <option *ngFor="let tumbol of tumbols;" [value]="tumbol">{{tumbol}}</option>
                              </select>
                            </div>
                  
                            <div class="form-group position-relative">
                              <label for="zipCodes" class="col-form-label">{{ 'รหัสไปรษณีย์' | translate }}
                                <span class="text-red"> *</span>
                              </label>
                              <input mcVisualKeyboard type="text" id="zipCode" maxlength="5" autocomplete="off" formControlName="zipCode" placeholder="{{ 'กรุณาเลือกรหัสไปรษณีย์' | translate }}"
                                class="form-control" [ngClass]="{'is-invalid': customerAddressForm.controls['zipCode'].invalid && customerAddressForm.controls['zipCode'].dirty }">
                            </div>
                  
                          </form>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              <ng-template #customerDetail>
                <div>
                  <label class="text-grey">{{ 'ผู้ซื้อ' | translate }} &nbsp;&nbsp;&nbsp; {{ nameText }} </label>
                </div>
                <div>
                  <label class="text-grey">{{ 'ที่อยู่ใบเสร็จรับเงิน' | translate }} &nbsp;&nbsp;&nbsp; {{ billingAddressText }}</label>
                </div>
              </ng-template>
            </div> -->
            
            <!-- Receipt Info -->
            <!-- <div class="card-footer bg-transparent">
              <form [formGroup]="receiptInfoForm" class="pt-2">
                <div class="form-group row">
                  <label for="taxId" class="col-12 col-sm-3 col-form-label" id="txtTaxID">Tax Id </label>
                  <div class="col-12 col-sm-9">
                    <input type="text" class="form-control" id="taxId" formControlName="taxId"
                      [value]="receiptInfoForm.controls.taxId.value" readonly >
                  </div>
                </div>
                <div class="form-group row">
                  <label for="branch" class="col-12 col-sm-3 col-form-label" id="txtBranch">สาขาที่</label>
                  <div class="col-12 col-sm-9">
                    <input type="text" class="form-control" id="branch" formControlName="branch" readonly />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="telNo" class="col-12 col-sm-3 col-form-label" id="txtTelNo">
                    เบอร์ติดต่ออื่น
                    <span class="text-red"> *</span>
                  </label>
                  <div class="col-12 col-sm-9">
                    <input type="tel" maxlength="10" class="form-control" id="telNo" 
                      formControlName="telNo" [ngClass]="{ 'is-invalid' : receiptInfoForm.controls.telNo.invalid && receiptInfoForm.controls.telNo.touched }"
                      (keypress)="keyPress($event)" autocomplete="off">
                    <small class="form-text invalid-feedback" *ngIf="receiptInfoForm.controls.telNo.touched && receiptInfoForm.controls.telNo.errors">
                      * กรุณากรอกเบอร์ติดต่อให้ถูกต้อง
                    </small>
                  </div>
                </div>
              </form>
            </div> -->
        </div>
      </div>
    </div>
    <mc-footer>
        <button class="btn btn-secondary" id="button-back" (click)="onBack()">BACK</button>
        <button class="btn btn-success" id="button-next" (click)="onNext()" [disabled]="isNotFormValid()">NEXT</button>
    </mc-footer>
</div>