<div class="mc-flex background">

    <div class="container-fluid">
        <div class="title text-center">กรุณาเลือกทำรายการ</div>
        <div class="mb-5 container">
            <img src="assets/images/icon/svg/ico-01.svg">
        </div>

        <div class="row pl-3 pr-3">
            <div class="col-6 mb-5">
                <img src="assets/images/icon/svg/ico-05.svg" (click)="goPage('/buy-product/brand')">
                <div class="font-size text-center">ซื้อเครื่อง</div>
            </div>

            <div class="col-6 mb-5">
                <img src="assets/images/icon/svg/ico-06.svg" (click)="goPage('/order/new-register/')">
                <div class="font-size text-center">เปิดเบอร์ใหม่</div>
            </div>
            <div class="col-6 mb-5">
                <img src="assets/images/icon/svg/ico-08.svg" (click)="goPage('/order/mnp/')">
                <div class="font-size text-center">ย้ายค่ายมาใช้ AIS</div>
            </div>

            <div class="col-6 mb-5">
                <img src="assets/images/icon/svg/ico-07.svg" (click)="goPage('/order/pre-to-post/')">
                <div class="font-size text-center">เปลี่ยนเติมเงินเป็นรายเดือน</div>
            </div>
        </div>
    </div>

</div>