<div class="menu-flex">
    <!-- <div class="container"> -->
    <div class="media">
        <h1 class="text-center">เลือกรายการ</h1>
    </div>
    <div class="media">
        <img src="assets/images/sales/icon-new-register.png" class="align-self-center mr-3" />
        <div class="media-body">
            <h5 class="mt-0">ซื้อเครื่องพร้อมเปิดเบอร์ใหม่</h5>
        </div>
    </div>
    <div class="media">
        <img src="assets/images/sales/icon-new-register.png" class="align-self-center mr-3" />
        <div class="media-body">
            <h5 class="mt-0">ซื้อเครื่องพร้อมเปลี่ยนเติมเงินเป็นรายเดือน</h5>
        </div>
    </div>
    <div class="media">
        <img src="assets/images/sales/icon-new-register.png" class="align-self-center mr-3" />
        <div class="media-body">
            <h5 class="mt-0">ซื้อเครื่องพร้อมเปลี่ยนเติมเงินเป็นรายเดือน</h5>
        </div>
    </div>
    <div class="media">
        <img src="assets/images/sales/icon-new-register.png" class="align-self-center mr-3" />
        <div class="media-body">
            <h5 class="mt-0">ซื้อเครื่องเปล่าพร้อมสิทธิ์ลูกค้าเก่า</h5>
        </div>
    </div>
    <!-- </div> -->
</div>