.background{
    background-color: #FFFFFF;
}

.font-size{
    font-size: 2em;
}

.title{
    padding-top: 1em;
    font-size: 3em;
}

a:link{
    text-decoration:none;
    color: #000000;
}
a:hover {
    color: #000000;
}
a:visited {
    color: #000000;
}