<div class="mc-flex background">
    <div class="container-fluid">
        <div class="title text-center">กรุณาเลือกทำรายการ</div>
        <div class="mb-5 container">
            <img src="assets/images/icon/svg/ico-01.svg">
        </div>
        <div class="row pl-3 pr-3">
            <div class="col-6 mb-5">
                <a href="#" routerLink="/buy-product/brand">
                    <img src="assets/images/icon/svg/ico-05.svg">
                    <div class="font-size text-center">ซื้อเครื่อง</div>
                </a>
            </div>
            <div class="col-6 mb-5">
                <a href="#" routerLink="/order/new-register/">
                    <img src="assets/images/icon/svg/ico-06.svg">
                    <div class="font-size text-center">เปิดเบอร์ใหม่</div>
                </a>
            </div>
            <div class="col-6 mb-5">
                <a href="#" routerLink="/order/mnp/">
                    <img src="assets/images/icon/svg/ico-08.svg">
                    <div class="font-size text-center">ย้ายค่ายมาใช้ AIS</div>
                </a>
            </div>
            <div class="col-6 mb-5">
                <a href="#" routerLink="/order/pre-to-post/">
                    <img src="assets/images/icon/svg/ico-07.svg">
                    <div class="font-size text-center">เปลี่ยนเติมเงินเป็นรายเดือน</div>
                </a>
            </div>
        </div>
    </div>
</div>