<div class="mc-flex">
  <mc-header title="รายการสินค้า">
    <div class="header-icon-left">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap">
    <div class="mt-3">
      <mc-shopping-cart [shoppingCart]=shoppingCart></mc-shopping-cart>
      <mc-wizard [wizards]="wizards" [active]="active"></mc-wizard>

      <div class="container-fluid" *ngIf="depositOrDiscount">
        <div class="card mb-3">
          <div class="card-header bg-teal text-white rounded-top p-3">
            ค่ามัดจำและส่วนลดอื่นๆ
          </div>
          <div class="card-header text-light-green bg-transparent">
            <div class="row">
              <div class="col-12" *ngIf="paymentDetail?.header">
                ค่ามัดจำสินค้า {{ priceOption?.productDetail?.name + ' สี ' + priceOption?.productStock?.colorName}}
                <span class="pull-right text-danger">฿ - {{ transaction?.data?.preBooking.depositAmt | number}}</span>
              </div>
            </div>
          </div>

          <div class="card-body">
            <form [formGroup]="discountForm">
              <div class="form-group row">
                <div class="col-12 col-sm-10">
                  <input class="form-check-input" type="radio" id="prebooking-discount" value="preBooking"
                    formControlName="discountType">
                  <label class="form-check-label" for="prebooking-discount">
                    มัดจำเครื่อง{{priceOption?.productDetail?.name}} สี: {{priceOption?.productStock?.colorName}}
                    (นัดรับสินค้าวันที่: {{transaction?.data?.preBooking?.deliveryDt}})
                    ({{transaction?.data?.preBooking?.preBookingNo}})
                  </label>
                </div>
                <div class="col-12 col-sm-2">
                  <span class="pull-right text-grey">฿ {{ transaction?.data?.preBooking.depositAmt | number}}</span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <mc-payment-detail [paymentDetail]="payementDetail" [banks]="banks" (completed)="onPaymentCompleted($event)"
        (error)="onPaymentError($event)">
      </mc-payment-detail>

      <mc-receipt-info [receiptInfo]="receiptInfo"></mc-receipt-info>
    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
    <button class="btn btn-success" (click)="onNext()" [disabled]="!isNext()">NEXT</button>
  </mc-footer>
</div>