<div class="mc-flex">
  <mc-header title="{{ 'ขายแพ็กเกจเสริม' | translate }}">
    <div class="header-icon-left w-25">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right w-25 text-right">
      <!-- <mc-dropdown-language></mc-dropdown-language> -->
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap">
    <div class="mb-1">
      <div class="container-fluid">
        <div class="mc-flex-wrap">
          <form [formGroup]="mobileForm">
            <div class="form-group">
              <div class="text-center">หมายเลขโทรศัพท์ลูกค้า</div>
              <input class="form-control text-center" type="tel" id="mobileNo" maxlength="10" formControlName="mobileNo"
                placeholder="ระบุหมายเลขโทรศัพท์ลูกค้า" value="">
              <!-- [ngClass]="{ 'is-invalid' : mobileFrom.controls.mobileNo.invalid && mobileFrom.controls.mobileNo.touched && mobileFrom.controls.mobileNo.errors }"> -->
              <!-- <small class="invalid-feedback"
                    *ngIf="mobileFrom.controls.mobileNo.touched && mobileFrom.controls.mobileNo.errors">
                    **กรุณากรอกหมายเลขโทรศัพท์ให้ถูกต้อง
                  </small> -->
            </div>
          </form>
        </div>
        <div class="mc-flex-wrap">
          <div class="text-center">แพ็กเกจขายดี</div>
        </div>

        <app-vas-package-slider
          [packages]='packageBestSaller'
          (selectedBestSellerPackage)="onSelectedBestSellerPackage($event)"
        ></app-vas-package-slider>

        <div class="text-center">
          แพ็กเกจตาม Life Style
        </div>

        <div class="card text-center">
          <div class="card-header p-0">
            <div class="row">
              <div class="col-12 text-center">
                <ul class="nav nav-pills">
                  <div *ngFor="let i of shelves">
                    <li class="nav-item p-0 col-6">
                      <a class="nav-link active" href="#menu1" data-toggle="pill">{{shelves.title}}</a>
                    </li>
                  </div>
                  </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-content">
          <div class="card-body p-0 tab-pane active" id="menu1">
            <div class="card-header bg-lime text-center text-white">
              เหมา เหมา
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-3">ค่าบริการ บ.</div>
                <div class="col-5">เน็ตรวม</div>
                <div class="col-2">จำนวนวัน</div>
                <div class="col-2"></div>
              </div>
              <div class="row">
                <div class="col-3">
                  <select class="form-control" disabled="false">
                    <option value="" disabled selected>{{ 'ค่าบริการ' | translate }}</option>
                    <option selected>9.00</option>
                    <option>20.00</option>
                    <option>39.00</option>
                  </select>
                </div>
                <div class="col-5">
                  <input type="text" class="form-control text-center" value="-" readonly>
                </div>
                <div class="col-2">
                  <input type="text" class="form-control text-center" value="-" readonly>
                </div>
                <div class="col-2">
                  <button class="btn btn-success" (click)="onSelectPackage()">ขายเลย</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
    <!-- <button class="btn btn-success" (click)="onNext()">NEXT</button> -->
  </mc-footer>
</div>
