<div class="mc-flex">
    <mc-header title="{{ 'ซื้อเครื่องพร้อมเปิดเบอร์ใหม่' | translate}}">
        <!-- <div class="header-icon-left w-25">
            <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
        </div>
        <div class="header-icon-right w-25 text-right">
            <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
        </div> -->
    </mc-header>
    <div class="mc-flex-wrap">
        <mc-shopping-cart [shoppingCart]="shoppingCart"></mc-shopping-cart>

        <div class="my-3">
            <mc-wizard [wizards]="wizards" active="2"></mc-wizard>

            <div *ngIf="outChnSaleFlow !== 'Retail Chain'">
                <mc-payment-detail [paymentDetail]="payementDetail" [banks]="banks" (completed)="onPaymentCompleted($event)" (error)="onPaymentError($event)">
                </mc-payment-detail>
            </div>

            <div *ngIf="outChnSaleFlow === 'Retail Chain'">
                <div class="payment-detail-container container-fluid">
                    <div class="card mb-3">
                        <div class="card-header bg-orange text-white">
                            {{ 'รูปแบบชำระเงิน' | translate }}
                        </div>
                        <div class="content">
                            <div class="price-package-container font-dark-green">
                                <div class="row align-middle align-justify">
                                    <div class="col-sm-8">
                                        <span>ค่าเครื่อง {{ payementDetail?.commercialName }}</span>
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        <span>฿ {{ (payementDetail?.promotionPrice || 0) | number }}</span>
                                    </div>
                                </div>

                                <div *ngIf="!payementDetail?.installmentFlag && payementDetail?.advancePay" class="row align-middle align-justify">
                                    <div class="col-sm-8">
                                        {{ 'แพ็กเกจชำระล่วงหน้า' | translate }}
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        ฿ {{ (payementDetail?.advancePay || 0) | number }}
                                    </div>
                                </div>
                            </div>
                            <!-- payment detail -->
                            <div class="payment-container">
                                <form [formGroup]="paymentForm" novalidate>
                                    <div class="col-sm-12 row align-middle payment-cash-container" style="margin: auto;">
                                        <div class="col-sm-1">
                                            <input autocomplete="off" type="radio" id="payment-cash" name="paymentType" value="cash" formControlName="paymentType" [checked]="paymentTypeRadio.type === 'cash'">
                                            <label for="payment-cash">
                                                <!-- <div class="check" [ngClass]="{'disabled-radio': paymentForm.get('paymentType').disabled && paymentTypeRadio.type !== 'cash'}">
                                                    <img src="assets/images/icon/icon-small-green-check.png" />
                                                </div> -->
                                            </label>
                                        </div>
                                        <div class="col-sm-4 text-left mt-2">
                                            <label for="payment-cash">ชำระเงินด้วยเงินสด</label>
                                        </div>
                                        <div class="col-sm-5 mt-2" style="margin-left: 0.7rem">
                                            เต็มจำนวน
                                        </div>
                                    </div>
                                    <div class="col-sm-12 row row align-middle payment-credit-container" style="margin: auto;">
                                        <div class="col-sm-1">
                                            <input autocomplete="off" type="radio" id="payment-credit" name="paymentType" value="credit" formControlName="paymentType" [checked]="paymentTypeRadio.type === 'credit'" [attr.disabled]="!disabledCreditCardRadio ? !disabledCreditCardRadio: null">
                                            <label for="payment-credit">
                                                <!-- <div class="check" [ngClass]="{'disabled-radio': !disabledCreditCardRadio || (paymentForm.get('paymentType').disabled && paymentTypeRadio.type !== 'credit')}">
                                                    <img src="assets/images/icon/icon-small-green-check.png" />
                                                </div> -->
                                            </label>
                                        </div>
                                        <div class="col-sm-4 mt-2">
                                            <label for="payment-credit">ชำระเงินด้วยบัตรเครดิต</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <select class="form-control" formControlName="fullPaidAndInstallment">
                                                <option value="installment" [selected]="$isFullPayment === 'installment'">ผ่อนชำระ</option>
                                                <option value="full" [selected]="$isFullPayment === 'full'">เต็มจำนวน</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="bank-selection-container" *ngIf="priceOption.trade.banks.length > 0">
                                        <ng-container *ngIf="paymentType === 'CC'">
                                            <div class="row columns align-middle text-center">
                                                <span>ระบุธนาคาร</span>
                                            </div>
                                            <div class="row align-middle">

                                                <!-- <div class="row" *ngFor="let splittedBank of splittedBanks; let i = index">
                                                    <ng-container *ngIf="i < maxRow || isShowAllBank">
                                                        <mc-bank-thumnail class="small-2 columns" [ngClass]="{'small-offset-1': i === 0}" *ngFor="let bank of splittedBank; let i = index" [bank]="bank" [selectBank]="selectBank" (selectBankEvent)="onSelectBank($event)">
                                                        </mc-bank-thumnail>
                                                    </ng-container>
                                                </div> -->
                                                <!-- <mc-bank-thumnail-list style="width: 100%;" [isPrebooking]="isPrebooking" [grandTotal]="grandTotal" [maxRow]="MAX_BANK_ROW" [isShowAllBank]="isShowAllBank" [banks]="priceOptionPrivilegeTrade.banks" [selectBank]="selectBank" (selectBankEvent)="onSelectBank($event)"></mc-bank-thumnail-list> -->


                                            </div>
                                            <div *ngIf="priceOption.trade.banks.length > 5 * MAX_BANK_ROW && !isShowAllBank" class="row columns text-right">
                                                <span class="more-installment-text" (click)="isShowAllBank = true">More</span>
                                            </div>
                                        </ng-container>
                                        <div class="row align-middle discount-container" *ngIf="priceOption.trade.priceDiscount && priceOption.trade.discount.specialType !== '' && priceOption.trade.discount.specialAmount && priceOption.trade.discount.specialAmount > 0">
                                            <ng-container *ngIf="priceOption.trade.discount.specialType === 'P'">
                                                โปรโมชั่นพิเศษลดเพิ่ม {{ priceOption.trade.discount.specialAmount }} %
                                            </ng-container>
                                            <ng-container *ngIf="priceOption.trade.discount.specialType === 'B'">
                                                โปรโมชั่นพิเศษลดเพิ่ม {{ priceOption.trade.discount.specialAmount }} บาท
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div *ngIf="paymentType === 'CC' && $isFullPayment === 'installment' && sortInstallmentList.length > 0" class="installment-method-container">
                                        <div class="select-text row columns align-middle text-center">
                                            <span class="font-pink">กรุณาเลือกรูปแบบการชำระเงิน</span>
                                        </div>
                                        <div class="row">
                                            <div *ngFor="let installment of sortInstallmentList; let i = index" class="small-3 columns">
                                                <div *ngIf="i < 8 || isShowAllInstallment" class="row">
                                                    <div class="small-3 columns">
                                                        <input autocomplete="off" type="radio" id="installment-{{ i }}" name="installment" formControlName="installment" [checked]="isCheckedInstallment(installment)">
                                                        <label for="installment-{{ i }}" (click)="onSelectBankInstallment(installment)">
                                        <div class="check">
                                            <img src="assets/images/icon/icon-small-green-check.png" />
                                        </div>
                                        </label>
                                                    </div>
                                                    <div class="small-9 columns">
                                                        <label for="installment-{{ i }}" (click)="onSelectBankInstallment(installment)">{{ installment.installmentPercentage }}% {{ installment.installmentMounth }} เดือน</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="sortInstallmentList.length > 8 && !isShowAllInstallment" class="row columns text-right">
                                            <span class="more-installment-text" (click)="isShowAllInstallment = true">More</span>
                                        </div>
                                    </div>

                                    <!-- <div class="row align-middle payment-qr-container" *ngIf="$isFullPayment === 'full' && user.userType !== 'ASP' && user.channelType !== SFF_WEB && priceOption.productStock.company === 'AWN'">
                                        <div class="col-sm-1">
                                            <input autocomplete="off" type="radio" id="payment-qr" name="paymentType" value="qrcode" formControlName="paymentType" [checked]="paymentTypeRadio.type === 'qrcode'">
                                            <label for="payment-qr">
                                    <div class="check" [ngClass]="{'disabled-radio': paymentForm.get('paymentType').disabled && paymentTypeRadio.type !== 'qrcode'}">
                                    <img src="assets/images/icon/icon-small-green-check.png" />
                                    </div>
                                </label>
                                        </div>
                                        <div class="col-sm-4 text-left">
                                            <label for="payment-qr">ชำระเงินด้วย QR Code</label>
                                        </div>
                                        <div class="col-sm-5" style="margin-left: 0.7rem">
                                            เต็มจำนวน
                                        </div>
                                    </div>
                                    <div class="qr-selection-container">
                                        <ng-container *ngIf="paymentTypeRadio.type === 'qrcode'">
                                            <div class="row align-middle">
                                                <mc-qr-thumnail-list style="width: 100%;" [qrcodes]="qrcodes" [selectQrcode]="selectQrcode" (selectQrcodeEvent)="onSelectQrcode($event)"></mc-qr-thumnail-list>
                                            </div>
                                        </ng-container>
                                    </div> -->
                                </form>
                            </div>

                            <!-- Advance pay -->
                            <ng-container *ngIf="priceOption.trade.advancePay.amount !== 0">
                                <div *ngIf="priceOption.trade.advancePay.installmentFlag === 'N' || priceOption.trade.advancePay.installmentFlag === ''" class="pre-paid-package-container">

                                    <div class="price-package-container font-dark-green">
                                        <div class="row align-middle align-justify">
                                            <div class="col-sm-8">
                                                <span>{{ 'แพ็กเกจชำระล่วงหน้า' | translate }}</span>
                                            </div>
                                            <div class="col-sm-4 text-right">
                                                <span>฿ {{priceOption.trade.advancePay.amount | number }}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="content">
                                        <form [formGroup]="advancePaymentForm" novalidate>
                                            <div class="col-sm-12 row align-middle payment-cash-container" style="padding: 0.5em 0em;border-bottom: 0.05em solid #cccccc;margin: auto;">
                                                <div class="col-sm-1">
                                                    <input autocomplete="off" type="radio" id="air-time-payment-cash" name="air-time-package-payment-type" name="advancePaymentType" value="cash" formControlName="advancePaymentType" [checked]="paymentTypeRadio.type === 'cash'">
                                                    <label for="air-time-payment-cash" id="payment-cash">
                                                        <!-- <div class="check">
                                                            <img src="assets/images/icon/icon-small-green-check.png" />
                                                        </div> -->
                                                    </label>
                                                </div>
                                                <div class="col-sm-4 text-left mt-2">
                                                    <label for="payment-cash">ชำระเงินด้วยเงินสด</label>
                                                </div>
                                                <div class="col-sm-5" style="margin-left: 1rem">
                                                    เต็มจำนวน
                                                </div>
                                            </div>
                                            <!-- <div class="row align-middle payment-qr-container" *ngIf="user.channelType !== SFF_WEB && user.userType !== 'ASP' && productInfo.company === 'AWN'">
                                                <div class="col-sm-1">
                                                    <input autocomplete="off" type="radio" id="air-time-payment-qr" name="air-time-payment-qr" name="advancePaymentType" value="qrcode" formControlName="advancePaymentType">

                                                    <label for="air-time-payment-qr" id="payment-qr">
                                                        <div class="check">
                                                            <img src="assets/images/icon/icon-small-green-check.png" />
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="col-sm-4 text-left">
                                                    <label for="payment-cash">ชำระเงิน QR Code</label>
                                                </div>
                                                <div class="col-sm-5" style="margin-left: 1rem">
                                                    เต็มจำนวน
                                                </div>
                                            </div>
                                            <div class="qr-selection-container">
                                                <ng-container *ngIf="advancePaymentForm.value['advancePaymentType'] == 'qrcode'">
                                                    <div class="row align-middle">
                                                        <mc-qr-thumnail-list style="width: 100%;" [qrcodes]="qrcodes" [selectQrcode]="selectQrcode" (selectQrcodeEvent)="onSelectQrcode($event)"></mc-qr-thumnail-list>
                                                    </div>
                                                </ng-container>
                                            </div> -->
                                        </form>
                                    </div>
                                </div>
                            </ng-container>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <mc-receipt-info [receiptInfo]="receiptInfo" (completed)="onReceiptInfoCompleted($event)" (error)="onReceiptInfoError($event)"></mc-receipt-info>
    <mc-footer>
        <button class="btn btn-secondary" (click)="onBack()">BACK</button>
        <button class="btn btn-success" [disabled]="!isNext()" (click)="onNext()">NEXT</button>
    </mc-footer>
</div>