<div class="mc-flex">
  <mc-header title="{{'ลูกค้าปัจจุบัน' | translate}}"></mc-header>
  <div class="mc-flex-wrap">
    <div class="m-5">

      <div class="card">
        <div class="card-body pt-3 text-center ">
          <img src="assets/images/icon/icon-green-check-circle.png" class="icon" /> <br>
          <b>{{'หมายเลข'| translate}} <span class="text-green">{{ transaction?.data?.simCard?.mobileNo | mobileNo }}</span></b> <br>
          <b>{{'ชำระค่าสินค้าเรียบร้อยแล้ว'| translate}}</b> <br>
          <b>{{'หมายเลขอ้างอิง'| translate}} {{ transaction?.data?.omise?.tranId }}</b>
        </div>

        <!-- ชำระ -->
        <ng-container>
          <div class="card-body border-top">
            <p><b class="text-light-grey" translate>รายการสินค้า (ที่ชำระแล้ว)</b></p>
            <ng-container *ngIf="transaction?.data?.payment?.paymentOnlineCredit">
              <div class="text-light-grey">
                <p>
                  <i class="fa fa-circle mr-3 text-green"></i>
                  {{ priceOption?.productDetail?.name }}
                  <span *ngIf="priceOption?.productStock?.color">
                    {{ priceOption?.productStock?.color? ('สี'| translate) : '' }} {{ priceOption?.productStock?.color }}
                  </span>
                  <span *ngIf="priceOption?.productStock?.productSubType === 'HANDSET BUNDLE'">
                    ({{'แถมซิม'| translate}})
                  </span>
                  <span class="pull-right text-green">
                    ฿ {{ priceOption?.trade?.promotionPrice | number }}
                  </span>
                </p>
              </div>
            </ng-container>

            <ng-container *ngIf="transaction?.data?.advancePayment?.paymentOnlineCredit || priceOption?.trade?.advancePay?.installmentFlag === 'Y'">
              <div class="text-light-grey"
                *ngIf="(priceOption?.trade?.advancePay?.installmentFlag === 'N' && priceOption?.trade?.advancePay?.amount > 0) || priceOption?.trade?.advancePay?.installmentFlag === 'Y'">
                <p>
                  <i class="fa fa-circle mr-3 text-green"></i>
                  {{ summaryPageService.advanpayDescription(priceOption?.trade?.advancePay?.description) }}
                  <span class="pull-right text-green">
                    ฿ {{ priceOption?.trade?.advancePay?.amount | number }}
                  </span>
                </p>
              </div>
            </ng-container>

            <div class="mt-1 text-right">
              <b>
                <span class="mr-3" translate>รวมยอดชำระ (รวม VAT)</span>
                <span class="text-green">
                  $ {{ getPaymentBalance() | number:'1.0-0' }}
                </span>
              </b>
            </div>

          </div>
        </ng-container>

        <!-- ค้างชำระ -->
        <ng-container *ngIf="!transaction?.data?.payment?.paymentOnlineCredit 
        || (!transaction?.data?.advancePayment?.paymentOnlineCredit && priceOption?.trade?.advancePay?.installmentFlag === 'N')">
          <div class="card-body border-top">
            <p><b class="text-light-grey" translate>รายการสินค้า (รอชำระ)</b></p>

            <ng-container *ngIf="!transaction?.data?.payment?.paymentOnlineCredit">
              <div class="text-light-grey">
                <p>
                  <i class="fa fa-circle mr-3 text-green"></i>
                  {{ priceOption?.productDetail?.name }}
                  <span *ngIf="priceOption?.productStock?.color">
                    {{ priceOption?.productStock?.color? ('สี'| translate) : '' }} {{ priceOption?.productStock?.color }}
                  </span>
                  <span *ngIf="priceOption?.productStock?.productSubType === 'HANDSET BUNDLE'">
                    ({{'แถมซิม' | translate}})
                  </span>
                  <span class="pull-right text-green">
                    ฿ {{ priceOption?.trade?.promotionPrice | number }}
                  </span>
                </p>
              </div>
            </ng-container>

            <ng-container *ngIf="!transaction?.data?.advancePayment?.paymentOnlineCredit">
              <div class="text-light-grey"
                *ngIf="priceOption?.trade?.advancePay?.installmentFlag === 'N' && priceOption?.trade?.advancePay?.amount > 0">
                <p
                  *ngIf="priceOption?.trade?.advancePay?.installmentFlag === 'N' && priceOption?.trade?.advancePay?.amount > 0">
                  <i class="fa fa-circle mr-3 text-green"></i>
                  {{ summaryPageService.advanpayDescription(priceOption?.trade?.advancePay?.description) }}
                  <span class="pull-right text-green">
                    ฿ {{ priceOption?.trade?.advancePay?.amount | number }}
                  </span>
                </p>
              </div>
            </ng-container>

            <div class="mt-1 text-right">
              <b>
                <span class="mr-3" translate>รวมยอดชำระ (รวม VAT)</span>
                <span class="text-green">
                  ฿ {{ getOutStandingBalance() | number:'1.0-0' }}
                </span>
              </b>
            </div>
          </div>
        </ng-container>
      </div>
      <!-- card -->
      <div class="card-body  border-right border-bottom border-left text-center text-light-grey bg-white">
        <form [formGroup]="queueFrom">
          <div class="form-group">
            <b class="mt-5 text-center">{{'เบอร์โทรศัพท์รับหมายเลขสั่งซื้อ'| translate}} <br>{{'เพื่อชำระสินค้าของท่านคือ'| translate}}</b>
            <input mcVisualKeyboard type="tel" class="form-control text-center mb-3 mt-3" id="mobileNo" maxlength="10"
              autofocus autocomplete="off" formControlName="mobileNo" placeholder="ระบุเบอร์โทรศัพท์รับ SMS"
              [ngClass]="{ 'is-invalid' : queueFrom.controls.mobileNo.invalid && queueFrom.controls.mobileNo.touched && queueFrom.controls.mobileNo.errors }">
            <small class="invalid-feedback"
              *ngIf="queueFrom.controls.mobileNo.touched && queueFrom.controls.mobileNo.errors">
              **{{'กรุณากรอกหมายเลขโทรศัพท์ให้ถูกต้อง'| translate}}
            </small>
          </div>
        </form>
      </div>

    </div>
  </div>
  <mc-footer>
    <button class="btn btn-success" (click)="onNext()" [disabled]="queueFrom.invalid">NEXT</button>
  </mc-footer>
</div>