<div class="mc-flex">
  <mc-header title="{{ 'เปิดเบอร์ใหม่' | translate }}"></mc-header>
  <div class="mc-flex-wrap bg-white">
    <div class="container">
      <div class="card mt-3">
        <div class="card-header bg-light-blue text-white">
          <img src="assets/images/icon/icon-circle-ais-post-logo.png" class="icon-ais mr-2">
          {{ 'Post Paid' | translate }}
        </div>
        <div class="card-body">
          <div class="m-3" translate>1. {{ mobileNo | mobileNo }} (เบอร์โทรหลัก - เบอร์จดทะเบียนใหม่)</div>
        </div>
      </div>
      <div class="pt-3 pb-3">
        <img src="assets/images/icon/icon-ReadIDCard-01.png" class="icon-read-card">
        <img src="assets/images/icon/icon-input-sim.png" class="icon-perso-sim">
        <div class="progress mt-3 mb-5">
          <div class="progress-bar bg-success" role="progressbar" [style.width.%]="persoSim?.progress"
            [attr.aria-valuenow]="persoSim?.progress" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="text-center mt-3 mb-3 text-red" translate>{{ errorMessage }}</div>
        <div class="line-behind">
          <span translate>หรือ</span>
        </div>
        <form [formGroup]="simSerialForm">
          <div class="form-group">
            <label for="simserial" class="form-text text-center" translate>กรอกเลขที่ซิมการ์ด</label>
            <input 
              name="barcodeValue" 
              id="txtRegNumConfirmScanSim" 
              class="form-control text-center" 
              type="tel"
              maxlength="13"
              placeholder="{{(scanBarcodePC$ | async)? 'ใส่เลขที่ซิม 13 หลัก' : 'สแกน Barcode หรือ ใส่เลขที่ซิม 13 หลัก'}}"
              [ngClass]="{'is-invalid':!simSerialForm.controls['simSerial'].valid}" 
              formControlName="simSerial"
              [(ngModel)]="simSerialKeyIn" 
              autocomplete="off" 
              (ngModelChange)="onSerialNumberChanged($event)">
            <small class="form-text text-red text-center" [hidden]="simSerialForm.controls['simSerial'].valid" translate>
              * เลขที่ซิมต้องเป็นตัวเลข 13 ตัวเท่านั้น
            </small>
          </div>
        </form>
      </div>
    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()" [disabled]="disableBack">BACK</button>
    <button class="btn btn-success" (click)="onNext()">NEXT</button>
  </mc-footer>
</div>