<div class="mc-flex">
  <mc-header title="{{ 'เปิดเบอร์ใหม่' | translate }}">
    <div class="header-icon-left w-25">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right w-25 text-right">
      <mc-dropdown-language></mc-dropdown-language>
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap ">
    <div class="pt-3 pb-3">
      <div class="container">
        <div class="mb-3 mt-3 bg-gral">
          <mc-wizard [wizards]="wizards" active="3"></mc-wizard>
        </div>
      </div>
      <div class="card mb-3 bg-white">
        <div class="card-header bg-light-blue text-white ">
          <img src="assets/images/icon/icon-circle-ais-post-logo.png" class="icon-post-piad mr-2" />
          {{ 'Post Paid' | translate }}
        </div>
        <p class="m-3">1. {{'0964220463' | mobileNo}} (เบอร์โทรหลัก - เบอร์จดทะเบียนใหม่)</p>
        <img src="assets/images/icon/icon-ReadIDCard-01.png" class="icon-read-card" />
        <img src="assets/images/icon/icon-input-sim.png" class="icon-perso-sim" />
        <div class="text-center mt-3 mb-3" translate>กรุณาเสียบซิมการ์ด</div>
        <div class="progress mb-5 mx-5">
          <div class="progress-bar bg-success" role="progressbar" [style.width.%]="persoSim?.progress"
            [attr.aria-valuenow]="persoSim?.progress" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="text-center mt-3 mb-3 text-red" translate>{{ errorMessage }}</div>
        <div class="line-behind" *ngIf="option?.key_sim">
          <span translate>หรือ</span>
        </div>
        <form>
          <div class="form-group" *ngIf="option?.key_sim">
            <label for="simserial" class="form-text text-center" translate>กรอกเลขที่ซิมการ์ด</label>
            <input type="text" class="form-control text-center" id="simserial" maxlength="13"
              placeholder="สแกน Barcode หรือ ใส่เลขที่ซิม 13 หลัก" mcVirtualKeyboard>
            <small class="form-text text-red text-center" translate>* เลขที่ซิมต้องเป็นตัวเลข 13 ตัวเท่านั้น</small>
          </div>
        </form>
      </div>
    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
    <!-- <button class="btn btn-success" (click)="onNext()" [disabled]="!isNext">NEXT</button> -->
  </mc-footer>
</div>