<ng-template #select_billing_address>
    <div class="modal-header bg-white">
      <div class="modal-title text-white card-header bg-light-blue ">
        {{ 'เลือกที่อยู่ในใบเสร็จรับเงิน' | translate }}
      </div>
    </div>
    <div class="modal-body">
      <form>
        <div>
          <input class="form-check-input" type="radio" value="ที่อยู่ตามบัตร">
          <label class="form-check-label">
            {{ 'ที่อยู่ตามบัตร' | translate }}
          </label>
        </div>
        <div>
          <input class="form-check-input" type="radio" value="ที่อยู่ตามเบอร์">
          <label class="form-check-label">
            {{ 'ที่อยู่ตามเบอร์' | translate }}
          </label>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button type="button" class="btn btn-secondary" >CLOSE</button>
      <button type="button" class="btn btn-success" >SELECT</button>
    </div>
  </ng-template>
  