<div class="mc-flex">
  <mc-header title="เปิดเบอร์ใหม่">
    <div class="header-icon-left">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap bg-white text-center">
    <div class="text-center">
      <img src="assets/images/icon/icon-ReadIDCard-04.png" class="icon">
    </div>
    <div>
    <div>Please open the passport page with</div>
    <div> customer image and place it on the scan box.</div>
    <div>กรุณาเปิดพาสปอร์ตหน้าที่มีรูปและวางที่ช่องแสกน</div>
    <hr>
    <div class="text-center">
    Or
    </div>
    <hr>
    <div class="text-center">
        <img src="assets/images/icon/icon-ReadIDCard-04.png" class="icon">
      </div>
       <div> Insert the ID card in the card reader slot.</div>
        <div>เสียบบัตรประชาชนที่ช่องอ่านบัตร</div>
  </div>
</div>