<div class="mc-flex">
  <mc-header title="เครื่องพร้อมเปิดเบอร์ใหม่">
    <div class="header-icon-left">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap bg-white">
    <div class="my-3">
      <div class="container">
        <div class="pt-2 pb-2 h5 row">
          <div class="col-6">
            <img src="assets/images/icon/icon-person.png" class="icon-person" />
            {{ transaction?.data?.customer?.titleName }}
            {{ transaction?.data?.customer?.firstName }}
            {{ transaction?.data?.customer?.lastName }}
          </div>
          <div class="col-6 text-right">
            <img src="assets/images/icon/sales_portal_green_phone.png" class="icon-mobile" />
            {{ transaction?.data?.simCard?.mobileNo | mobileNo }}
          </div>
        </div>
          <div class="card mb-3">
            <div class="card-header bg-pink text-white">สรุปรายการสั่งชื้อสินค้า</div>
            <div class="card-body">
              <p class="text-green">{{ priceOption?.campaign?.campaignName }}</p>
              <div class="text-light-grey">
                <p>
                  <i class="fa fa-circle mr-3 text-green"></i>
                  {{ priceOption?.productDetail?.name }}
                  <span *ngIf="priceOption?.productStock?.color">
                    {{ priceOption?.productStock?.color?'สี': '' }} {{ priceOption?.productStock?.color }}
                  </span>
                  <span *ngIf="priceOption?.productStock?.productSubType === 'HANDSET BUNDLE'">
                    (แถมซิม)
                  </span>
                  <span class="pull-right text-green">
                    ฿ {{ priceOption?.trade?.promotionPrice | number }}
                  </span>
                </p>
                <p *ngIf="priceOption?.trade?.advancePay?.amount > 0">
                  <i class="fa fa-circle mr-3 text-green"></i>
                  {{ priceOption?.trade?.advancePay?.description }}
                  <span class="pull-right text-green">
                    ฿ {{ priceOption?.trade?.advancePay?.amount | number }}
                  </span>
                </p>
              </div>
            </div>
            <div class="card-footer bg-transparent text-right">
              รวมยอดชำระ(รวมVAT)
              <span class="text-green ml-2">
                ฿ {{ summary([+priceOption?.trade?.promotionPrice, +priceOption?.trade?.advancePay?.amount]) | number }}
              </span>
            </div>
          </div>


        <div class="card mb-3 mt-4">
          <div class="card-header bg-green text-white">
            รายละเอียดการชำระ
          </div>
          <div class="card-body text-light-grey">
            <p *ngIf="priceOption?.trade?.advancePay?.installmentFlag === 'N'">
              <i class="fa fa-circle mr-3 text-green"></i>
              {{ priceOption?.productDetail?.name }}
              <span *ngIf="priceOption?.productStock?.color">
                สี {{ priceOption?.productStock?.color }}
              </span>
              <span *ngIf="priceOption?.productStock?.productSubType === 'HANDSET BUNDLE'">
                (แถมซิม)
              </span>
              <span class="pull-right text-green">฿ {{ priceOption?.trade?.promotionPrice | number }}</span>
            </p>
            <p *ngIf="priceOption?.trade?.advancePay?.installmentFlag === 'Y'">
              <span class="pull-right text-green">฿ {{ summary([
                +priceOption?.trade?.promotionPrice,
                +priceOption?.trade?.advancePay?.amount
                ]) | number }}</span>
            </p>
            <p>
              <i class="fa fa-circle mr-3 text-green"></i>
              ค่าแพ็กเกจบริการล่วงหน้า : ชำระเต็มจำนวน
              <span class="pull-right text-green">
                ฿ {{ priceOption?.trade?.advancePay?.amount | number }}
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-8">
            <img src="assets/images/icon/phone_qrcode.png" />
            <span class="pl-2">ชำระด้วย QR Code</span>
            <div class="text-pink">กรุณาเปิด Application เพื่อสแกน QR Code</div>
          </div>
          <div class="col-4 text-right">
            <img class="img-fluid" [src]="brannerImagePaymentQrCode.logo" />
          </div>
          <div class="col-12 mt-3">
            <!-- <form class="form-inline pull-right"> -->
            <div class="form-group">
              <label for="summaryInput" class="text-green">ยอดชำระ</label>
              <input style="text-align: center;" type="text" id="summaryInput" readonly
                class="form-control ml-3 text-green w-25"
                value="฿{{ summary([+priceOption?.trade?.promotionPrice, +priceOption?.trade?.advancePay?.amount]) | number }}">
            </div>
            <!-- </form> -->
          </div>
        </div>
      </div>

    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">CANCEL</button>
    <button class="btn btn-success" (click)="onNext()">PAY NOW</button>
  </mc-footer>
</div>