<div class="mc-flex">
    <mc-header title="ลูกค้าปัจจุบัน">
      <div class="header-icon-left">
        <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
      </div>
      <div class="header-icon-right">
        <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
      </div>
    </mc-header>
    <div class="mc-flex-wrap">
      <div class="mt-3 mb-3">
        <mc-wizard [wizards]="wizards" active="2"></mc-wizard>
        <mc-promotion-shelve [selected]="transaction?.data?.mainPackage" [promotionShelves]="promotionShelves"
          (completed)="onCompleted($event)" (condition)="onTermConditions($event)"></mc-promotion-shelve>
      </div>
    </div>
    <mc-footer>
      <button class="btn btn-secondary" (click)="onBack()">BACK</button>
      <button class="btn btn-success" (click)="onNext()" [disabled]="!(!!transaction?.data?.mainPackage)">NEXT</button>
    </mc-footer>
  </div>
  
  <ng-template #conditionTemplate>
    <div class="modal-header bg-transparent">
      <h5 class="modal-title pull-left text-green w-100 text-center">Term & Conditions</h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" [innerHTML]="condition?.conditionText"></div>
    <div class="modal-footer">
      <div class="w-100 text-center">
        <button class="btn btn-success px-5" (click)="modalRef.hide()">OK</button>
      </div>
    </div>
  </ng-template>