<div class="mc-flex">
    <mc-header title="{{'ซื้อเครื่องพร้อมเปิดเบอร์ใหม่'| translate}}">
        <div class="header-icon-left w-25">
            <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
        </div>
        <div class="header-icon-right w-25 text-right">
            <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
        </div>
    </mc-header>
    <div class="mt-5 pt-4">
        <mc-wizard [wizards]="wizards" active="2"></mc-wizard>
    </div>
    <div class="start-container bg-white" [ngClass]="{'extendWhiteBackground': disabledKeyIn}">
        <div class="row read-card">
            <div class="col-md-12 read-card-title">ระบุข้อมูลลูกค้า</div>
            <div class="col-md-3 text-center">
                <div class="idcard-container column">
                    <div style="padding-top:50px; color: #614e47;">เสียบบัตรประชาชน</div>
                    <img id="ImgRegNumVerifyScanCardLink" class="idcard-img-pc" src="assets/images/icon/icon-insert-idcard.png" alt="">
                    <div style="color: #8dc63f" *ngIf="progress === 100">ตรวจสอบสำเร็จ</div>
                    <div style="padding-bottom: 36px; color: #614e47;">
                        {{(progress === 100) ? 'โปรดดึงบัตรประชาชนออก' : 'โปรดเสียบบัตรประชาชน'}}
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div *ngIf="!disabledKeyIn" class="middile-line"></div>
            </div>
            <div class="col-md-4 text-left">
                <div *ngIf="progress === 100" class="otherid-container-pc" style="color:#614e47;">
                    <div>
                        <div class="mb-1">{{ profile?.titleName }} {{ profile?.firstName }} {{ profile?.lastName }}</div>
                        <div class="mb-1">เลขบัตรประชาชน {{ profile?.idCardNo | idCard }}</div>
                        <div class="mb-1">ที่อยู่ {{ profile?.homeNo }} หมู่ที่ {{ profile?.moo }} ตำบล{{profile?.tumbol}} อำเภอ{{profile?.amphur}} จังหวัด{{profile?.province}}</div>
                        <div class="mb-1">วันที่ออกบัตร {{ profile?.issueDate }}</div>
                    </div>
                </div>
                <div>
                    <div *ngIf="progress !== 100" class="col-md-12 text-center float-center" style="margin-top: 80px">
                        <div class="progress-container">
                            <div class="progress-header">
                                <!-- <div class="progress">
                                    <div class="progress-bar" style="width: 25%;" role="progressbar" aria-valuemin="25" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-success" role="progressbar" [style.width.%]="persoSim?.progress || 0" [attr.aria-valuenow]="persoSim?.progress" aria-valuemin="0" aria-valuemax="100">

                                </div> -->
                                <div class="progress md-progress" style="height: 20px">
                                    <div class="progress-bar bg-success" style="height: 20px" [style.width.%]="readCard?.progress || 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="waiting" style="color:#614e47;" *ngIf="(progress !== 100)">กรุณารอสักครู่...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center" *ngIf="progress === 100">
                <img class="profile img-fluid mt-5" [src]="'data:image/jpeg;base64,' + readCard?.profile?.imageReadSmartCard">
            </div>
        </div>

        <!-- <div class="progress md-progress" style="height: 20px">
            <div class="progress-bar" role="progressbar" style="width: 25%; height: 20px" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div> -->
        <mc-footer>
            <button class="btn btn-secondary col-md-2" id="btnRegNumVerifyStartBack" (click)="onBack() ">BACK</button>
            <button class="btn btn-success col-md-2" id="btnRegNumVerifyStartNext " [disabled]="!(progress === 100)" (click)="onNext()">NEXT</button>
        </mc-footer>
    </div>