<div class="mc-flex">
  <mc-header title="{{ 'เปิดเบอร์ใหม่' | translate }}">
    <div class="header-icon-left w-25">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right w-25 text-right"></div>
  </mc-header>
  <div class="mc-flex-wrap">
    <div class="mt-3">
      <mc-wizard [wizards]="wizards" active="2"></mc-wizard>
    </div>
    <div class="container-fluid">
      <p class=" text-center" translate>เลือกเบอร์โทรในแบบของคุณ</p>
      <hr>
      <a class="btn btn-block bg-white text-brown text-left mb-3" (click)="onVerifyInstantSim()">
        <img src="assets/images/icon/icon-sim.png" class="icon" />
        <label translate>เลือกเบอร์ที่ต้องการหรือ SCAN SIM</label>
      </a>
      <a class="btn btn-block bg-white text-brown text-left mb-3" (click)="onByPattern()">
        <img src="assets/images/icon/icon-paper.png" class="icon" />
        <label translate>เลือกเบอร์แบบระบุเงื่อนไข</label>
      </a>
    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
  </mc-footer>
</div>