<div class="mc-flex">
    <mc-header title="{{ 'เครื่องพร้อมเปิดเบอร์ใหม่' | translate }}">
    <div class="header-icon-left">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right">
        <!-- <mc-dropdown-language></mc-dropdown-language> -->
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap">
    <mc-shopping-cart [shoppingCart]="shoppingCart"></mc-shopping-cart>
    <div class="my-3">
      <mc-wizard [wizards]="wizards" active="4"></mc-wizard>
      <div class="container">
        <div class="card" *ngIf="eApplicationSrc">
          <div class="card-header bg-transparent text-center">{{ 'คำขอใช้บริการโทรศัพท์เคลื่อนที่' | translate }}</div>
          <div class="card-body img-eapplication">
            <img [src]="'data:image/jpeg;base64,'+eApplicationSrc" class="img-fluid mx-auto d-block" />
          </div>
        </div>
      </div>

    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
    <button class="btn btn-success" (click)="onNext()">NEXT</button>
  </mc-footer>
</div>