@import "~mychannel-shared-libs/scss/colors";

.banks,
.qr-codes {
    max-height: 110px;
    overflow: hidden;

    &.more {
        max-height: 100%;
    }

    .bank,
    .qr-code {
        max-width: 90px; 
        width: 100%; 
        margin: 0 auto; 
        padding: 5px; 
        border-radius: 3px;
        display: block;

        &::before {
            content: none;
        }

        &.active {
            background-color: $green;
        }

        &:hover {
            background-color: $green;
        }
    }
}








.qr-lazy-load-image {    
    // margin-left: 70px;
    // margin-right: 70px;
    margin: 0 auto;
    padding: 7px;
    width: 130px;

    &.active {
        // background-color: #8dc63f;   
        border-radius: 10px; 
        box-shadow: 0 0 3px 3px #8dc63f;
    }
}

.qr-lazy-load-image:hover {
    border-radius: 10px;
    box-shadow: 0 0 3px 3px #8dc63f;
    // background-color:#8dc63f;
}

.bank-lazy-load-image {    
    // margin-left: 80px;
    // margin-right: 70px;
    margin: 0 auto;
    padding: 7px;
    width: 70px;
    height: 70px;
    
    &.active {
        // background-color: #8dc63f;   
        border-radius: 10px; 
        box-shadow: 0 0 3px 3px #8dc63f;
    }
}

.bank-lazy-load-image:hover {
    border-radius: 10px;
    box-shadow: 0 0 3px 3px #8dc63f;
    // background-color:#8dc63f;
}

.col-1-5{
    width: 20%;
    float:left;
}

// .input-hidden {
//     position: absolute;
//     left: -9999px;
//   }
  
//   input[type=radio]:checked + label>img {
//     border: 1px solid #fff;
//     box-shadow: 0 0 3px 3px #090;
//   }

//   input[type=radio] + label>img {
//     // border: 1px dashed #444;
//     margin: 0 auto;
//     padding: 7px;
//     width: 130px;
//     // transition: 500ms all;
//   }