<div class="mc-flex">
  <mc-header title="เปิดเบอร์ใหม่">
    <div class="header-icon-left">
      <mc-header-icon src="/assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right">
      <mc-header-icon src="/assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap">
    <div class="mb-3 mt-3">
      <mc-wizard [wizards]="wizards" active="3"></mc-wizard>

      <mc-customer-address 
      [customerAddress]="billDeliveryAddress"
      [allZipCodes]="allZipCodes"
      [provinces]="getProvinces()"
      [amphurs]="amphurs"
      [tumbols]="tumbols"
      [zipCodes]="zipCodes"
      (provinceSelected)="onProvinceSelected($event)"
      (amphurSelected)="onAmphurSelected($event)"
      (tumbolSelected)="onTumbolSelected($event)"
      (zipCodeSelected)="onZipCodeSelected($event)"
      (completed)="onCompleted($event)"
      (error)="onError($event)"
      ></mc-customer-address>
      
    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
    <button class="btn btn-success" (click)="onNext()" [disabled]="!ebillingAddressValid">NEXT</button>
  </mc-footer>
</div>