<div class="mc-flex">
  <mc-header title="{{'ซื้อเครื่องเปล่า'| translate}}">
    <div class="header-icon-left">
    </div>
    <div class="header-icon-right">
      <!-- <mc-dropdown-language></mc-dropdown-language> -->
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()" [hidden]="transaction?.data?.mpayPayment?.mpayStatus?.statusDevice === 'SUCCESS'"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap bg-white">
    <div class="my-3">
      <div class="ml-5 mr-5">
        <div class="pt-3 pb-4  row">
          <div class="col-6">
            <img src="assets/images/icon/icon-person.png" class="icon-person" />
            {{ transaction?.data?.customer?.titleName }}
            {{ transaction?.data?.customer?.firstName }}
            {{ transaction?.data?.customer?.lastName }}
          </div>
          <div class="col-6 text-right">
            <img src="assets/images/icon/sales_portal_green_phone.png" class="icon-mobile" />
            {{ transaction?.data?.simCard?.mobileNo || transaction?.data?.receiptInfo?.telNo | mobileNo }}
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header bg-orange text-white">{{'สรุปรายการสั่งซื้อสินค้า'| translate}}</div>
          <div class="card-body">
            <p class="text-green">{{ priceOption?.campaign?.campaignName }}</p>
            <div class="text-light-grey">
              <p>
                <i class="fa fa-circle mr-3 text-green"></i>
                {{ priceOption?.productDetail?.name }}
                <span *ngIf="priceOption?.productStock?.color">
                  {{ priceOption?.productStock?.color? ('สี'| translate) : '' }} {{ priceOption?.productStock?.color }}
                </span>
                <span class="pull-right text-green">
                  ฿ {{ priceOption?.trade?.promotionPrice | number }}
                </span>
              </p>
            </div>
          </div>
          <div class="card-footer bg-transparent text-right">
            {{'รวมยอดชำระ (รวม VAT)'| translate}}
            <span class="text-green ml-2">
              ฿ {{ summary([+priceOption?.trade?.promotionPrice]) | number }}
            </span>
          </div>
        </div>

        <div class="card mb-3 mt-4">
          <div class="card-header bg-pink text-white"> {{'รายละเอียดการชำระ'| translate}} </div>
          <div class="card-body text-light-grey">

              <!-- ชำระค่าเครื่อง (ผ่อนแยก)-->
              <ng-container>
                <div class="mb-3">
                  <input class="form-check-input" type="radio" id="installmentNoAdvancePay" disabled=""
                    [checked]="transaction?.data?.payment?.paymentQrCodeType">
                  <label class="form-check-label" for="installmentNoAdvancePay">
                    {{ priceOption?.productDetail?.name }}
                    <span *ngIf="priceOption?.productStock?.color">
                      {{'สี'| translate}} {{ priceOption?.productStock?.color }}
                    </span>
                    <span *ngIf="transaction?.data?.payment?.paymentForm === 'FULL'">: {{'ชำระเต็มจำนวน'| translate}}</span>
                    <span *ngIf="transaction?.data?.payment?.paymentForm === 'INSTALLMENT'">: {{'ผ่อนชำระบัตรเครดิต'| translate}}</span>
                  </label>
                  <span class="pull-right text-green">
                    ฿ {{ priceOption?.trade?.promotionPrice | number }}
                  </span>
                  <div class="mt-1"
                  *ngIf="transaction?.data?.payment?.paymentForm !== 'INSTALLMENT' && transaction?.data?.payment?.paymentType === 'QR_CODE'">
                  <small class="text-muted">
                    ({{'ชำระโดย'| translate}} {{ summaryPageService.detailPayment(transaction?.data?.payment, priceOption?.trade) }})
                  </small>
                  <span class="text-pink"
                    *ngIf="transaction?.data?.mpayPayment?.mpayStatus?.statusDevice === 'WAITING'">( {{'รอชำระ' | translate}} )</span>
                  <span class="text-green"
                    *ngIf="transaction?.data?.mpayPayment?.mpayStatus?.statusDevice === 'SUCCESS'">
                    ( {{'ชำระแล้ว' | translate}} TX: {{transaction?.data?.mpayPayment?.tranId}} )
                  </span>

                </div>
                </div>
              </ng-container>



          </div>
        </div>
      </div>

      <div class="ml-5 mr-5">
        <div class="row">
          <div class="col-8">
            <img src="assets/images/icon/phone_qrcode.png" class="mr-2 float-left" width="30" />
            {{'ชำระด้วย QR Code' | translate }}
            <div class="text-pink mt-2">{{'กรุณาเปิด Application เพื่อสแกน QR Code'| translate}}</div>
          </div>
          <div class="col-4 text-right">
            <div
              *ngIf="transaction?.data?.payment?.paymentQrCodeType === 'THAI_QR' || transaction?.data?.advancePayment?.paymentQrCodeType === 'THAI_QR'">
              <img class="img-fluid w-75" src="assets/images/icon/Thai_Qr_Payment.png" />
            </div>
            <div
              *ngIf="transaction?.data?.payment?.paymentQrCodeType === 'LINE_QR' || transaction?.data?.advancePayment?.paymentQrCodeType === 'LINE_QR'">
              <img class="img-fluid w-75" src="assets/images/icon/Rabbit_Line_Pay.png" />
            </div>
          </div>
          <div class="col-12 mt-5">
            <form class="form-inline pull-right">
              <div class="form-group">
                <label for="summaryInput" class="text-green">{{'ยอดชำระ'| translate}}</label>
                <input style="text-align: center" type="text" id="summaryInput" disabled
                  class="form-control ml-3 text-green" value="฿ {{ getTotal() | number }}">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="text-center mt-5">
        <button class="btn btn-secondary btn-lg mr-3 pl-5 pr-5" (click)="onHome()"
          [hidden]="transaction?.data?.mpayPayment?.mpayStatus?.statusDevice === 'SUCCESS'">CANCEL</button>
        <button class="btn btn-success btn-lg pl-5 pr-5" (click)="onNext()">PAY NOW</button>
      </div>
    </div>
  </div>
</div>

