<div class="mc-flex">
  <mc-header title="{{ 'Premium' }}">
      <div class="header-icon-left">
          <mc-header-icon src="assets/images/icon/icon-back.png" id="button-upper-back" (click)="onBack()"></mc-header-icon>
      </div>
      <div class="header-icon-right">
          <mc-dropdown-language></mc-dropdown-language>
          <mc-header-icon src="assets/images/icon/icon-home.png" id="button-home" (click)="onHome()"></mc-header-icon>
      </div>
  </mc-header>
  <div class="mc-flex-wrap">
      <mc-wizard [wizards]="wizards" active="1"></mc-wizard>
      <app-shop-payment-detail [paymentDetail]="paymentDetail" [banks]="banks" [omiseBanks]="omiseBanks" (completed)="onPaymentDetailCompleted($event)" (error)="onPaymentDetailError($event)">
      </app-shop-payment-detail>
      
      <div class="card mb-3">
        <div class="card-header bg-blue text-white">
          ข้อมูลใบเสร็จรับเงิน
        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-12 col-sm-4 text-light-gray">ชื่อ</div>
            <div class="col-12 col-sm-8">
                <input type="text" class="form-control" autocomplete="off" maxlength="16" value="">
              </div>
          </div>
          <div class="form-group row">
            <div class="col-12 col-sm-4 text-light-gray">Tax ID</div>
            <div class="col-12 col-sm-8">
              <input type="text" class="form-control" autocomplete="off" maxlength="16" value="">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12 col-sm-4 text-light-gray">สาขาที่</div>
            <div class="col-12 col-sm-8">
              <input type="text" class="form-control" autocomplete="off" maxlength="12" disabled value="">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12 col-sm-4 text-light-gray">เบอร์ติดต่อ<span class="font-red">*</span></div>
            <div class="col-12 col-sm-8">
              <input type="tel" class="form-control " autocomplete="off" maxlength="10" value="{{phoneNumber}}"
                (input)="inputPhoneNumber($event.target.value)">
            </div>
          </div>
        </div>
      </div>
  </div>
  <mc-footer>
      <button class="btn btn-secondary" id="button-back" (click)="onBack()">BACK</button>
      <button class="btn btn-success" id="button-next" (click)="onNext()" [disabled]="isNotFormValid()">NEXT</button>
  </mc-footer>
</div>