<div class="mc-flex">
  <mc-header title="ย้ายค่ายเบอร์เดิม">
    <div class="header-icon-left">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>

  <div class="mc-flex-wrap">
    <div class="my-3">
      <mc-wizard [wizards]="wizards" active="1"></mc-wizard>
      <div class="container-fluid">

        <form [formGroup]="mnpForm">
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">ระบุเบอร์ที่ท่านต้องการย้ายค่าย</li>
              <li class="list-group-item">
                <input mcVisualKeyboard id="mobileNo" type="tel" class="form-control text-center mt-2" autocomplete="off" maxlength="10"
                  formControlName="mobileNo" [ngClass]="{'is-invalid':mnpForm.controls['mobileNo'].invalid && mnpForm.controls['mobileNo'].touched }">
                  <small class="invalid-feedback text-center" *ngIf="mnpForm.controls['mobileNo'].touched && mnpForm.controls['mobileNo'].errors">
                    *กรุณากรอกหมายเลขโทรศัพท์ให้ถูกต้อง
                  </small>
              </li>
              <li class="list-group-item text-center">ระบุรหัสขอย้ายค่าย</li>
              <li class="list-group-item mb-3">
                <div class="text-light-grey text-center">กด *151*เลขบัตรประชาชน 13 หลัก # แล้วโทรออก</div>
                <input mcVisualKeyboard id="pinCode" type="tel" class="form-control text-center " autocomplete="off" maxlength="8"
                  formControlName="pinCode" [ngClass]="{'is-invalid': !mnpForm.controls['pinCode'].valid && mnpForm.controls['pinCode'].touched }">
              </li>
            </ul>
          </div>
        </form>

      </div>
    </div>
  </div>

  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
    <button class="btn btn-success" (click)="onNext()" [disabled]="mnpForm.invalid">NEXT</button>
  </mc-footer>
</div>