.icon-person {
    width: 24px;
    margin-right: 10px;
}

.icon-mobile {
    width: 16px;
    margin-right: 10px;
}

.total {
    width: 150px;
}
.imagecorrect{
    width : 80px;
}
.title-center{
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
.font-md{
    font-size: 1.2rem;
}
