<div class="card md-3">
  <div class="card-header bg-light-blue text-white">
    รหัสผู้ขาย
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-sm-4">
        <p class="text-grey">
          รหัสพนักงานขาย
        </p>
      </div>
      <div class="col-12 col-sm-8">
        <p id="text-seller-location">
          <!-- {{ transaction?.create_by }} -->
        </p>
      </div>

      <div class="col-12 col-sm-4">
        <p class="text-grey">
          สาขา
        </p>
      </div>
      <div class="col-12 col-sm-8">
        <p id="text-location">
          สาขาอาคารเอไอเอส 2
        </p>
      </div>

      <div class="col-12 col-sm-4">
        <span class="text-grey">
          รหัสพนักงานขาย/ASC Code
        </span>
        <span class="text-red">*</span>
      </div>
      <div class="col-12 col-sm-8">
        <input type="text" class="form-control w-100" id="input-asc-code" autocomplete="off" [(ngModel)]="seller.sellerNo">
      </div>
    </div>
  </div>
</div>