<div class="mc-flex">
  <mc-header title="{{ 'เปิดเบอร์ใหม่' | translate }}">
    <div class="header-icon-left w-25">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right w-25 text-right">
      <!-- <mc-dropdown-language></mc-dropdown-language> -->
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap">
    <div class="mb-3 mt-3">
      <mc-wizard [wizards]="wizards" active="1"></mc-wizard>
      <div class="container-fluid">
        <div class="card">
          <h5 class="card-header bg-transparent text-center">ถ่ายรูปผู้ขอใช้บริการ</h5>
          <div class="card-body ">
            <div class="camera-width">
              <div *ngIf="!openCamera">
                <img *ngIf="!transaction?.data?.faceRecognition?.imageFaceUser" src="assets/images/icon/icon_people.png"
                  class="icon-people" />
              </div>
              <div [hidden]="!(openCamera && !transaction?.data?.faceRecognition?.imageFaceUser)"
                class="position-relative">
                <mc-camera [flip]="true" [countdown]="5" [onTakePhoto]="camera" (completed)="onCameraCompleted($event)"
                  (error)="onCameraError($event)" [settings]="settings">
                </mc-camera>
              </div>
              <div [hidden]="!transaction?.data?.faceRecognition?.imageFaceUser">
                <div class="center">
                  <img class="img-result"
                    [src]="'data:image/png;base64,'+ transaction?.data?.faceRecognition?.imageFaceUser" />
                </div>
              </div>

            </div>
          </div>
          <div class="card-footer bg-transparent text-center p-0">
            <div class="row">

              <div class="border-right p-3 col-12">
                <!-- WEB Step -->
                <div *ngIf="!isAisNative()">
                  <a href="#" (click)="$event.preventDefault(); onOpenCamera(); camera.next();" class="text-pink"
                    *ngIf="!transaction?.data?.faceRecognition?.imageFaceUser">
                    <img src="assets/images/icon/icon-camera.png" class="icon-camera">
                    <br>
                    <p>กรุณากดปุ่มถ่ายรูป</p>
                  </a>
                  <a href="#" (click)="$event.preventDefault(); onClearIdCardImage()" class="text-pink"
                    *ngIf="transaction?.data?.faceRecognition?.imageFaceUser">ถ่ายรูปใหม่
                  </a>
                </div>
                <!-- Native Step -->
                <div *ngIf="isAisNative()">
                  <a href="#" (click)="$event.preventDefault(); camera.next();" class="text-pink">
                    <span *ngIf="!transaction?.data?.faceRecognition?.imageFaceUser">ถ่ายรูป</span>
                    <span *ngIf="transaction?.data?.faceRecognition?.imageFaceUser">ถ่ายรูปใหม่</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">ย้อนกลับ</button>
    <button class="btn btn-success" (click)="onNext()"
      [disabled]="!transaction?.data?.faceRecognition?.imageFaceUser">ถัดไป</button>
  </mc-footer>
</div>