<div class="mc-flex">
  <mc-header title="ซื้อเครื่องเปล่า">
    <div class="header-icon-left">
       <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right">
       <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <app-mobile-care [promotionMock]="promotionMock" (verifyOtp)="checkVerify($event)"></app-mobile-care>
  <mc-footer>
    <button class="btn btn-secondary" id="button-back" (click)="onBack()">BACK</button>
    <button class="btn btn-success" id="button-next" (click)="onNext()" [disabled]="isVerify">NEXT</button>
  </mc-footer>
</div>