.brands {
    display: block;
    text-decoration: none;
    padding: 5px;
}

.search-form {
    button {
        width: 120px;
    }
}

:host /deep/ .dropdown-menu{
    width: 100%;
}

:host /deep/ .nav-tabs {
    border: none;
    .nav-item {
        color: #614e47;
        height: 47px;
        background-color: white;
        border-bottom: 6px solid #BFBFBF;
        &:not(:last-child) {
            border-right: 1px solid #ccc;
            border: none;
            border-bottom: 6px solid #BFBFBF;
        }

        &.active {            
            border-bottom: 6px solid #8cc53f;
        }

        .nav-link {
            color: inherit;
            padding: 8px;
            &.active,
            &:hover {
                border-color: white;        
                &:hover {
                    border-color: white;
                }
            }
        }
    }
}
/*
.visible,
.hidden {
  overflow: hidden;
  
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}*/
/*
.visible > div,
.hidden > div {

}
.hidden > div {
  margin-top: -10000px;
  transition: margin-top 0s 2s;
}
*/