<div class="mc-flex">
  <mc-header title="ซื้อเครื่องเปล่า">
    <div class="header-icon-left">
      <mc-header-icon src="assets/images/icon/icon-back.png" id="button-upper-back" (click)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" id="button-home" (click)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap">
    <div class="card border-0">
      <hr class="mt-0 mb-0">
      <div class="container-fluid mt-3 mb-3">
        <div class="row pl-3 pr-3">
            <div class="col-8 col-sm-10 text-left text-brown">
                <p class="text-light-green" id="text-campaign-name">{{ priceOption?.campaign?.campaignName }}</p>
                <span id="text-brand"> {{ priceOption?.productDetail?.brand }} </span>
                <span id="text-model"> {{ priceOption?.productDetail?.model }} </span>
                <span id="text-color"> สี {{ priceOption?.productStock?.colorName }}</span>
                <span id="text-amount"> จำนวน 1 เครื่อง</span>
              </div>
          <div class="col-4 col-sm-2 text-center text-brown">
            <img src="assets/images/icon/icon-cart.png" width="35px" class="mb-1" />
            <h4 class="text-light-green" id="text-total-price">
              ฿{{ priceOption?.trade?.promotionPrice | number }}
            </h4>
          </div>
        </div>
      </div>
    </div>

    <div class="my-3">
      <mc-wizard [wizards]="wizards" active="1"></mc-wizard>
      <!-- PAYMENT DETAIL FORM -->
      <form [formGroup]="paymentDetailForm">
        <div class="container-fluid">

          <div class="card mb-3">
            <div class="card-header bg-orange text-white">รูปแบบชำระเงิน</div>
            <div class="card-body py-2 text-light-green">
              ค่าเครื่อง
              {{ priceOption?.productDetail?.name }}
              <span *ngIf="priceOption?.productStock?.color">
                สี {{ priceOption?.productStock?.color }}
              </span>
              <span class="pull-right">
                ฿ {{ priceOption?.trade?.promotionPrice | number }}
              </span>
            </div>
           
            <div class="card-body py-2 border-top" [hidden]="!fullPayment">
              <div class="row">
                <div class="col-6 px-2">
                  <input type="radio" id="payment-debit" name="paymentType" value="DEBIT" formControlName="paymentType">
                  <label for="payment-debit">ชำระที่เคาน์เตอร์</label>
                </div>
                <div class="col-6 px-2">
                  <input type="text" disabled="" class="form-control-plaintext ml-2" value="เต็มจำนวน">
                </div>
              </div>
            </div>
            <div class="card-body py-2 border-top">
              <div class="row">
                <div class="col-6 px-2">
                  <input type="radio" id="payment-credit" name="paymentType" value="CREDIT"
                    formControlName="paymentType">
                  <label for="payment-credit">ชำระเงินด้วยบัตรเครดิต</label>
                </div>
                <div class="col-6 px-2">
                  <select class="form-control" formControlName="paymentForm">
                    <option value="FULL">เต็มจำนวน</option>
                    <option value="INSTALLMENT">ผ่อนชำระ</option>
                  </select>
                </div>
              </div>
            </div>

            <ng-container *ngIf="paymentDetailForm?.value?.paymentType === 'CREDIT'">
              <div class="card-body py-2 border-top">
                <div class="text-center text-pink">
                  <small>ระบุธนาคาร</small>
                </div>
                <div class="row banks" [ngClass]="{'more': isBankCollapsed}">
                  <ng-container *ngFor="let bank of getBanks()">
                    <div class="col-2 p-2">
                      <input type="radio" [attr.id]="bank?.abb" name="paymentBank" [value]="bank"
                        formControlName="paymentBank">
                      <label [attr.for]="bank?.abb" class="bank"
                        [ngClass]="{'active': paymentDetailForm?.value?.paymentBank?.abb === bank?.abb }">
                        <mc-lazy-load-image [src]="bank?.imageUrl"></mc-lazy-load-image>
                      </label>
                    </div>
                  </ng-container>
                </div>
                <div class="text-right" *ngIf="getBanks()?.length > 6 && !isBankCollapsed">
                  <a href="#" (click)="$event.preventDefault(); isBankCollapsed = !isBankCollapsed">
                    <u>More</u>
                  </a>
                </div>
              </div>
              <div class="card-body py-2 border-top"
                *ngIf="paymentDetailForm?.value?.paymentBank && banksPayment?.length > 0">
                <div class="text-center text-pink">
                  <small>กรุณาเลือกรูปแบบการชำระเงิน</small>
                </div>
                <div class="row">
                  <ng-container *ngFor="let bank of banksPayment">
                    <div class="col-3 p-2">
                      <input type="radio" id="payment-method-{{ bank?.percentage }}-{{ bank?.month }}"
                        name="paymentMethod" [value]="bank" formControlName="paymentMethod">
                      <label for="payment-method-{{ bank?.percentage }}-{{ bank?.month }}">{{ bank?.percentage }}%
                        {{ bank?.month }} เดือน
                      </label>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </form>
    </div>
  </div>
    <app-receipt-information (completed)="onComplete($event)" (error)="onError($event)" (action)="checkAction($event)">
  </app-receipt-information>

  <mc-footer>
    <button class="btn btn-secondary" id="button-back" (click)="onBack()">BACK</button>
    <button class="btn btn-success" id="button-next" (click)="onNext()" [disabled]="!isSuccess">NEXT</button>
  </mc-footer>
</div>