<div class="mc-flex">
  <mc-header title="ลูกค้าย้ายค่าย">
    <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap">
    <div class="my-3">
      <div class="container-fluid">
          <div class="sub-result text-center">
              <img src="assets/images/icon/icon-red-alert-circle.png" style="max-width: 80px;" />
              <h4 style="text-align: center;margin-top:25px;" class="text-pink">ไม่สามารถให้บริการได้ <br>
                กรุณาติดต่อพนักงานเพื่อดำเนินการ
              </h4>
              <h4 style="margin:25px;" class="text-pink">ขออภัยในความไม่สะดวก</h4>
            </div>
      </div>
    </div>
  </div>
  <mc-footer>
    <h4 style="margin:25px;" class="text-green">ขอบคุณที่เลือกใช้บริการ AIS</h4>
    <button class="btn btn-success" (click)="onHome()">MAIN MENU</button>
  </mc-footer>
</div>