.branner {
    width: 300px;
    margin: 0 auto;
}

.branner-qr {
    width: 90px;
    margin: 0 auto;
}

img.qr-logo:hover {
    background-color: #74a822;
}

.active {
    background-color: #74a822;
}
