<!-- <div class="mc-flex">
  <mc-header title="รายการสินค้า">
    <div class="header-icon-left">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>

 

  <div class="mc-flex-wrap">
    <div class="mb-3 mt-3">
      <mc-wizard [wizards]="wizards" active="4"></mc-wizard>

      
    </div>
    
  </div>


  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
    <button class="btn btn-success" (click)="onNext()" [disabled]="!identityValid">NEXT</button>
  </mc-footer>
</div> -->

<div class="mc-flex">
  <mc-header title="รายการสินค้า">
    <div class="header-icon-left">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap">
    <div class="mt-3 mb-3">
      <!-- <mc-wizard [wizards]="wizards" active="4"></mc-wizard> -->
      <div class="container-fluid">
        <div class="row step-number">
          <div class="step-number__wrapper col-12">
            <div class="row collapsed">
              <div class="step-number__container-pre col-3" [ngClass]="{'active':(currentStep) >= 2}">
                <div class="step-number__item" [ngClass]="{'active':(currentStep)==1, 'done': (currentStep)>1}">
                  <span class="step-circle">
                    <span>1</span>
                  </span>
                </div>
                <span class="step-text" [ngClass]="{'active':(currentStep) >= 1}">ข้อมูลชำระเงิน</span>
              </div>
              <div class="step-number__container-pre  col-3" [ngClass]="{'active':(currentStep) >= 3}">
                <div class="step-number__item" [ngClass]="{'active':(currentStep)==2, 'done': (currentStep)>2}">
                  <span class="step-circle">
                    <span>2</span>
                  </span>
                </div>
                <span class="step-text" [ngClass]="{'active':(currentStep) >= 2}">เลือกเบอร์และแพ็กเกจ</span>
              </div>
              <div class="step-number__container-pre  col-3" [ngClass]="{'active': (currentStep) >= 4}">
                <div class="step-number__item" [ngClass]="{'active':(currentStep)==3, 'done': (currentStep)>3}">
                  <span class="step-circle">
                    <span>3</span>
                  </span>
                </div>
                <span class="step-text" [ngClass]="{'active':(currentStep) >= 3}">สินค้าและบริการอื่น</span>
              </div>
              <div class=" col-3">
                <div class="step-number__item" [ngClass]="{'active':(currentStep)==4, 'done': (currentStep)>4}">
                  <span class="step-circle">
                    <span>4</span>
                  </span>
                </div>
                <span class="step-text" [ngClass]="{'active':(currentStep) >= 4}">สรุปรายการ</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header bg-pink text-white">สรุปรายการสั่งชื้อสินค้า</div>
          <div class="card-body">
            <p>AIS Hot Deal</p>
            <p>
              <i class="fa fa-circle mr-3 text-light-green"></i>
              APPLE iPhone 7 128GB สี SILVER
              <span class="pull-right text-light-green">฿ {{ 6125 | number:'1.2-2' }}</span>
            </p>
            <p>
              <i class="fa fa-circle mr-3 text-light-green"></i>
              แพ็กเกจค่าบริการรายเดือน 1,000 บาท (ไม่รวมVAT) รับส่วนลด 100 บาท นาน 10 เดือน
              <span class="pull-right text-light-green">฿ {{ 6125 | number:'1.2-2' }}</span>
            </p>
          </div>
          <div class="card-footer bg-transparent text-right">
            รวมยอดชำระ(รวมVAT) <span class="text-light-green ml-2">฿ {{ 2780 | number:'1.2-2' }}</span>
          </div>
        </div>

        <!-- <div class="card mb-3">
          <div class="card-header bg-light-green text-white">แพ็กเกจใช้บริการ</div>
          <div class="card-body">
            <p>
              <i class="fa fa-circle mr-3 text-light-green"></i>
              แพ็กเกจ 4G Hot Deal UL 499 บ.
              <span class="pull-right">
                <img src="assets/images/icon/icon-page.png" class="icon" />
              </span>
            </p>
          </div>
          <div class="card-footer bg-transparent text-right">
          </div>
        </div> -->

        <div class="card mb-3">
          <div class="card-header bg-purple text-white">สินค้าและบริการอื่น</div>
          <div class="card-body">
            <p>
              <i class="fa fa-circle mr-3 text-light-green"></i>
              AIS Mobile Care Swap+Replace เหมาจ่าย12เดือน 1,499
              <span class="pull-right">
                <img src="assets/images/icon/icon-page.png" class="icon" />
              </span>
            </p>
          </div>
          <div class="card-footer bg-transparent text-right">
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header bg-pink text-white">
            รายละเอียดการชำระ
          </div>
          <div class="card-body">
            <p>
              ข้อมูลการชำระสินค้า
            </p>
            <p>
              <i class="fa fa-circle mr-3 text-light-green"></i>
              ค่าเครื่อง: ผ่อนชำระเครดิตธนาคาร ไทยพาณิชย์ จำกัด (มหาชน) 0 % 10 เดือน (1,971 บาทต่อเดือน)
              <span class="pull-right text-light-green">฿ {{ 6125 | number:'1.2-2' }}</span>
            </p>
            <p>
              <i class="fa fa-circle mr-3 text-light-green"></i>
              ค่าแพ็กเกจบริการล่วงหน้า: ชำระเต็มจำนวน(เงินสด)
              <span class="pull-right text-light-green">฿ {{ 6125 | number:'1.2-2' }}</span>
            </p>
          </div>
          <div class="card-footer bg-transparent ">
            <p>
              ข้อมูลใบเสร็จรับเงิน
            </p>
            <div class="row">
              <p class="col-12 col-sm-4">
                <i class="fa fa-circle mr-3 text-light-green"></i>
                ผู้ชื้อ
              </p>
              <p class="col-12 col-sm-8 text-light-green">
                นางสาว พิมพิไล อินทร์ป่าน
              </p>
              <p class="col-12 col-sm-4">
                <i class="fa fa-circle mr-3 text-light-green"></i>
                ที่อยู่ในใบเสร็จรับเงิน
              </p>
              <p class="col-12 col-sm-8 text-light-green">
                75 หมู่ที่ 5 ตำบล/แขวง ปากช่อง อำเภอ/เขต หล่มสัก จังหวัด เพชรบูรณ์ 67110
              </p>
            </div>
          </div>
          <!-- <div class="card-footer bg-transparent">
            <p>
              ข้อตกลงรับสิทธิ์ต่อเนื่อง
            </p>
            <p>
              <i class="fa fa-circle mr-3 text-light-green"></i>
              รับสิทธิ์ต่อเนื่องนาน 12 เดือน
            </p>

          </div> -->
          <div class="card-footer bg-transparent text-right">
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header bg-light-blue text-white">
            รหัสผู้ขาย
          </div>
          <div class="card-body">
            <form>
              <div class="form-group row">
                <label for="staticEmail" class="col-6 col-sm-4 col-form-label">พนักงานขาย</label>
                <div class="col-6 col-sm-8">
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="MC">
                </div>
              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-6 col-sm-4 col-form-label">สาขา</label>
                <div class="col-6 col-sm-8">
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="สาขาอาคารเอไอเอส 2">
                </div>
              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-12 col-sm-4 col-form-label">รหัสพนักงานขาย/ASC Code <span class="text-red">*</span></label>
                <div class="col-12 col-sm-8">
                  <input type="text" class="form-control" id="staticEmail" value="" autocomplete="off">
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
  <mc-footer>
    <button class="btn btn-secondary" (click)="onBack()">BACK</button>
    <button class="btn btn-success" (click)="onNext()">NEXT</button>
  </mc-footer>
</div>