<div class="mc-flex">
    <mc-header title="{{'รายการสินค้า'| translate}}">
        <!-- <div class="header-icon-left w-25">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right w-25 text-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div> -->
    </mc-header>
    <div class="mt-5 pt-4">
        <mc-wizard [wizards]="wizards" active="2"></mc-wizard>
    </div>
    <div class="start-container bg-white" [ngClass]="{'extendWhiteBackground': disabledKeyIn}">
        <div class="row read-card">
            <div class="col-md-12 read-card-title">
                ระบุข้อมูลลูกค้า</div>
            <div class="col-md-5 text-center">
                <div class="idcard-container column">
                    <div style="padding-top:50px">เสียบบัตรประชาชน</div>
                    <a (click)="onCardImgPressCaller()">
                        <img id="ImgRegNumVerifyScanCardLink" class="idcard-img-pc" src="assets/images/icon/icon-insert-idcard.png" alt="">
                    </a>
                </div>
            </div>
            <div *ngIf="!disabledKeyIn" class="line-center-pc">
                <span>หรือ</span>
            </div>
            <div class="col-md-5 text-center">
                <div *ngIf="!disabledKeyIn" class="otherid-container-pc">
                    <div>กรอกเอกสารแสดงตน</div>
                    <div class="font-small1">({{ placeholder }})</div>
                    <form [formGroup]="identityForm">
                        <input id="txtRegNumVerifyStartKeyInCard" class="form-control text-center" placeholder="{{ placeholder }}" autocomplete="off" maxlength="13" formControlName="identity">
                        <div *ngIf="formErrors.identity" class="row col font-pink text-center">
                            * {{ formErrors.identity }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <mc-footer>
            <button class="btn btn-secondary" id="btnRegNumVerifyStartBack" (click)="onBackPressCaller()">BACK</button>
            <button class="btn btn-success" id="btnRegNumVerifyStartNext" [disabled]="false" (click)="onNext()">NEXT</button>
        </mc-footer>
    </div>