<div class="mc-flex">
    <mc-header title="{{ 'รายการสินค้า' | translate }}">
        <div class="header-icon-left">
            <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
        </div>
        <div class="header-icon-right">
            <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
        </div>
    </mc-header>
    <div class="mc-flex-wrap">
        <mc-shopping-cart [shoppingCart]="shoppingCart"></mc-shopping-cart>
        <div class="mt-3 mb-3">
            <mc-wizard [wizards]="wizards" active="2"></mc-wizard>
            <div class="container-fluid">
                <div class="card mb-3">
                    <div class="card-header bg-pink text-white shadow-sm">
                        {{ 'ระบุเลขที่ซิม' | translate }}
                    </div>
                    <div class="card-body">
                        <div class="text-center" *ngIf="simSerial?.simSerial && simSerial?.mobileNo">
                            <p class="text-grey" *ngIf="keyinSimSerial">
                                <label>{{ 'หมายเลขโทรศัพท์' | translate }} : {{ simSerial?.mobileNo | mobileNo }}</label>
                                <br> {{ 'เลขที่ซิม' | translate }} : {{ simSerial?.simSerial }}
                            </p>
                        </div>
                        <form [formGroup]="serialForm">
                            <div class="form-row">
                                <div class="col-9 col-sm-10">
                                    <input #serial type="tel" class="form-control" id="serial" placeholder="{{ 'ใส่เลขที่ซิม 13 หลัก' | translate }}" formControlName="serial" autocomplete="off" maxlength="13" [ngClass]="{ 'is-invalid' : serialForm.controls.serial.invalid && serialForm.controls.serial.touched && !(simSerial?.simSerial && simSerial?.mobileNo) }"
                                    />
                                </div>
                                <div class="col-3 col-sm-2">
                                    <button class="btn btn-verify-sim btn-block" [disabled]="serialForm.invalid" type="submit" (click)="checkSimSerial()">
                            {{ 'ตรวจสอบ' | translate }}
                          </button>
                                </div>
                                <small class="form-text text-danger" *ngIf="serialForm.controls.serial.touched && serialForm.controls.serial.errors && !(simSerial?.simSerial && simSerial?.mobileNo)">
                          {{ '* กรุณาระบุเลขที่ซิมให้ถูกต้อง' | translate }}
                        </small>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center" style="margin: 20px;">
                    {{'หรือ' | translate}}
                </div>
                <div class="card mb-3">
                    <div class="card-header bg-pink text-white shadow-sm">
                        {{ 'SCAN SIM' | translate }}
                    </div>
                    <div class="card-body">
                        <div class="text-center" *ngIf="simSerialByBarCode?.simSerial && simSerialByBarCode?.mobileNo">
                            <p class="text-grey" *ngIf="scanBarCode">
                                <label>{{ 'หมายเลขโทรศัพท์' | translate }} : {{ simSerialByBarCode?.mobileNo | mobileNo }}</label>
                                <br> {{ 'เลขที่ซิม' | translate }} : {{ simSerialByBarCode?.simSerial }}
                            </p>
                        </div>
                        <div id="btn-content-scan-barcode">
                            <button type="button" class="btn btn-scan-barcode" (click)="onOpenScanBarcode()" onclick="document.getElementById('serial').value = ''">{{keyinSimSerial === true ? 'สแกน Barcode อีกครั้ง' : 'สแกน Barcode'}}
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mc-footer>
        <button class="btn btn-secondary" (click)="onBack()">BACK</button>
        <button class="btn btn-success" (click)="onNext()" [disabled]="!simSerialValid">NEXT</button>
    </mc-footer>
</div>