<div class="mc-flex">
  <mc-header title="{{ 'เปิดเบอร์ใหม่' | translate }}">
    <div class="header-icon-left w-25">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right w-25 text-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap">
    <div class="mb-3 mt-3">
      <mc-wizard [wizards]="wizards" active="4"></mc-wizard>
      <div class="card bg-white">
        <div *ngIf="!isOpenSign" class="container-fluid ">
          <div class="">
            <p class="head-text "> เซ็นยืนยันข้อมูล </p>
            <hr>
            <span id="lblShrSignWriterContractInfo" class="multi-line font-gray">
              {{contractText}}
            </span>
            <div class="my-5">
              <span class="font-gray">กรุณาเซ็นลงในช่อง</span>
              <div class="sign-container" id="lblShrSignWriterContractInfoSignContainer">
                
                  <img src="" name="imgPhoto" id="imgPhoto" [hidden]="!signature"/>                
              </div>
              <div class="row mt-3">
                <div class="col-6" id="lblShrSignWriterContractInfoDate">
                  {{today}}
                </div>
                <div class="col-6 text-right ">
                    <button id="btnShrSignWriterSign"  class="btn btn-success" (click)="openSignature()">{{ signatureText }}</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mc-footer>
      <button class="btn btn-secondary" (click)="onBack()">BACK</button>
      <button class="btn btn-success" (click)="onNext()" [disabled]="!isSuccess" >NEXT</button>
    </mc-footer>
  </div>