.mobile-detail{
    color: grey;
    margin-top: -5px;
    display: block;
    &.del{
        text-decoration: line-through;
        text-decoration-color:red;
    }
    &.detail-header{
        color: black;
        margin-bottom: 5px;
    }
}

:host /deep/  .list-group-item.active{
    background-color: #74a822;
}