.mobile-detail{
    color: grey;
    margin-top: -5px;
    display: block;
    &.del{
        text-decoration: line-through;
        text-decoration-color:red;
    }
    &.detail-header{
        color: black;
        margin-bottom: 5px;
    }
}

:host /deep/  .list-group-item.active{
    background-color: #32ceb0;

    .fa-mobile{
        color:#fff !important;
    }

    .list-detail{
        color:#fff !important;
    }
}