.camera-width {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  // img {
  //   width: 100%;
  //   height: 576; 
  // }
}

canvas.captured-image-read {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: auto;
  margin-bottom: auto;
}

canvas.captured-image {
  display: block;
  width: 100%;
  height: 576px !important;
  object-fit: contain;
  text-align: center;
}

.signature {
  background-color: #b0a799;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  border-top-width: 1px;
}

.capture-and-sign {
  position: absolute;
  left: 0;
  top: 0;
  &.capture {
      z-index: 1;
      width: 100%;
  }
  &.signed {
      z-index: 2;
      left: 50%;
      top: 50%;
      width: 70% !important;
      transform: translate(-50%, -50%);
  }
  &.watermark {
      z-index: 3;
      height: 376px !important;
      width: 100% !important;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      // display: block;
      // object-fit: contain;
  }
}

.img-result {
  height: 576px !important;
  width: 100%;
}