<div class="mc-flex">
  <mc-header title="เครื่อง">
    <div class="header-icon-left">
      <mc-header-icon src="assets/images/icon/icon-back.png" (iconClick)="onBack()"></mc-header-icon>
    </div>
    <div class="header-icon-right">
      <mc-header-icon src="assets/images/icon/icon-home.png" (iconClick)="onHome()"></mc-header-icon>
    </div>
  </mc-header>
  <div class="mc-flex-wrap">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-white shadow-sm mb-2">
        <li class="breadcrumb-item">
          <a href="#" routerLink="/buy-product/brand">เครื่อง</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#" routerLink="/buy-product/product" [queryParams]="{ brand: params?.brand }">{{ params?.brand }}</a>
        </li>
        <li class="breadcrumb-item active">
          {{ productDetail?.name }}
        </li>
      </ol>
    </nav>


    <div class="container-fluid text-success mb-2" [mcLoading]="productDetailService">
      <div class="row bg-white shadow-sm pt-3 pb-3">
        <div class="col-12 col-sm-3 col-md-3 col-lg-2 mb-2">
          <div class="shadow-sm text-center">
            <mc-lazy-load-image [src]="priceOption?.productStock?.images?.thumbnail" errorSrc="assets/images/icon/img-placeholder.png"></mc-lazy-load-image>
          </div>
          <div class="text-center text-brown mt-2 mb-2">{{ priceOption?.productStock?.colorName }}
          </div>
        </div>
        <div class="col-12 col-sm-9 col-md-9 col-lg-10">
          <!-- brand -->
          <div class="row d-flex">
            <div class="col-8 col-sm-10 align-self-center">
              <h5 class="mt-0 text-brown">{{ productDetail?.name }} {{ hansetBundle }}</h5>
            </div>
            <div class="col-4 col-sm-2 text-right">
              <!-- <a href="#" (click)="$event.preventDefault();">
                <img src="assets/images/icon/icon-dv.png" class="icon-dv m-2">
              </a> -->
              <a href="#" (click)="getProductSpecification(params?.brand, params?.model); $event.preventDefault();">
                <img src="assets/images/icon/spec_mobile_phone.png" class="icon-dv m-2">
              </a>
            </div>
            <!-- Max Price -->
            <div class="col-12 text-right text-grey mb-2" *ngIf="priceOptions?.length">
              ราคาเครื่องเปล่า ฿{{ priceOptions[0]?.maximumNormalPrice | number}}
            </div>
            <!-- color -->
            <div class="col-12 color-picker">
              <div class="row d-flex">
                <div class="col-3 col-sm-2 text-grey align-self-center">
                  เลือกสี :
                </div>
                <div class="col-9 col-sm-10">
                  <div class="color-group" *ngFor="let product of productDetail?.products">
                    <div class="block-color check-outer" (click)=" product?.stock?.qty > 0 ? onProductStockSelected(product) : null  ; $event.preventDefault();"
                      [ngClass]="{ 'active': product?.colorName && product?.colorName === priceOption?.productStock?.colorName, 'bg-blue-grey' : product?.stock?.qty < 1 }">
                      <span class="check circle-qty " [ngStyle]="{ backgroundColor: '#' + product?.colorCode }"></span>
                      <span class="color-name"> {{product?.colorName || '&nbsp;'}}</span>
                    </div>
                    <div class="text-pink text-center"> {{ product?.stock?.qty > 0 ? '' : 'สินค้าหมดชั่วคราว' }}</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end color -->
          </div>
          <!-- end brand-->
        </div>
      </div>
    </div>

    <!-- campaigns -->
    <div class="bg-white price" *ngIf="priceOption?.campaign?.length <= 0 && tabs">
      <tabset [justified]="true">
        <tab *ngFor="let tab of tabs" [active]="tab.active" (select)="onCustomerGroupSelected(tab)">
          <ng-template tabHeading>
            <div class="{{tab.code}}" [ngClass]="{ 'active' : tab.active }"><b>{{ tab.name }}</b></div>
          </ng-template>
        </tab>
        <!-- <tab *ngFor="let tab of tabs" [heading]="tab.name" [active]="tab.active" (select)="onCustomerGroupSelected(tab)"></tab> -->
      </tabset>

      <div class="bg-white pb-3" *ngIf="campaignSliders?.length > 0">
        <div class="p-3">
          <img class="icon" src="assets/images/icon/sale_portal_pink_circle_megaphone.png">
          <span class="pl-3">
            โปรโมชั่นที่เข้าร่วมรายการ
            <span class="text-light-green">({{ campaignSliders?.length }})</span>
          </span>
        </div>
        <mc-campaign-slider [campaignSliders]="campaignSliders" (selected)="onCampaignSelected($event)"
          (promotionShelve)="onPromotionShelve($event)" (installmentList)="onInstallmentList($event)"></mc-campaign-slider>
      </div>
      <div class="not-found" *ngIf="campaignSliders?.length === 0">
        ไม่พบข้อมูลที่ท่านเลือก
      </div>
    </div>
    <!-- trades -->
    <div *ngIf="priceOption?.campaign?.campaignName && tabs">
      <div class="container-fluid">
        <div class="row bg-white shadow-sm py-3 mb-2">
          <div class="col-12">
            <img src="assets/images/icon/sales_portal_orange_circle_tag.png" class="icon" />
            <span class="ml-2">{{ priceOption?.campaign?.campaignName }}</span>
            <span class="pull-right text-light-green pt-2">รายละเอียดโครงการ</span>
          </div>
        </div>

        <div class="card mb-3" *ngFor="let privilege of priceOption?.campaign?.privileges">
          <div class="card-body">
            <h6 class="text-black">{{ privilege?.privilegeDesc || privilege?.privilegeName }} ({{ privilege?.ussdCode }})</h6>
            <!-- เครื่องโทรศัพท์ราคาพิเศษ AIS Hot Deal buffet net สำหรับลูกค้าปัจจุบัน -->
            <div class="mb-3">
              <div class="row">
                <div class="col-8">
                  <ng-container *ngIf="privilege?.minimumPromotionPrice || privilege?.maximumPromotionPrice">
                    <span class="text-light-green mr-2">
                      <span *ngIf="+privilege?.minimumPromotionPrice && !privilege?.maximumPromotionPrice">
                        ฿{{ +privilege?.minimumPromotionPrice | number }}
                      </span>
                      <span *ngIf="+privilege?.maximumPromotionPrice">
                        ฿{{ +privilege?.maximumPromotionPrice | number }}
                      </span>
                    </span>
                  </ng-container>
                  <ng-container *ngIf="+privilege?.minimumAdvancePay || +privilege?.maximumAdvancePay">
                    (ค่าแพ็กเกจชำระล่วงหน้า
                    <span *ngIf="+privilege?.minimumAdvancePay > 0">
                      ฿{{ +privilege?.minimumAdvancePay | number }}
                    </span>
                    <span *ngIf="+privilege?.minimumAdvancePay
                    && +privilege?.maximumAdvancePay 
                    && (+privilege?.minimumAdvancePay !== +privilege?.maximumAdvancePay)">
                      - </span>
                    <span *ngIf="+privilege?.maximumAdvancePay && (+privilege?.minimumAdvancePay !== +privilege?.maximumAdvancePay)">
                      ฿{{ +privilege?.maximumAdvancePay | number }}
                    </span>
                    )
                  </ng-container>
                </div>
                <div class="col-4 text-right">
                  <span class="text-orange">
                    ฿{{ (+privilege?.maximumPromotionPrice) + (+privilege?.maximumAdvancePay) | number }} (รวม VAT)
                  </span>
                </div>
                <div class="col-12 col-sm-6 pt-3 text-grey" *ngIf="+privilege?.maximumContract">
                  <img src="assets/images/icon/sales_portal_green_alert_person.png" class="icon-trade">
                  <span>ข้อตกลงรับสิทธ์ิต่อเนื่อง {{ privilege?.maximumContract }} เดือน</span>
                </div>
                <div class="col-12 col-sm-6 pt-3 text-grey" *ngIf="+privilege?.minimumPackagePrice">
                  <img src="assets/images/icon/sales_portal_green_phone.png" class="icon-trade">
                  <span><u>แพ็กเกจเริ่มต้น {{ +privilege?.minimumPackagePrice || 0 | number }} บาท/เดือน</u></span>
                  <!-- <span>แพ็คเกจเสริม {{ privilege?.minimumPackagePrice * 1.07 | number }} บาท ( รวมVAT )</span> -->
                </div>

                <div *ngIf="priceOption.minimumPackagePrice" class="row collapse align-middle detail-container" style="cursor: pointer">
                  <div class="columns small-2">
                    <img class="icon" src="assets/images/icon/sales_portal_green_phone.png">
                  </div>
                  <div class="columns small-10" (click)="onSelectPackage(priceOption)">
                    <label *ngIf="(filterCustomerGroup$ | async)?.flowId !=='102' && priceOption.minimumPackagePrice !== 0">
                      <u>
                        {{ MINIMUM_PACKAGE }} {{ priceOption.minimumPackagePrice | number }} {{ BATH }}
                      </u>
                    </label>
                    <label *ngIf="(filterCustomerGroup$ | async)?.flowId ==='102' && priceOption.minimumPackagePrice !== 0">
                      <u>
                        แพ็คเกจเสริม {{ (priceOption.minimumPackagePrice*1.07) | number }} {{ BATH }} ( รวมVAT )
                      </u>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <mc-trade-slider [tradeSliders]="privilege | privilegeToTradeSlider" (selected)="onTradeSelected($event)" (installmentClick)="viewInstallment($event)"></mc-trade-slider>
          </div>
        </div>
      </div>
    </div>
    <!---------------------->
  </div>
</div>

<ng-template #productSpecTemplate>
  <div class="modal-header bg-primary">
    <h5 class="modal-title pull-left text-white">Spec: {{ product?.name }}</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container-fluid">
    <div class="row bg-spac pt-2 pb-2">
      <div class="col-6 ">
        CPU Type
      </div>
      <div class="col-6">
        {{ productSpec?.cpuType || '-' }}
      </div>
    </div>
    <div class="row pt-2 pb-2">
      <div class="col-6">
        CPU Core</div>
      <div class="col-6">
        {{ productSpec?.cpuCore || '-' }}
      </div>
    </div>
    <div class="row bg-spac pt-2 pb-2">
      <div class="col-6">
        CPU Speed
      </div>
      <div class="col-6">
        {{ productSpec?.cpuSpeed || '-' }}</div>
    </div>
    <div class="row pt-2 pb-2">
      <div class="col-6">
        Operating System</div>
      <div class="col-6">
        {{ productSpec?.operatingSystem || '-' }}</div>
    </div>
    <div class="row bg-spac pt-2 pb-2">
      <div class="col-6">
        Operating System Version</div>
      <div class="col-6">
        {{ productSpec?.operatingSystemVersion || '-' }}</div>
    </div>
    <div class="row pt-2 pb-2">
      <div class="col-6">
        SIM Slot</div>
      <div class="col-6">
        {{ productSpec?.SIMSlot || '-' }}</div>
    </div>
    <div class="row bg-spac pt-2 pb-2">
      <div class="col-6">
        Screen Size</div>
      <div class="col-6">
        {{ productSpec?.screenSize || '-' }}</div>
    </div>
    <div class="row pt-2 pb-2">
      <div class="col-6">
        Screen Resolution</div>
      <div class="col-6">
        {{ productSpec?.screenResolution || '-' }}</div>
    </div>
    <div class="row bg-spac pt-2 pb-2">
      <div class="col-6">
        Main Camera</div>
      <div class="col-6">
        {{ productSpec?.mainCamera || '-' }}</div>
    </div>
    <div class="row pt-2 pb-2">
      <div class="col-6">
        Secondary Camera</div>
      <div class="col-6">
        {{ productSpec?.secondaryCamera || '-' }}</div>
    </div>
    <div class="row bg-spac pt-2 pb-2">
      <div class="col-6">
        Video</div>
      <div class="col-6">
        {{ productSpec?.video || '-' }}</div>
    </div>
    <div class="row pt-2 pb-2">
      <div class="col-6">
        Spec Card</div>
      <div class="col-6">
        {{ productSpec?.specCard || '-' }}</div>
    </div>
    <div class="row bg-spac pt-2 pb-2">
      <div class="col-6">
        Memory</div>
      <div class="col-6">
        {{ productSpec?.memory || '-' }}
      </div>
    </div>
  </div>
</ng-template>


<ng-template #selectPackageTemplate>
  <div class="modal-header bg-primary">
    <h5 class="modal-title text-white">แพ็กเกจที่ร่วมรายการ</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container-fluid">
    <div class="row bg-spac pt-2 pb-2">
      <mc-promotion-shelve [view]="true" class="select-package-template" [promotionShelves]="promotionShelves"></mc-promotion-shelve>
    </div>
  </div>
</ng-template>


<ng-template #installmentTemplate>
  <div class="modal-header bg-primary">
    <h5 class="modal-title text-white">บัตรที่ร่วมรายการผ่อนชำระ</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- HEAD_COLUMN -->
  <div class="container-fluid">
    <ng-container [ngSwitch]="true">
      <div class="row bg-spac pt-2 pb-2 background-color">
        <!-- showAdvancePay False -->
        <ng-container *ngSwitchCase="!privilegeTradeInstallmentGroup[0].showAdvancePay">
          <div class="col-4">
          </div>
          <div class="col-4">
          </div>
          <div class="col-4">
            ผ่อนชำระค่าเครื่อง (บาท / เดือน)
          </div>
        </ng-container>
        <!-- showAdvancePay True and fromTrade True && privilegeTradeInstallmentGroup.fromTrade-->
        <ng-container *ngSwitchCase="privilegeTradeInstallmentGroup[0].showAdvancePay && privilegeTradeInstallmentGroup[0].fromTrade">
          <div class="col-6 ">
            ผ่อนชำระค่าเครื่องพร้อมค่าแพ็กเกจล่วงหน้า (บาท / เดือน)
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <div class="col-4">
          </div>
          <div class="col-4">
            ผ่อนชำระค่าเครื่อง (บาท / เดือน)
          </div>
          <div class="col-4">
            ผ่อนชำระค่าเครื่องพร้อมค่าแพ็กเกจล่วงหน้า (บาท / เดือน)
          </div>
        </ng-container>
      </div>
    </ng-container>

    <div class="row bg-spac pt-2 pb-2 justify-content-md-center border-buttom" *ngFor="let installmentList of privilegeTradeInstallmentGroup">
      <ng-container [ngSwitch]="true">

        <ng-container *ngSwitchCase="!installmentList.showAdvancePay">
          <div class="col-4">
            <div class="row text-center">
              <div class="col-12">
                {{installmentList?.percentage}}% {{installmentList?.month}} เดือน
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-4" *ngFor="let bank of installmentList?.banks">
                    <img class="img-fluid img-thumbnail" [src]="bank.imageUrl" onError="this.src='./assets/images/icon/img-placeholder.png';">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
          </div>
          <div class="col-4 align-self-center">
            <span *ngIf="installmentList.priceList[0] === installmentList.priceList[installmentList.priceList.length-1]">฿{{
              installmentList.priceList[0] | number }}</span>
            <span *ngIf="installmentList.priceList[0] !== installmentList.priceList[installmentList.priceList.length-1]">
              ฿{{ installmentList.priceList[0] | number }} - ฿{{
              installmentList.priceList[installmentList.priceList.length-1] | number }}</span>
          </div>
        </ng-container>

        <!-- && privilegeTradeInstallmentGroup.fromTrade -->
        <ng-container *ngSwitchCase="installmentList.showAdvancePay && installmentList.fromTrade">
          <div class="col-6">
            <div class="row text-center">
              <div class="col-12">
                {{installmentList?.percentage}}% {{installmentList?.month}} เดือน
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-4" *ngFor="let bank of installmentList?.banks">
                    <img class="img-fluid img-thumbnail" [src]="bank.imageUrl" onError="this.src='./assets/images/icon/img-placeholder.png';">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 align-self-center">
            <span *ngIf="installmentList.priceList[0] === installmentList.priceList[installmentList.priceList.length-1]">฿{{
              installmentList.priceList[0] | number }}</span>
            <span *ngIf="installmentList.priceList[0] !== installmentList.priceList[installmentList.priceList.length-1]">
              ฿{{ installmentList.priceList[0] | number }} - ฿{{
              installmentList.priceList[installmentList.priceList.length-1] | number }}</span>
          </div>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <div class="col-4">
            <div class="row text-center">
              <div class="col-12">
                {{installmentList?.percentage}}% {{installmentList?.month}} เดือน
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-4" *ngFor="let bank of installmentList?.banks">
                    <img class="img-fluid img-thumbnail" [src]="bank.imageUrl" onError="this.src='./assets/images/icon/img-placeholder.png';">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row text-center">
              <span *ngIf="installmentList.priceList[0] === installmentList.priceList[installmentList.priceList.length-1]">
                ฿{{installmentList.priceList[0] | number }}</span>
              <span *ngIf="installmentList.priceList[0] !== installmentList.priceList[installmentList.priceList.length-1]">
                ฿{{ installmentList.priceList[0] | number }} - ฿{{
                installmentList.priceList[installmentList.priceList.length-1] | number }}</span>
            </div>
          </div>
          <div class="col-4">
            <div class="row text-center">
              <span *ngIf="installmentList.advancePayList[0] === installmentList.advancePayList[installmentList.advancePayList.length-1]">
                ฿{{installmentList.advancePayList[0] | number }}</span>
              <span *ngIf="installmentList.advancePayList[0] !== installmentList.advancePayList[installmentList.advancePayList.length-1]">
                ฿{{ installmentList.advancePayList[0] | number }} -
                ฿{{installmentList.advancePayList[installmentList.advancePayList.length-1] | number }}</span>
            </div>
          </div>
        </ng-container>


      </ng-container>
    </div>
  </div>
  <button type="button" class="btn btn-primary" aria-label="Close" (click)="modalRef.hide()">
    CLOSE
  </button>
</ng-template>