.icon-dv,
.icon {
    width: 40px;
}


.circle-qty {
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #ccc;
    margin: 5px;

    &.active {
        box-shadow: 0 0 0 2px #9cc965;
        border: 5px solid #fff;
        width: 45px;
        height: 45px;
        line-height: 37px;
    }
}

@media only screen and (min-width: 1024px) {
    .color-picker {
        position: absolute;
        bottom: 65px;
    }
}

.select-color {
    width: 65px;
    margin-top: 12px;
}

.bg-spac {
    background-color: #f2f2f2;
}

/* campaign */
.not-found {
    text-align: center;
    margin: 0 auto;
    padding: 100px 0;
}

:host /deep/ .nav-tabs {
    border: none;
    .nav-item {
        color: #614e47;
        height: 47px;
        background-color: white;
        border-bottom: 3px solid #BFBFBF;
        /*&:not(:last-child) {*/
            border-right: 1px solid #ccc;
            border: none;
            border-bottom: 5px solid #BFBFBF;
            height: 153px;
        /*}*/

        &.active {
            border-bottom: 5px solid #BFBFBF;
        }

        .nav-link {       
            color: inherit;     
            padding: 8px;
            white-space: nowrap;
            overflow: hidden;
            &.active{
                background-color: #8cc53f;
                border-color: #8cc53f;        
                &:hover {
                    border-color: #8cc53f;
                }
            }   
        }
    }
}

.select-package-template {
    width: 100%;
}

/* trades */
.icon-trade {
    width: 16px;
    margin: 0 10px 0 50px;
}

@media only screen and (max-width: 425px) {
    .icon-trade {
        margin-left: 0;
    }
}

.background-color {
    background-color: #8dc63f;
}

.border-buttom {
    border-bottom: 1px solid #989898;
}

:host /deep/  .modal-dialog {
    max-width: 800px;
    margin: 1.75rem auto;
}
.check-outer {
    position: relative;
    display: block;
    border-radius: 50%;
    float: left;
}

.block-color{
    border: solid;
    height: 50px;
    padding-left: 0.5em;
    min-width: 130px;
    margin-top: 10px;
    line-height: 20px;
    padding-right: 0.6em;
    border-radius: 5px;
    border-color: #bfbfbf;
    border-width: thin;
    margin-right: 10px;
    color: black;
    background-color: #fff;

    &.active {
        box-shadow: 0 0 0 4px #9cc965;
        border: #fff;
    }
}

.color-name{
   display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding-left: 50px;
    padding-top: 10px;
}

.check {
    position: absolute;
    display: block;
    padding: 0.2em;
    left: 5.2px;
    text-align: center;
}

.color-group{
   display: inline-block;
   margin-right: 10px;
   height: 78px;
}

.MC001{
    background-image : url('/assets/images/icon/MC001.png');
    background-repeat: no-repeat;
    background-size: 140px;
    padding-top: 105px;
    background-position: top;
    &.active {
        color: #000;
        background-image : url('/assets/images/icon/MC001-active.png');
    }
}

.MC002{
    background-image : url('/assets/images/icon/MC002.png');
    background-repeat: no-repeat;
    background-size: 140px;
    padding-top: 105px;
    background-position: top;
    &.active {
        color: #000;
        background-image : url('/assets/images/icon/MC002-active.png');
    }
}

.MC003{
    background-image : url('/assets/images/icon/MC003.png');
    background-repeat: no-repeat;
    background-size: 140px;
    padding-top: 105px;
    background-position: top;
    &.active {
        color: #000;
        background-image : url('/assets/images/icon/MC003-active.png');
    }
}

.MC004{
    background-image : url('/src/assets/images/icon/MC004.png');
    background-repeat: no-repeat;
    background-size: 140px;
    padding-top: 105px;
    background-position: top;
    &.active {
        color: #000;
        background-image : url('/src/assets/images/icon/MC004-active.png');
    }
}

.price{
    height: 72vh;
}

.center-span-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}