<div class="container-fluid">
  <div class="card md-3">
    <div class="card-header bg-deep-orange text-white">
      รหัสผู้ขาย
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-4">
          <p class="text-grey">
            ชื่อพนักงานขาย
          </p>
        </div>
        <div class="col-12 col-sm-8">
          <p id="text-seller-location">
            {{ username }}
          </p>
        </div>

        <div class="col-12 col-sm-4">
          <p class="text-grey">
            สาขา
          </p>
        </div>
        <div class="col-12 col-sm-8">
          <p id="text-location">
            {{ locationName }}
          </p>
        </div>

        <div class="col-12 col-sm-4">
          <span class="text-grey">
            รหัสพนักงานขาย/ASC Code
          </span>
          <span class="text-red">*</span>
        </div>
        <div class="col-12 col-sm-8">
          <input type="tel" class="form-control w-100" id="input-asc-code" maxlength="8" autocomplete="off" [(ngModel)]="ascCode" (keypress)="keyPress($event)">
        </div>
      </div>
    </div>
  </div>
</div>